.info-panel {
	&__container {
		position: absolute;
		top: 60px;
		right: -18px;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 340px;
		padding: 32px;
		border-radius: 16px;
		background: var(--color-purple-darkest);
		cursor: default;
	}

	&__content-section {
		width: 100%;

		&-title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 1rem;

			h3 {
				font-size: 0.75rem;
				font-weight: bold;
				text-transform: uppercase;
			}

			.divider {
				flex: 1;
				border-top: 1px solid var(--color-purple-lighter);
			}
		}

		&-body {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			padding: 1rem 0 0;

			&-item {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 60px;

				&.max-4 {
					width: 25%;
				}

				> a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 48px;
					height: 48px;
					padding: 8px;
					border-radius: 50%;

					&:hover {
						background: var(--color-azure-gradient-25);
					}
				}
			}
		}

		&-footer {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			padding: 1.25rem 0 0;
			border-top: 1px solid var(--color-purple-lighter);

			&-item {
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 1;

				> a {
					font-size: 14px;
				}
			}
		}
	}
}
