@use 'styles/variables/colors';
@use 'styles/variables/animations';
@use 'styles/variables/typography';
@use 'styles/variables/dimensions';

.Container {
	> * {
		&:not(:first-child) {
			margin-top: 9px;
		}
	}

	.Stats {
		display: flex;
		flex-direction: column;
		gap: 16px;

		> * {
			&:last-child {
				display: none;
			}
		}

		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
			flex-direction: row;
			margin: 16px 0;

			> * {
				flex: 1;
				align-self: stretch;

				&:last-child {
					display: flex;
				}
			}
		}
	}

	.Links {
		padding: 8px 16px;
		margin-top: 16px;

		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
			margin-top: 0;
		}

		> a {
			color: #{colors.$grey-lighter-2};
			font-size: #{typography.$size-large};
			font-weight: #{typography.$font-weight-bold};

			@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
				font-size: 24px;
			}

			transition: color #{animations.$time-short} ease-in-out;

			&:not(:first-of-type) {
				margin-left: 40px;
			}

			&.Active {
				color: #{colors.$text-primary};
				text-shadow: #{colors.$text-glow-primary} !important;
			}

			&:hover {
				text-shadow: none;
			}
		}
	}

	div[class*='GenericTable_Grid'] {
		padding: 0;
	}

	div[class*='GenericTable_Controls'] {
		padding-left: 0;
		padding-right: 0;
	}
}
