@use 'styles/variables/colors';
@use 'styles/variables/animations';
@use 'styles/variables/typography';
@use 'styles/variables/dimensions';

.Container {
	> * {
		&:not(:first-child) {
			margin-top: 9px;
		}
	}

	.Stats {
		display: flex;
		flex-direction: column;
		gap: 16px;

		> * {
			&:last-child {
				display: none;
			}
		}

		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
			flex-direction: row;
			margin: 16px 0;

			> * {
				flex: 1;
				align-self: stretch;

				&:last-child {
					display: flex;
				}
			}
		}
	}

	.Links {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 8px 0;
		margin-top: 16px;

		@media only screen and (min-width: #{dimensions.$breakpoint-mobile-xl}) {
			flex-direction: row;
			justify-content: space-between;
			margin-top: 0;
		}

		.LinksWrapper {
			display: flex;
			justify-content: space-around;
			width: 100%;
			padding: 0.5rem 0;

			@media only screen and (min-width: #{dimensions.$breakpoint-mobile-xl}) {
				display: block;
				width: auto;
			}

			@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
				font-size: #{typography.$size-medium};
			}

			> a {
				color: #{colors.$grey-lighter-2};
				font-weight: #{typography.$font-weight-bold};

				@media only screen and (min-width: #{dimensions.$breakpoint-mobile-l}) {
					font-size: #{typography.$size-medium};
				}

				@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
					font-size: #{typography.$size-large};
				}

				transition: color #{animations.$time-short} ease-in-out;

				&:not(:first-of-type) {
					@media only screen and (min-width: #{dimensions.$breakpoint-mobile-xl}) {
						margin-left: 2rem;
					}
				}

				&.Active {
					color: #{colors.$text-primary};
					text-shadow: #{colors.$text-glow-primary} !important;
				}

				&:hover {
					text-shadow: none;
				}
			}
		}

		> button {
			margin-left: auto;
		}
	}

	div[class*='GenericTable_Grid'] {
		padding: 0;
	}

	div[class*='GenericTable_Controls'] {
		padding-left: 0;
		padding-right: 0;
	}
}

.Hidden {
	display: none !important;
}