.Container {
	padding: 16px;

	> * {
		&:not(:first-child) {
			margin-top: 9px;
		}
	}

	.Stats {
		display: flex;

		> * {
			flex: 1;

			&:not(:last-child) {
				margin-right: 16px;
			}
		}

		@media only screen and (max-width: 700px) {
			flex-direction: column;

			> * {
				margin-right: 0 !important;

				&:not(:first-child) {
					margin-top: 8px;
				}

				&:last-child {
					display: none;
				}
			}
		}
	}

	.Links {
		padding: 8px 16px;

		> a {
			color: var(--color-grey-lighter-2);
			font-size: 24px;
			font-weight: 700;

			transition: color var(--animation-time-short) ease-in-out;

			&:not(:first-of-type) {
				margin-left: 40px;
			}

			&.Active {
				color: var(--color-text-primary);
				text-shadow: var(--glow-text-white) !important;
			}

			&:hover {
				text-shadow: none;
			}
		}
	}

	div[class*='GenericTable_Grid'] {
		padding: 0;
	}

	div[class*='GenericTable_Controls'] {
		padding-left: 0;
		padding-right: 0;
	}
}
