@use 'styles/variables/dimensions';

.Container {
	> * {
		&:not(:first-child) {
			margin-top: 9px;
		}
	}

	.Stats {
		display: flex;
		flex-direction: column;
		gap: 16px;

		> * {
			&:last-child {
				display: none;
			}
		}

		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
			flex-direction: row;
			margin: 16px 0;

			> * {
				flex: 1;
				align-self: stretch;

				&:last-child {
					display: flex;
				}
			}
		}
	}

	.Links {
		padding: 8px 16px;
		margin-top: 16px;

		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
			margin-top: 0;
		}

		> a {
			color: var(--color-grey-lighter-2);
			font-size: 18px;
			font-weight: 700;

			@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
				font-size: 24px;
			}

			transition: color var(--animation-time-short) ease-in-out;

			&:not(:first-of-type) {
				margin-left: 40px;
			}

			&.Active {
				color: var(--color-text-primary);
				text-shadow: var(--glow-text-primary) !important;
			}

			&:hover {
				text-shadow: none;
			}
		}
	}

	div[class*='GenericTable_Grid'] {
		padding: 0;
	}

	div[class*='GenericTable_Controls'] {
		padding-left: 0;
		padding-right: 0;
	}
}
