@use 'styles/variables/colors';

.Back {
	display: flex;
	align-items: center;

	color: #{colors.$text-primary};
	font-size: 14px;
	font-weight: bold;

	&:hover {
		color: #{colors.$text-primary};
		text-shadow: #{colors.$text-glow-white};
	}

	svg {
		height: 1rem;
		width: 1rem;
		margin-right: 4px;
	}
}

.Header {
	display: flex;
	align-items: center;
	padding: 16px 0;

	font-weight: 700;

	h1 {
		font-size: 24px;
		margin-left: 8px;

		@media only screen and (max-width: 500px) {
			font-size: 18px;
		}
	}

	.Icon {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 40px;
		width: 40px;
		min-width: 40px;
		min-height: 40px;

		border-radius: 8px;
		overflow: hidden;

		img {
			object-fit: contain;
			height: 40px;
			width: 40px;
		}
	}
}

.Loading {
	padding: 24px;
}

.Error {
	padding: 32px;
	text-align: center;

	a {
		display: block;
		margin-top: 16px;
	}
}
