.Header {
	display: flex;
	align-items: center;
	padding: 16px;

	font-weight: 700;

	h1 {
		margin-left: 24px;
	}

	.Icon {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 40px;
		width: 40px;

		border-radius: 8px;

		img {
			width: 60%;
		}
	}
}

.Loading {
	padding: 24px;
}
