.TriggerContentContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.DropdownContentContainer {
	position: absolute;
	top: 100%;
	right: -1px;
	display: block;
	z-index: 1;
	margin-top: -12px;
	opacity: 0;
	transition: all var(--animation-time-short) linear;
	pointer-events: none;
}

.TriggerContentContainer:hover .DropdownContentContainer {
	display: block;
	opacity: 1;
	pointer-events: all;
}
