.TriggerContentContainer {
	display: flex;
	align-items: center;
	height: 100%;
	cursor: pointer;
}

.DropdownContentContainer {
	position: absolute;
	top: calc(100% + 2px);
	right: -1px;
	display: none;
	z-index: 1;
}

.Content {
	margin-top: 4px;
}

.TriggerContentContainer:hover .DropdownContentContainer {
	display: block;
}
