.Toggle {
    --toggle-dimension: 48px;

    position: relative;
    width: var(--toggle-dimension);
    height: calc(var(--toggle-dimension)/2);
    border-radius: 12px;

    border: 1px solid var(--color-accent-1);

    cursor: pointer;
}

.On > div {
    top: -1px;
    left: calc(100% - var(--toggle-dimension)) / 2)
}

.Toggle > div {
    position: absolute;
    top: -1px;
    left: -1px;

    height: calc(var(--toggle-dimension)/2);
    width: calc(var(--toggle-dimension)/2);
    border-radius: 50%;

    background: var(--color-accent-1);
}