.Notification {
    position: fixed;
    top: 24px;
    right: 32px;

    padding: 32px;
    border-radius: 16px;

    background: var(--background-purple-card-20);
    opacity: 1; 

    z-index: 10000;

    transition: transform var(--animation-time-medium) ease-in-out, opacity var(--animation-time-medium) ease-in-out;
}

.Hidden {
    transform: translateX(calc(100% + 48px));
    opacity: 0;
}