@use 'styles/variables/colors';
@use 'styles/variables/animations';
@use 'styles/variables/typography';

.NotificationDrawer {
	display: flex;
	position: fixed;
	top: 9px;
	left: 50%;
	width: 311px;
	height: auto;
	padding: 16px;
	border-radius: 10px;

	z-index: 10000;

	background: #{colors.$background-primary};

	transform: translateY(0%) translateX(-50%);

	transition: transform #{animations.$time-medium} ease-in-out;
}

.NotificationDrawer ul {
	width: 100%;
}

.NotificationDrawer li {
	font-family: 'Univia', sans-serif;
	width: 100%;

	text-align: center;
	font-size: #{typography.$size-medium};
	font-weight: #{typography.$font-weight-medium};

	color: #{colors.$text-primary};

	cursor: pointer;
	word-break: break-word;
}

.NotificationDrawer li:not(:first-child) {
	margin-top: 32px;
}

.Hidden {
	transform: translateY(calc(-100% - 32px)) translateX(-50%);
}
