.NotificationDrawer {
    display: flex;
    position: fixed;
    top: 32px;
    right: 32px;

    z-index: 10000;

    height: auto;

    width: 311px;
}

.NotificationDrawer li:not(:first-child) {
    margin-top: 16px;
}