.NotificationDrawer {
	display: flex;
	position: fixed;
	top: 9px;
	left: 50%;
	width: 311px;
	height: auto;
	padding: 16px;
	border-radius: 10px;

	z-index: 10000;

	background: linear-gradient(
		180deg,
		rgba(210, 209, 255, 0.75) 0%,
		rgba(182, 181, 255, 0.6) 100%
	);

	box-shadow: inset 0px 0px 30px rgba(152, 150, 255, 0.4);

	transform: translateY(0%) translateX(-50%);

	transition: transform var(--animation-time-medium) ease-in-out;
}

.NotificationDrawer ul {
	width: 100%;
}

.NotificationDrawer li {
	font-family: 'Univia', sans-serif;
	width: 100%;

	text-align: center;
	font-size: 18px;
	font-weight: medium;

	color: #28024b;
	text-shadow: 0px 0px 15px #ffffff, 0px 0px 10px #ffffff, 0px 0px 30px #ffffff;

	cursor: pointer;
}

.NotificationDrawer li:not(:first-child) {
	margin-top: 16px;
}

.Hidden {
	transform: translateY(calc(-100% - 32px)) translateX(-50%);
}
