@use 'styles/variables/typography';
@use 'styles/variables/borders';
@use 'styles/variables/colors';

.Container {
	width: 100%;
}

.Image {
	width: 100%;
	height: 296px;
	border-radius: #{borders.$radius-primary};
	object-fit: cover;
}

.Available {
	margin-top: 24px;
	margin-bottom: 24px;
}

.Available span {
	font-size: #{typography.$size-tiny};
	color: #{colors.$grey};
}

.Available h2 {
	font-weight: #{typography.$font-weight-bold};
}

.Button {
	margin: 25px auto 0 auto;
}

.Green {
	color: #{colors.$success-green};
}

.Orange {
	color: #{colors.$warning};
}

.Checking {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Checking span {
	margin-left: 16px;
}
