.Dots {
	--dot-size: 5px;
	--dot-gap: 2.8px;

	position: relative;
	height: 32px;
	width: 16px;
	cursor: pointer;
}

.Dots > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: var(--dot-size);
	width: var(--dot-size);
	border-radius: 50%;
	background: var(--color-accent-1);
}

.Dots > div:first-child {
	transform: translate(-50%, calc(-50% - calc(100% + var(--dot-gap))));
}

.Dots > div:last-child {
	transform: translate(-50%, calc(-50% + calc(100% + var(--dot-gap))));
}

.Stats {
	display: flex;
	justify-content: space-between;
	background: var(--background-purple-card-20);
	padding: 16px;
	flex-wrap: wrap;

	@media only screen and (max-width: 415px) {
		padding-left: 8px;
		padding-right: 8px;
	}

	&:first-child {
		margin-left: 0;
	}
}

.WildPriceContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: none;
	height: 100%;
	position: relative;
	transition: all 0.2s ease-in-out 0s;
	padding: 4px 16px;
	cursor: pointer;
}

.WildPriceContainer::after {
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: scale(1, 0.56);
	transition: all 0.2s ease-in-out 0s;
	width: 99%;
}

.WildPriceContainer::after {
	border-left: 1px solid var(--color-purple-lighter);
	border-right: 1px solid var(--color-purple-lighter);
}

.WildPriceContainer:hover::after {
	transform: scale(1);
	background: var(--color-azure-gradient-25);
}

.TickerName {
	font-size: 10px;
	font-weight: 400;
	line-height: 12.1px;
	color: var(--color-grey-lighter-2);
}

.CurrentPrice {
	font-size: 12px;
	font-weight: bold;
	line-height: 14.5px;
	color: var(--color-text-primary);
	padding: 2px 6px 0 0;
	text-shadow: var(--glow-text-blue);
}

.PercentageChange {
	font-size: 12px;
	font-weight: 400;
	line-height: 14.5px;
	color: var(--color-success);
}

.DropDownContentContainer {
	display: none;
	position: absolute;
	right: calc(0% - 140px);
	padding: 32px;
	z-index: 1;
	top: 56%;
}

.DropDownContent {
	width: 540px;
	border-radius: 16px;
	background: var(--color-purple-darkest);
	cursor: default;
}

.DropDownContent a {
	background-color: var(--color-purple-medium);
	margin: 0 10px;
}

.DropDownContent a:hover {
	background-color: var(--color-purple-medium);
}

.WildPriceContainer:hover .DropDownContentContainer {
	display: block;
}
