@use 'styles/variables/dimensions';
@use 'styles/variables/typography';
@use 'styles/variables/colors';
@use 'styles/variables/animations';

.StepBarContainer {
	display: none;

	@media only screen and (min-width: #{dimensions.$breakpoint-mobile-xl}) {
		display: flex;
		margin: -14px 6px 40px 6px;
	}
}

.Container {
	h2 {
		font-size: #{typography.$size-large};
		font-weight: #{typography.$font-weight-bold};
		line-height: 28px;
	}

	width: 640px;
	padding: 40px;

	color: #{colors.$text-primary} !important;
	background: #{colors.$background-primary};

	.Header {
		display: flex;
		align-items: center;
		flex-direction: column;

		width: 100%;
	}

	.Header h1 {
		color: #{colors.$text-primary};
		font-size: #{typography.$size-large};
		font-weight: #{typography.$font-weight-bold};
		margin-bottom: 32px;
	}

	.Section {
		margin-top: 40px;
		margin-bottom: 56px;

		> div:nth-of-type(2) {
			margin-left: 12px;
		}
	}
}

.NFT {
	position: relative;
	cursor: pointer;
	min-height: 224px;
	flex-basis: 0;
	flex-grow: 1;
	margin-right: 12px;
	min-width: 224px;

	background: rgba(colors.$white, 0.05);

	width: 224px;

	&:hover img {
		transform: scale(1.05);
	}

	img {
		border-radius: inherit;
		height: 100%;
		width: 100%;
		transition: transform #{animations.$time-medium} ease-in-out;
	}
}

.Details {
	flex: 1;
	margin-left: 12px;
	width: 272px;

	.Domain {
		overflow-wrap: anywhere;
		display: block;
		margin-top: 4px;
		color: #{colors.$malibu};
	}
}

.Price {
	margin-top: 24px;
}

.Price h3 {
	color: #{colors.$mauve};
	font-size: #{typography.$size-tiny};
	font-weight: #{typography.$font-weight-bold};
	margin-bottom: 4px;
}

.Price span {
	display: block;
}

.Price span:first-of-type {
	font-size: #{typography.$size-default};
	font-weight: #{typography.$font-weight-bold};
}

.Price span:nth-of-type(2) {
	font-size: #{typography.$size-small};
	font-weight: #{typography.$font-weight-bold};
	margin-top: 8px;
}

.Member {
	margin-top: 24px;
}

.InputWrapper {
	display: flex;
	flex-direction: column;
}

.InputWrapper p {
	margin: 0;
	padding: 0;
	font-size: #{typography.$size-default};
	font-weight: #{typography.$font-weight-regular};
	text-align: center;
}

.InputWrapper form {
	display: flex;
	flex-direction: column;
}

.Inputs {
	width: 100%;
}

.Estimate {
	font-weight: #{typography.$font-weight-bold};
	color: #{colors.$mauve};
	margin: 16px auto 0 auto;
}

.Authorize {
	padding: 16px;
	background: none;
	border: 1px solid #{colors.$malibu};
	border-radius: 50%;
	width: 150px;
	height: 150px;
	color: #{colors.$malibu};
}

.Error {
	padding: 0;
	font-weight: #{typography.$font-weight-bold} !important;
	color: #{colors.$mauve};
}

.Wait {
	padding: 0;
	text-align: center;
}

.Loading {
	margin: 32px auto;
}

.Spinner {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border-top: 2px solid #{colors.$malibu};
	animation: spin 1s linear infinite;
}

.glow .Spinner {
	border-top: 2px solid white;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
