@use 'styles/variables/dimensions';
@use 'styles/variables/typography';
@use 'styles/variables/animations';
@use 'styles/variables/colors';

.Container {
	position: relative;
	width: 100%;
	transition: height #{animations.$time-medium} ease;
}

/* Control Styles */
.Controls {
	display: flex;
	gap: 16px;
	width: 100%;
	align-items: center;
}

.Controls .Buttons {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-end;
	gap: 12px;
}

/* List Table Styles */

.Table {
	width: 100%;
}

.Table tbody tr td,
.Table thead th {
	padding: 16px 11px;
	vertical-align: middle;
}

.Table thead th {
	font-size: #{typography.$size-small};
	font-weight: #{typography.$font-weight-bold};
	color: #{colors.$grey-lighter-2};
}

.Table tbody tr td:first-of-type {
	padding-right: 0;
}

.Table tbody tr td:last-of-type {
	padding-left: 0;
}

.Left {
	text-align: left;
}

.Right {
	text-align: right;
}

/* Grid Table Styles */

/* 
  These styles are currently pretty locked down for NFT Cards
	Might want to think about making these more generic in the future
*/
.Grid {
	// Mobile Breakpoints
	width: 100%;
	display: grid;
	margin-top: 16px;
	padding: 0 8px;
	grid-template-columns: repeat(auto-fit, minmax(100%, 0.5fr));
	grid-row-start: 1;
	list-style: none;
	grid-gap: 20px 0;

	@media only screen and (min-width: #{dimensions.$breakpoint-mobile-m}) {
		&:not(.GridWithSingleColumn) {
			grid-gap: 14px 12px;
			padding: 0;
			grid-template-columns: repeat(auto-fit, minmax(32%, 0.5fr));
		}
	}

	// Tablet Breakpoints
	@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
		grid-gap: 14px 12px;
	}

	@media only screen and (min-width: #{dimensions.$breakpoint-tablet-m}) {
		grid-gap: 20px 16px;
		> div:hover {
			transform: scale(1.02);
		}
	}
}

.Grid > div {
	transition: transform #{animations.$time-long} ease;
}

/* Loading Styles */
.Loading {
	padding: 32px 0;
}

.LoadMore {
	position: absolute;
	right: 0;
	top: calc(100% + 8px);
	font-weight: #{typography.$font-weight-regular};
}

.Reloading {
	margin: 1.5rem auto;

	> div:first-child {
		margin-bottom: unset;
	}
}

.Reloading {
	margin: 1.5rem auto;

	> div:first-child {
		margin-bottom: unset;
	}
}

.Reloading {
	margin: 1.5rem auto;

	> div:first-child {
		margin-bottom: unset;
	}
}

.Reloading {
	margin: 1.5rem auto;

	> div:first-child {
		margin-bottom: unset;
	}
}
