header {
	/* Not sure if it's an absolute or static header */
	z-index: 10;

	width: 100%;
	min-width: var(--width-max);
	max-width: var(--width-max);

	/* Just here to illustrate the actual size of the header */
	/*border-bottom: 1px solid black;*/
}

/* Nav Alignments */

.TitleBar {
	position: relative;
	display: flex;
	flex-direction: column;

	width: 100%;

	background: linear-gradient(
		92.24deg,
		rgba(0, 22, 55, 0.5) 0%,
		rgba(0, 63, 137, 0.265) 100%
	);
	border-radius: var(--box-radius);
}

.Bar {
	display: flex;
	padding: 11px 17px;
}

.Bar::after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	height: 100%;
	width: 100%;

	border-radius: var(--box-radius);
	/* border: 1px solid #AF4CFF; */
	box-shadow: var(--glow-pimary);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.Bar > div {
	flex: 1;
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.Bar > div > * {
	/* Maybe not the best solution long term but works for now
	until we have other breakpoints designed */
	flex-shrink: 0;
}

.Bar > div:not(:first-child) {
	/*padding-top 11px;*/
	/*padding-bottom: 1px;*/
}

.Bar > div:nth-child(2) {
	justify-content: flex-end;
}

.Bar > div:nth-child(2) > *:not(:last-child) {
	margin-right: 10px;
}

/* Search Styling */

.Searching {
	border-radius: var(--box-radius) var(--box-radius) 0 0;
	border-bottom-width: 0;
	box-shadow: none;
}

.Search {
	width: 100%;
	margin-left: 16px;

	background: none;
	color: white;
	font-weight: bold;
}

.SearchResults {
	position: absolute;
	top: 100%;
	left: -1px;
	width: calc(100% + 2px);
	background: inherit;

	border-top: 0px solid white !important;
	border-radius: 0 0 var(--box-radius) var(--box-radius);
	box-shadow: none;
}

.SearchResults li {
	width: 100%;
	padding: 17px 17px 17px 101px;

	cursor: pointer;

	/* transition: all var(--animation-time-short) ease-in-out; */
}

.SearchResults li span {
	display: inline-block;
	margin-left: 8px;
	font-size: 14px;
	color: var(--color-accent-1);
}

.SearchResults li:hover {
	background: var(--background-purple-card-20);
}

.SearchResults .ExactMatch {
	font-weight: bold;
}
