.header {
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		// background: var(--color-background);
		border-radius: 28px;
		overflow: none;
		transition: background-color var(--animation-time-medium) ease-in-out,
			border var(--animation-time-medium) ease-in-out,
			box-shadow var(--animation-time-medium) ease-in-out;
		z-index: 4;

		&--is-active {
			box-shadow: 0 0 20px 0 rgb(235 0 255 / 40%);
		}

		&--is-searching {
			box-shadow: none;
		}

		@media only screen and (max-width: 1000px) {
			padding: 11px 17px;
		}
	}

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px 17px;
	}

	&__navigation {
		display: flex;
		flex: 1;
		flex-grow: 1;
		align-items: center;
		height: 32px;

		&-title {
			margin-left: 16px;
			font-size: 1rem;
			font-weight: bold;
		}

		&-zna-link {
			flex-shrink: 0;

			@media only screen and (max-width: 768px) {
				margin-left: 0 !important;
			}
		}

		&-search {
			flex: 1;
			margin-left: 16px;
			background: none;
			color: white;
			font-weight: bold;

			&::placeholder {
				color: #e5baff70;
				font-weight: 400;
			}

			@media only screen and (max-width: 768px) {
				min-width: 0px;
				margin-left: 0 !important;
			}

			@media only screen and (max-width: 500px) {
				display: none;
			}
		}
	}

	&__home-link {
		flex-shrink: 0;
		margin-right: 16px;
		font-weight: 700;
		text-transform: uppercase;

		@media only screen and (max-width: 1000px) {
			margin-right: 0;
		}
	}

	&__actions {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px;
		height: 56px;

		@media only screen and (max-width: 1000px) {
			display: none !important;
		}
	}
}
