@use 'styles/variables/dimensions';
@use 'styles/variables/colors';
@use 'styles/variables/typography';
@use 'styles/variables/animations';

$height: 46px;

.header {
	&__flex-wrapper {
		display: flex;
		flex-direction: row;
	}
	&__outer-container {
		position: sticky;
		top: 8px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		background: #{colors.$background-primary};
		border-radius: 28px;
		overflow: none;
		border: 1px solid #{colors.$revolver};
		z-index: 4;
	}

	&__container {
		width: 100%;
		transition: background-color #{animations.$time-medium} ease-in-out,
			border #{animations.$time-medium} ease-in-out,
			box-shadow #{animations.$time-medium} ease-in-out;
		&--is-active,
		&--is-searching {
			.ZNA__Container {
				border: 1px solid #6a3991 !important;
			}
		}
		&--on-scroll-up {
			top: 8px;
			transition: opacity 0.4s ease-in-out, 0.4s ease-in-out;
		}
		&--on-scroll-down {
			top: -70px;
			transition: opacity 0.4s ease-in-out, 0.4s ease-in-out;
		}

		@media only screen and (min-width: 834px) {
			max-width: 100%;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: $height;
		padding: 0px 4px;

		&-disconnect-button-container {
			padding-right: 4px;

			// Visible up to tablet breakpoint
			@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
				display: none;
			}
		}

		&-disconnect-button {
			padding-left: 4px;
			padding-right: 4px;
		}
	}

	&__navigation {
		display: flex;
		flex: 1;
		flex-grow: 1;
		align-items: center;

		&-title {
			margin-left: 16px;
			font-size: 1rem;
			font-weight: #{typography.$font-weight-bold};
		}

		&-zna-link {
			flex-shrink: 0;
		}

		.searchBar button {
			position: absolute;
			padding: 0;
			left: 16px;
			top: 9px;
			height: 14px;
			width: 14px;
			background-color: rgba(0, 0, 0, 0);
			background-position: center;
			background-size: 14px 14px;
			background-repeat: no-repeat;
		}

		&-search {
			flex: 1;
			margin: 0 12px;
			background: none;
			width: 100%;
			color: #{colors.$text-primary};
			z-index: 11;

			&::placeholder {
				color: #6c6c6c;
				font-weight: #{typography.$font-weight-regular};
			}

			@media only screen and (min-width: 500px) {
				background-image: url('/assets/header-search-icon.svg');
				background-repeat: no-repeat;
				background-position: right;
			}
		}

		.ZNA__Container {
			position: relative;
			display: flex;
			flex: 1;
			flex-grow: 1;
			align-items: center;
			padding: 6px 0;
			border: 1px solid #{colors.$bossanova};
			border-radius: 24px;
			transition: all #{animations.$time-short} ease-in-out;

			&:hover {
				background: #{colors.$revolver-darker};
			}

			&-searching {
				background: #{colors.$revolver-darker};
			}
		}
	}

	&__actions {
		display: none;

		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
			display: flex;
			position: relative;
			right: 0;
			flex-direction: row;
			align-items: center;
			padding: 0 16px 0 16px;
			gap: 8px;
		}

		// Desktop Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
			display: none;
		}
	}
}
