.Container {
	margin-top: 42px;
	width: 100%;

	.TextContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 40px;

		.QuantityText {
			margin-right: 8px;
			font-size: 24px;
			font-weight: 700;
			line-height: 29px;
		}
	}

	.InputHeaderContainer {
		display: flex;
		flex-direction: row;

		.Header {
			margin: 0 8px 8px 0;
		}
	}

	.InputContainer {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;

		.Input {
			padding: 12px 24px;
			height: 48px;
			text-overflow: ellipsis;

			&.hasValue {
				border: 1px solid #88d7ff;
			}

			&.hasError {
				background: none;
				border: solid 1px transparent;
				border-radius: 24px;
				background-image: linear-gradient(#0a0a0a, #0a0a0a),
					linear-gradient(
						45deg,
						rgba(244, 107, 71, 1) 0%,
						rgba(247, 99, 176, 1) 100%
					);
				background-origin: border-box;
				background-clip: padding-box, border-box;
			}

			&:not(:focus):not(.hasValue) {
				border: 1px solid var(--color-grey);
			}

			&::placeholder {
				color: var(--color-grey);
			}
		}

		.SecondaryPlaceholder {
			&.hasError {
				color: #f6677c;
			}
		}

		&.hasError {
			margin-bottom: 0px;
		}

		&.hasValue {
			align-items: center;
			position: relative;
			color: var(--color-grey);

			> span {
				position: absolute;
				top: 8px;
				left: 25px;
				color: var(--color-grey-lighter-3);
				font-size: 10px;
			}

			input {
				width: 100%;
				padding: 22.5px 24px 10.5px 24px;
				line-height: 19.2px;
				background: linear-gradient(
					94.23deg,
					rgba(60, 161, 255, 0.2) 0%,
					rgba(30, 81, 128, 0.2) 100%
				);
			}
		}
	}

	.WarningPrompt {
		margin-bottom: 40px;
	}

	.ButtonContainer {
		display: flex;
		justify-content: center;
	}

	.Error {
		font-size: 12px;
		color: var(--color-error);
		margin: 2px 0 0 26px;

		&.hasError {
			margin-bottom: 23px;
		}
	}
}
