@use 'styles/variables/colors';
@use 'styles/variables/typography';

.Container {
	width: 588px;
	padding: 25.5px 40px 40px 40px;

	background: #{colors.$background-primary};
}

.Header {
	text-align: center;

	margin-bottom: 40px;
}

.Header h1 {
	font-weight: #{typography.$font-weight-bold};
}

.Header span {
	display: inline-block;
	margin-top: 8px;
}

.Header hr {
	margin-top: 25.5px;
	border: 0;
	border-bottom: 1px solid #50207b;
}

.Input {
	margin-top: 16px;
}

.Button {
	margin: 40px auto 0 auto;
}

.Error {
	display: block;
	margin-top: 16px;
	width: 100%;

	color: #{colors.$error};
	text-align: center;
}

.Loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}

.Loading span {
	font-weight: #{typography.$font-weight-bold};
	margin-bottom: 24px;
}

.Success {
	text-align: center;
	color: #{colors.$success-green};
}

.Socials {
	margin-top: 40px;
}

.Socials span {
	display: block;
	font-weight: #{typography.$font-weight-bold};
	text-align: center;
}

.Socials a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Socials a:not(:first-of-type) {
	margin-left: 16px;
}

.Socials div {
	display: flex;
	justify-content: center;
	margin-top: 16px;
}

.Socials img {
	height: 64px;
	width: 64px;
}

@media only screen and (max-width: 768px) {
	.Container {
		width: 90%;
		margin: 0 auto;
	}

	.Header h1 {
		font-size: #{typography.$size-medium};
	}

	.Input {
		margin-top: 40px;
	}
}
