.Container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.Container span {
	display: inline-block;
	margin-bottom: 40px;
	width: 100%;
	text-align: center;
}
