@use 'styles/variables/typography';
@use 'styles/variables/colors';

.MintPreview {
	// Mobile Breakpoints
	width: 580px;
	padding: 20px 40px 20px 40px;
	max-height: 70vh;
	overflow: auto;
	background: #{colors.$revolver-darker};
	border: 1px solid #{colors.$bossanova};

	// Tablet Breakpoints
	@media only screen and (min-width: 1000px) {
		width: 640px;
		// Needs tidying up
		padding: 27.5px 40px 10px 45px;
	}
}

.MintPreview > h4 {
	font-size: #{typography.$size-large};
	font-weight: #{typography.$font-weight-bold};
	margin-bottom: 19px;
	text-align: center;
}

.MintPreview li > div {
	display: flex;
	margin-bottom: 32px;
}

.MintPreview li hr {
	// Mobile Breakpoints
	margin-bottom: 32px;

	// Tablet Breakpoints
	@media only screen and (min-width: 1262px) {
		margin-bottom: 42px;
	}
}

.Divider {
	border: 1px solid #{colors.$revolver};
}

.Image {
	cursor: pointer;
	height: 200px;
	width: 200px;
	overflow: hidden;
}

.Image:hover {
	transform: scale(1.05);
}

.Image img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.Info {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-left: 32px;
	width: 240px;
	max-width: 240px;
	word-wrap: break-word;

	.Link {
		font-size: #{typography.$size-default};
		color: #{colors.$grey};
	}

	h3 {
		font-size: #{typography.$size-large};
		margin-bottom: 12px;
	}

	p {
		padding: 0;
		margin-bottom: 12px;
		line-height: 24px;
	}
}

.Container {
	display: flex;
	flex-direction: row;
	margin-top: 18px;
	line-height: 24px;

	div {
		white-space: nowrap;
	}

	.TextContainer {
		display: flex;
		flex-direction: column;
	}

	.ButtonContainer {
		margin-top: 24px;

		a {
			font-size: #{typography.$size-small};
		}
	}

	.Success {
		color: #{colors.$success-green};
	}
}

.IconContainer {
	display: flex;
	align-items: flex-start;
	margin: 2px 6px 0 0;
}

.Info p:first-of-type {
	max-height: 70px;
	margin-top: 12px;

	overflow-y: auto;
}
