.TransferPreview {
	// Mobile Breakpoints
	background: var(--color-revolver);
	border: 1px solid var(--color-bossanova);
	padding: 20px 48px;
	width: 552px;

	// Tablet Breakpoints
	@media only screen and (min-width: 1000px) {
		width: 640px;
		padding: 27.5px 40px;
	}
}

.TransferPreview h4 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 19px;
	text-align: center;
}

.TransferPreview li > div {
	display: flex;
	margin-bottom: 24px;
}

.TransferPreview li hr {
	// Mobile Breakpoints
	margin-bottom: 32px;

	// Tablet Breakpoints
	@media only screen and (min-width: 1262px) {
		margin-bottom: 42px;
	}
}

.Divider {
	border: 1px solid var(--color-purple-lighter);
}

.Image {
	// Mobile Breakpoints
	cursor: pointer;
	height: 174px;
	width: 100%;
	overflow: hidden;
	transition: transform var(--animation-time-medium) ease-in-out;

	// Tablet Breakpoints
	@media only screen and (min-width: 1000px) {
		height: 200px;
		width: 200px;
	}
}

.Image:hover {
	transform: scale(1.05);
}

.Image img {
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.Info {
	display: flex;
	flex-direction: column;
	margin-left: 32px;
	max-width: 328px;
	position: relative;
	width: 100%;
	word-wrap: break-word;

	.Link {
		font-size: var(--font-size-default);
		color: var(--color-grey);
	}

	h3 {
		font-size: 24px;
		margin-bottom: 12px;
	}

	a {
		margin-bottom: 12px;
		line-height: 24px;
	}

	p {
		margin: 0;
		padding: 0;
		line-height: 24px;
	}
}

.Info .Address {
	font-size: var(--font-size-default);
	line-height: 24px;
	color: var(--color-text-primary);
}

.InfoContainer {
	display: flex;
	flex-direction: row;
	margin-top: 18px;
	line-height: 24px;

	div {
		white-space: nowrap;
	}

	.TextContainer {
		display: flex;
		flex-direction: column;
	}

	.Success {
		color: var(--color-success);
	}
}

.IconContainer {
	display: flex;
	align-items: flex-start;
	margin: 2px 6px 0 0;
}
