.TransferPreview {
	background: var(--color-purple-darkest);
	padding: 27.5px 40px;
	width: 640px;
}

.TransferPreview h4 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 19px;
	text-align: center;
}

.TransferPreview li > div {
	display: flex;
	margin-top: 34px;
	margin-bottom: 34px;
}

.TransferPreview li hr {
	margin-bottom: 42px;
}

.Image {
	cursor: pointer;
	height: 200px;
	overflow: hidden;
	transition: transform var(--animation-time-medium) ease-in-out;
	width: 200px;
}

.Image:hover {
	transform: scale(1.05);
}

.Image img {
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.Info {
	display: flex;
	flex-direction: column;
	margin-left: 32px;
	max-width: 240px;
	position: relative;
	width: 240px;
	word-wrap: break-word;

	Link {
		font-size: 16px;
		color: var(--color-accent-1);
	}

	h3 {
		font-size: 24px;
		margin-bottom: 12px;
	}

	a {
		margin-bottom: 12px;
		line-height: 24px;
	}

	p {
		margin: 0;
		padding: 0;
		line-height: 24px;
	}
}

.Info .Address {
	font-size: 16px;
	line-height: 24px;
	color: var(--color-text-primary);
}

.InfoContainer {
	display: flex;
	flex-direction: row;
	margin-top: 18px;
	line-height: 24px;

	div {
		white-space: nowrap;
	}
}

.IconContainer {
	display: flex;
	align-items: flex-start;
	margin: 2px 6px 0 0;
}
