@use 'styles/variables/typography';
@use 'styles/variables/colors';

.TransferPreview {
	// Mobile Breakpoints
	width: 555px;
	padding: 20px 40px 20px 40px;
	max-height: 70vh;
	overflow: auto;
	background: #{colors.$revolver-darker};
	border: 1px solid #{colors.$bossanova};
	// Tablet Breakpoints
	@media only screen and (min-width: 1000px) {
		width: 640px;
		// Needs tidying up
		padding: 27.5px 40px 10px 45px;
	}
}

.TransferPreview h4 {
	font-size: #{typography.$size-large};
	font-weight: #{typography.$font-weight-bold};
	margin-bottom: 19px;
	text-align: center;
}

.TransferPreview li > div {
	display: flex;
	margin-bottom: 32px;
}

.TransferPreview li hr {
	// Mobile Breakpoints
	margin-bottom: 32px;

	// Tablet Breakpoints
	@media only screen and (min-width: 1262px) {
		margin-bottom: 42px;
	}
}

.Divider {
	border: 1px solid #{colors.$revolver};
}

.Image {
	cursor: pointer;
	height: 200px;
	width: 200px;
	overflow: hidden;
}

.Image:hover {
	transform: scale(1.05);
}

.Image img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.Info {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-left: 32px;
	width: 328px;
	max-width: 240px;
	word-wrap: break-word;

	.Link {
		font-size: #{typography.$size-default};
		color: #{colors.$gray};
	}

	h3 {
		font-size: #{typography.$size-large};
		margin-bottom: 12px;
	}

	a {
		margin-bottom: 12px;
		line-height: 24px;
	}

	p {
		margin: 0;
		padding: 0;
		line-height: 24px;
	}
}

.Info .Address {
	font-size: #{typography.$size-default};
	line-height: 24px;
	color: #{colors.$text-primary};
}

.Container {
	display: flex;
	flex-direction: row;
	margin-top: 18px;
	line-height: 24px;

	div {
		white-space: nowrap;
	}

	.TextContainer {
		display: flex;
		flex-direction: column;
	}

	.Success {
		color: #{colors.$success};
	}
}

.IconContainer {
	display: flex;
	align-items: flex-start;
	margin: 2px 6px 0 0;
}
