.Row {
	cursor: pointer;
	/* transition: background var(--animation-time-short) linear; */
}

.RowNumber{
	color: #fff;
}

.Row:hover {
	background: var(--color-background-alt-50);
}

.Row td:first-of-type {
	width: 50px;
}

.Right {
	text-align: right;
	color:rgb(246, 246, 246)
}

.Right > * {
	margin-left: auto;
}

.Left {
	text-align: left;

}

.Left > * {
	margin-right: auto;
}
