.Container {
	cursor: pointer;
	/* transition: background var(--animation-time-short) linear; */

	&:hover {
		background: var(--color-revolver);
	}

	.Right {
		text-align: right;

		> * {
			margin-left: auto;
		}
	}

	.Left {
		text-align: left;

		> * {
			margin-right: auto;
		}
	}

	.Button {
		margin-left: auto;
		background: none;
	}

	td {
		&:last-of-type {
			width: 32px;
			padding-left: 32px !important;
		}
	}

	.MoreDropdown {
		:global(ul) {
			left: unset;
			right: 0;
			transform: unset;

			li {
				display: flex;

				span {
					margin-left: 12px;
				}
			}
		}
	}
}
