@use 'styles/variables/typography';
@use 'styles/variables/colors';

.Container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	min-height: 40px;
	margin-top: 16px;
}

.Bid {
	display: flex;
	flex-direction: column;
}

.Bid label {
	font-size: #{typography.$size-tiny};
	color: #{colors.$grey-lighter-2};
}

.Crypto {
	margin-top: 2px;
	font-size: #{typography.$size-small};
	font-weight: #{typography.$font-weight-bold};
	line-height: 16px;
	color: #{colors.$text-primary};
}

.Fiat {
	font-size: #{typography.$size-tiny};
	color: #{colors.$grey-lighter-2};
	margin-top: 2px;
}
