@use 'styles/variables/animations';
@use 'styles/variables/colors';

.Container {
	cursor: pointer;
	/* transition: background #{animations.$time-short} linear; */

	&:hover {
		background: #{colors.$revolver-darker};
	}

	.Right {
		text-align: right;

		> * {
			margin-left: auto;
		}
	}

	.Left {
		text-align: left;

		> * {
			margin-right: auto;
		}
	}

	.Button {
		margin-left: auto;
		background: none;
	}

	td {
		&:last-of-type {
			width: 32px;
			padding-left: 32px !important;
		}
	}

	.MoreDropdown {
		:global(ul) {
			left: unset;
			right: 0;
			transform: unset;

			li {
				display: flex;

				span {
					margin-left: 12px;
				}
			}
		}
	}
}
