.Container {
	width: 640px;
	padding: 53px 44px 40px 44px;
	color: white !important;
	background: var(--background-blue-card-wilder);
}

.Header {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.Header h1 {
	color: white;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 26px;
}

.Section {
	margin-top: 40px;
}

.CTAContainer {
	display: flex;
	flex-direction: row;
	align-self: center;
}

.CTAContainer > div:last-child {
	margin-left: 24px;
}

.Loading {
	white-space: pre-wrap;
}

.Reset {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	backdrop-filter: none !important;
	overflow: visible !important;
}

.Reset > div:first-of-type {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.Message {
	padding: 32px 32px 8px 32px;
	text-align: center;
	font-weight: 700;
	color: white;
}

.Error {
	padding: 0;
	color: var(--color-error);
}
