@import './color-variables.scss';

$page-margin: 100px;

.adbarContainer {
  position: relative;
  margin-top: 10px;
  margin-left: $page-margin;
  margin-right: $page-margin;
  height: 96px;
  // border: 1px red solid;
  overflow: hidden;
  border-radius: 16px;
  border-top: 2px solid #bd5fff;
  border-bottom: 1px solid #4e0084;
  border-right: 1px solid #bd5fff;
  border-left: 1px solid #bd5fff;
  box-shadow: 0px 0px 10px 0px darken(rgba(235, 0, 255, 1), 20%);

  .adbg {
    // margin-left: 20px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    // top:0;
    // left: 0;
    // opacity: .5;
  }
  .content {
    // margin-top: auto;
    height: 100%;
    width: 100%;
    margin-left: 20px;
    position: absolute;
    // border: 1px red solid;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    .profileIcon {
      img {
        height: 64px;
        width: 64px;
      }
    }
    .infoContainer {
      margin-left: 12px;
      .next {
        font-weight: bold;
        font-size: 24px;
        display: flex;
        flex-direction: row;
        .n1 {
          color: #3ca1ff;
          text-shadow: 0px 0px 10px rgba(60, 161, 255, 0.7);
        }
        .n2 {
          margin-left: 8px;
          text-decoration: underline;
          color: #9ed0ff;
          text-shadow: 0px 0px 10px rgba(#9ed0ff, 0.7);
        }
        .n3 {
          margin-left: 8px;
          background: #002f5b;
          // background: red;
          border-radius: 50%;
          font-weight: normal;
          // font-size: 16px;
          width: 18px !important;
          height: 18px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          transform: translateY(5px);
          .symbol {
            color: rgba(60, 161, 255, 1);
            font-weight: bold;
            font-size: 12px !important;
            margin: auto;
            transform: translateY(1px);
          }
        }
      }
      .desc {
        font-size: 16px;
        font-style: normal;
        text-shadow: 0px 0px 10px rgba(60, 161, 255, 0.7);
        span {
          color: #3ca1ff;
        }
      }
    }
  }
}
