$light-red: darken(#cf7571, 10%);
$middle-red: #953338;
$dark-red: #641f29;
$dark-grey: lighten(#678293, 20%);
$light-grey: lighten(#b8bdca, 20%);
$sky-blue: #76b1ce;
//
$bright: rgb(145, 85, 230);
$medium: darken($bright, 20%);
$dark: darken($bright, 40%);
$grayFont: #c2c2c9;
$textShadow: 0px 2px 5px rgba(255, 255, 255, 0.4);
$boxShadow: 0px 2px 5px rgba(145, 85, 230, 0.18);
$dropShadow: 0px 2px 5px rgba(0, 0, 0, 0.18);
$root: #b5b5b5;
