@import './color-variables.scss';

.gridContainer {
  background: none;
  width: 100%;
  margin-top: 25px;
  //testing
  // border: 5px black solid;
  // color: yellow;
  //
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  // .gridCell {
  //   margin-left: auto;
  //   margin-right: auto;
  //   margin-bottom: 35px;
  //   height: 450px;
  //   width: 375px;
  //   // background: blue;
  //   border-radius: 15px;
  //   overflow: hidden;
  //   transition: all 0.4s ease-in-out;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: space-between;
  //   &:hover {
  //     transform: scale(1.05);
  //     box-shadow: 0px 0px 15px 5px rgb(190, 166, 30);
  //   }
  //   .cellTop {
  //     height: 67%;
  //     width: auto;
  //     background: rgb(180, 179, 179);
  //     // border-radius: 15px;
  //   }
  //   .cellBottom {
  //     height: 33%;
  //     width: auto;
  //     background: $dark-red;
  //     display: flex;
  //     flex-direction: column;
  //     & > div {
  //       &:not(:nth-child(3)) {
  //         margin-right: auto;
  //         margin-left: auto;
  //       }
  //       margin-top: auto;
  //       margin-bottom: auto;
  //     }
  //     .cellTextTop {
  //       font-size: 1.3em;
  //     }
  //     .cellTextMiddle {
  //     }
  //     .cellTextBottom {
  //       display: flex;
  //       flex-direction: row;
  //       justify-content: space-between;
  //     }
  //   }
  // }
  .gridCell {
    // overflow: visible;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    height: 475px;
    width: 327px;
    // background: blue;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 15px 5px $bright;
    }
    .topCell {
      height: 67%;
      width: auto;
      background: rgba($bright, 0.2);
      // border-radius: 15px;
      // border: 2px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .domainImage {
        // margin-top: auto;
        // margin-bottom: auto;
        max-width: 100%;
        // max-height: 100%;
        overflow: hidden;
        object-fit: cover;
      }
    }
    .bottomCell {
      height: 33%;
      width: auto;
      background: $blackbg;
      color: $lightgrey;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      // align-content: center;
      // border: 2px solid green;
      & > div {
        text-align: center;
        width: 100%;
      }
      .name {
        font-size: 33px;
      }
      .domain {
      }
      .desc {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .ticker {
        }
        .holders {
        }
      }
      .price {
        font-size: 18px;
      }
      .bottom {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .eth-price {
        }
        .cell-btn {
          position: absolute;
          right: 0;
          transform: translate(-15px, -10px);
          cursor: pointer;
        }
      }
    }
  }
}
