@import './color-variables.scss';

$page-margin: 100px;

.nftView {
  position: relative;
  margin-top: 150px;
  margin-left: $page-margin;
  margin-right: $page-margin;
  // border: 1px red solid;
  display: flex;
  flex-direction: column;

  .showcase {
    // remove
    height: 50vh;
    height: 600px;
    background: url(../css/img/starsbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    border: 1px solid #bd5fff;
    box-shadow: 0px 0px 10px 0px darken(rgba(235, 0, 255, 1), 20%);
    margin-bottom: 20px;
    display: flex;
    color: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .showcaseIMG {
      width: 50%;
      height: 78%;
      // border: 1px red solid;
      margin-left: 5%;
      .NFTImageContainer {
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .NFTImage {
          max-width: 100%;
          max-height: 100%;
          overflow: hidden;
          object-fit: cover;
          margin: auto;
          border: 3px solid #bd5fff;
          box-shadow: 0px 0px 10px 0px darken(rgba(235, 0, 255, 1), 20%);
        }
      }
    }
    .showcaseInfo {
      width: 40%;
      height: 78%;
      // border: 1px red solid;
      margin-left: 2%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .top {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          font-size: 36px;
          font-weight: bold;
          text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
        }
        .domain {
          color: rgba(60, 161, 255, 1);
          font-size: 16px;
        }
        .users {
          margin-top: 12px;
          width: 80%;
          max-width: 80%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          .creator {
            display: flex;
            flex-direction: row;
            .avatar {
              flex-grow: 1;
              margin-right: 12px;
              height: 36px;
              width: 36px !important;
              border-radius: 50%;
              background: rgba(235, 0, 255, 1);
            }
            .creatorFlex {
              transform: translateY(7px);
              display: flex;
              flex-direction: column;
              font-size: 16px;
              font-weight: bold;
              .creatorText {
              }
              .desc {
                color: lighten(rgba(60, 161, 255, 1), 20%);
              }
            }
          }
          .owner {
            display: flex;
            flex-direction: row;
            .avatar {
              margin-right: 12px;
              height: 36px;
              width: 36px;
              border-radius: 50%;
              background: rgba(235, 0, 255, 1);
            }
            .ownerFlex {
              transform: translateY(7px);
              display: flex;
              flex-direction: column;
              font-size: 16px;
              font-weight: bold;
              .ownerText {
              }
              .desc {
                color: lighten(rgba(60, 161, 255, 1), 20%);
              }
            }
          }
        }
      }
      .middle {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        .midLeft {
          .text {
            color: rgba(60, 161, 255, 1);
            font-size: 16px;
            font-weight: bold;
          }
          .units {
            font-size: 32px;
            font-weight: bold;
          }
          .price {
            color: lighten(rgba(60, 161, 255, 1), 20%);
            font-size: 16px;
            font-weight: bold;
          }
        }
        .midRight {
          .text {
            color: rgba(60, 161, 255, 1);
            font-size: 16px;
            font-weight: bold;
          }
          .units {
            font-size: 32px;
            font-weight: bold;
          }
          .price {
            color: lighten(rgba(60, 161, 255, 1), 20%);
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
      .showcaseBottom {
        width: 100%;
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .shadowContainer {
          padding-top: 0px;
          padding-bottom: 0px;
          padding-right: 5px;
          padding-left: 5px;
          overflow: hidden;
          width: 50%;
          height: 45px;
        }
        .makeOffer {
          box-shadow: 0px 0px 3px 0px lighten(rgba(60, 161, 255, 1), 40%);
          width: 100%;
          height: 45px;
          font-size: 24px;
          font-weight: normal;
          color: lighten(rgba(60, 161, 255, 1), 20%);
          border-left: 2px solid lighten(rgba(60, 161, 255, 0.9), 60%);
          border-right: 2px solid lighten(rgba(60, 161, 255, 0.9), 60%);
          border-radius: 25px;
          background: darken(rgba(60, 161, 255, 0.2), 20%);
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }
  .info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .story {
      height: 212px;
      width: 49%;
      background: rgba(78, 0, 132, 0.2);
      backdrop-filter: blur(30px);
      border-radius: 16px;
      border: 1px solid #bd5fff;
      box-shadow: 0px 0px 10px 0px darken(rgba(235, 0, 255, 1), 20%);
      & > div {
        margin: 18px;
        &:first-child {
          color: #3ca1ff;
          font-size: 16px;
          font-weight: bold;
          text-shadow: 0px 0px 10px rgba(#3ca1ff, 0.7);
        }
        &:last-child {
          color: #9ed0ff;
        }
      }
    }
    .quad {
      position: relative;
      height: 212px;
      width: 49%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // border: 1px red solid;
      //
      .quadHeader {
        font-weight: bold;
        font-size: 16px;
        color: #3ca1ff;
        text-shadow: 0px 0px 10px rgba(60, 161, 255, 0.7);
        display: flex;
        flex-direction: row;
      }
      .quadText {
        font-weight: bold;
        font-size: 20px;
        color: #fff;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
      }
      .infoButton {
        background: #002f5b;
        border-radius: 50%;
        font-weight: normal;
        width: 18px !important;
        height: 18px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        transform: translateY(0px);
        margin-left: 8px;
        cursor: pointer;
        .infoMark {
          color: rgba(60, 161, 255, 1);
          font-weight: bold;
          font-size: 12px !important;
          margin: auto;
          transform: translate(1px, 1px);
        }
      }
      //
      .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > div {
          height: 96px;
          width: 49%;
          background: rgba(78, 0, 132, 0.2);
          backdrop-filter: blur(30px);
          border-radius: 16px;
          border: 1px solid #bd5fff;
          box-shadow: 0px 0px 10px 0px darken(rgba(235, 0, 255, 1), 20%);
          display: flex;
          flex-direction: column;
          justify-content: center;

          & > div {
            &:first-child {
              margin-bottom: 8px;
            }
            margin-left: 18px;
          }
        }
      }
      .address {
        position: absolute;
        bottom: 0;
        height: 96px;
        width: 100%;
        background: rgba(78, 0, 132, 0.2);
        backdrop-filter: blur(30px);
        border-radius: 16px;
        border: 1px solid #bd5fff;
        box-shadow: 0px 0px 10px 0px darken(rgba(235, 0, 255, 1), 20%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        & > div {
          &:first-child {
            margin-bottom: 8px;
          }
          margin-left: 18px;
        }
      }
    }
  }
  // .stats {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   margin-bottom: 20px;

  //   .growth {
  //     height: 303px;
  //     width: 49%;
  //     background: rgba(78, 0, 132, 0.2);
  //     backdrop-filter: blur(30px);
  //     border-radius: 16px;
  //     border: 1px solid #bd5fff;
  //     box-shadow: 0px 0px 10px 0px darken(rgba(235, 0, 255, 1), 20%);
  //   }
  //   .market {
  //     height: 303px;
  //     width: 49%;
  //     background: rgba(78, 0, 132, 0.2);
  //     backdrop-filter: blur(30px);
  //     border-radius: 16px;
  //     border: 1px solid #bd5fff;
  //     box-shadow: 0px 0px 10px 0px darken(rgba(235, 0, 255, 1), 20%);
  //   }
  // }
  .bottom {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    margin-bottom: 30px;
    // .chat {
    //   height: 791px;
    //   width: 49%;
    //   background: rgba(78, 0, 132, 0.2);
    //   backdrop-filter: blur(30px);
    //   border-radius: 16px;
    //   border: 1px solid #bd5fff;
    //   box-shadow: 0px 0px 10px 0px darken(rgba(235, 0, 255, 1), 20%);
    // }
    // .history {
    //   height: 791px;
    //   width: 49%;
    //   background: rgba(78, 0, 132, 0.2);
    //   backdrop-filter: blur(30px);
    //   border-radius: 16px;
    //   border: 1px solid #bd5fff;
    //   box-shadow: 0px 0px 10px 0px darken(rgba(235, 0, 255, 1), 20%);
    // }
    // height: 791px;
    width: 100%;
    background: rgba(78, 0, 132, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 16px;
    border: 1px solid #bd5fff;
    box-shadow: 0px 0px 10px 0px darken(rgba(235, 0, 255, 1), 20%);
    .history {
      height: 100%;
      width: 100%;
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      margin: 27px;
      .historyTitle {
        color: #3ca1ff;
        font-size: 16px;
        font-weight: bold;
        text-shadow: 0px 0px 10px rgba(#3ca1ff, 0.7);
        margin-bottom: 22px;
      }
      .historyBox {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        .historyRow {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 12px;
          .historyLeft {
            display: flex;
            flex-direction: row;
            align-items: center;
            .avatar {
              height: 36px;
              width: 36px;
              background: rgba(60, 161, 255, 1);
              border-radius: 50%;
              margin-right: 8px;
            }
            .historyText {
              color: gray;
              .embolden {
                color: #fff;
                font-weight: bold;
              }
            }
          }
          .historyRight {
            color: gray;
            .viewTx {
              margin-left: 10px;
              margin-right: 60px;
              color: #3ca1ff;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
