@import './color-variables.scss';

.profile-container {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  // cursor: default;
  // border: 5px green solid;
  // background-color: $blackbg;

  display: flex;

  .bottomTopContainer {
    position: relative;
    width: 100%;
    color: #fff;

    .header-container {
      // border: 5px blue solid;
      display: flex;
      position: relative;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 22%;
      // background-color: $medium;
      background-color: $blackbg;

      .profile-title {
        width: 120px;
        font-size: 3em;
        margin-top: 20px;
        // background-color: $blackbg;
      }

      .profile-row {
        height: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
    .profile-center-container {
      display: flex;
      // border: 4px orange solid;
      background: $hzflat;
      height: 40%;
      justify-content: center;
      .img-container {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // border: 4px solid yellow;
        width: 33%;
        .profile-img {
          margin-left: auto;
          margin-right: auto;
          height: 150px;
          width: 150px;
          background-color: $bright;
          img {
            height: 150px;
            width: 150px;
          }
        }
        .profile-text {
          margin-left: auto;
          margin-right: auto;
          .profile-name {
          }
          .profile-url {
          }
        }
      }

      .des-container {
        margin-top: 30px;
        padding: 20px;
        padding-top: 0px;
        // border: 4px solid grey;
        width: 67%;
      }
    }

    .footer-container {
      display: flex;
      flex-direction: row;
      // border: 2px solid black;
      justify-content: center;
      // margin-top: 55px;
      height: 38%;
      width: 100%;
      background-color: $blackbg;
      color: #fff;
      .footer-qr {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .qr {
          margin-left: 25px;
          height: 130px;
          width: 130px;
          background-color: #fff;
          img {
            height: 130px;
            width: 130px;
          }
        }
      }
      .footer-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        // border: 2px black solid;
        .ethLogo {
          margin-left: auto;
          margin-right: auto;
        }
        .footer-text {
          margin-left: auto;
          margin-right: auto;
        }
        .footer-address {
          border-radius: 3px;
          height: 30px;
          // background-color: #fff;
          // width: 75%;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          vertical-align: middle;
          display: flex;
          flex-direction: column;
          justify-content: center;
          cursor: pointer !important;
          .eth-btn {
            .btn-43 {
              margin-top: 10px;
              border-radius: 5px;
              padding: 10px;
              cursor: pointer;
              color: black;
              background-color: #fff;
              border: transparent;
            }
          }
        }
      }
    }
  }
}
.profilepic {
  height: 14px;
  width: 14px;
  border-radius: 30px;
  // background-color: white;
  margin-right: 20px;
  margin-left: 20px;

  box-shadow: $dropShadow;
  cursor: pointer;
}
// .ant-modal {
//   border: 1px solid black;
//   // background-color: none;

//   &:first-child {
//     background: none;
//   }
//   &:nth-child(2) {
//     background-color: none;
//   }
//   &:nth-child(3) {
//     background-color: none;
//   }
// }
.ant-modal-content {
  background: none;
}

.ant-modal-wrap {
  backdrop-filter: blur(6px);
  // cursor: default;
}
