@import './color-variables.scss';

.shopContainer {
  // border: 2px green solid;
  background: $shopbg;
  height: 100%;
  width: 100%;

  .tabs {
    overflow: hidden;
    height: 90vh;
    // border: 2px solid red;
    background: $blackbg;

    .tabPane {
      background: $shopbg;
    }

    .firstPane {
      .gridContainer-profile {
        padding-top: 35px;
        .gridCell {
          // overflow: visible;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 35px;
          height: 475px;
          width: 327px;
          // background: blue;
          border-radius: 10px;
          overflow: hidden;
          transition: all 0.4s ease-in-out;
          display: flex;
          flex-direction: column;
          align-items: space-between;
          &:hover {
            transform: scale(1.05);
            box-shadow: 0px 0px 15px 5px $bright;
          }
          .topCell {
            height: 67%;
            width: auto;
            background: rgba(180, 179, 179, 0.4);
            // border-radius: 15px;
            // border: 2px solid blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .cellImage {
              // margin-top: auto;
              // margin-bottom: auto;
              max-width: 100%;
              // max-height: 100%;
              overflow: hidden;
              object-fit: cover;
            }
          }
          .bottomCell {
            height: 33%;
            width: auto;
            background: $blackbg;
            color: $lightgrey;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            // align-content: center;
            // border: 2px solid green;
            & > div {
              text-align: center;
              width: 100%;
            }
            .name {
              font-size: 33px;
            }
            .domain {
            }
            .desc {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              .ticker {
              }
              .holders {
              }
            }
            .price {
              font-size: 18px;
            }
            .bottom {
              position: relative;
              display: flex;
              flex-direction: row;
              justify-content: center;
              .eth-price {
              }
              .cell-btn {
                position: absolute;
                right: 0;
                transform: translate(-15px, -10px);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .secondPane {
    }
    .thirdPane {
      // background: radial-gradient(
      //   50% 50% at 50% 50%,
      //   rgba(107, 59, 209, 0) 0%,
      //   rgba(105, 3, 141, 0.33) 100%
      // );
      background: $shopbg;
    }
    // tab container
    #rc-tabs-0-panel-2 {
      height: 100%;
      width: 100%;
      padding: 0;
      // entire table component

      .ant-table-wrapper {
        left: 0;
        top: 0;
        // border: 2px red solid;
        height: 100%;
        width: 100%;
        // border: none;
        // table without footer
        .ant-table {
          background: none;
          // border: none;
          // table header
          .ant-table-thead {
            tr th {
              border: none;
              background: none !important;
              color: #fff;
            }
          }
          // table body
          .ant-table-tbody {
            // all rows
            tr {
              border: 0px !important;
              color: #fff;
              // every row
              th {
                border: 0px !important;
              }
              // every second row
              &:nth-child(2n) {
                background: none;
              }
              // first row and every second row after
              &:nth-child(2n-1) {
                background-color: rgba(0, 0, 0, 0.2);
              }
            }
          }
        }
      }
    }
  }
  .mintNFT {
    color: #fff;
    transform: translate(15px, -60px);
    width: 150px;
    background: $blueBtnGrad;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    border-radius: 86px;
    border: none;
    cursor: pointer;
  }
}

.profile-container {
  display: flex;
}

.profile-left {
  padding-top: 100px;
  padding-right: 150px;
  width: 16vw;
}

.profile-middle {
  padding-bottom: 20px;
  width: 16vw;
}

.profile-name {
  padding-top: 10px;
}

.profile-title {
  align-items: center;
  justify-content: center;
}

.profilepic {
  width: 200px;
  height: 200px;

  // background-color: white;
  margin-right: 40px;

  // transform: translateY(-20px);
  box-shadow: $dropShadow;
  cursor: pointer;
}

.ZNA {
  padding-right: 6px;
}

//

.ant-modal-mask {
  background-color: rgba($blackbg, 0.2);
}

.noModalPadding {
  .ant-table-body {
    padding: 0;
  }
}
