@import './color-variables.scss';

.mintContainer {
  //   border: solid blue 2px;
  background-color: $blackbg;
  height: 60vh;
  color: #fff;
  .mintForm {
    // border: solid red 2px;
    height: 100%;
    width: 100%;
    .mintBar {
      height: 20%;
      //   margin-top: 25px;
      //   margin-bottom: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .headerText {
        font-size: 2em;
      }
      .subText {
        font-size: 1em;
        color: $grayModal;
      }
    }
    .mintBodyContainer {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      background: $hzflat;
      height: 80%;
      max-height: 80%;
      width: 100%;
      //   border: 2px green solid;
      & > div {
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 15px;
        // padding: 15px;
      }
      .mintMedia {
        // border: 2px solid yellow;
        width: auto;

        .mintMediaText {
          color: $grayModal;
        }
        .create-button {
          display: flex;
          flex-direction: column;
          .fileInput {
            width: 80%;
            border: 2px $grayModal solid;
            padding: 4px;
            background-color: none;
            &::file-selector-button {
              display: none;
            }
            &::placeholder {
            }
          }
          .img-btn {
            margin-top: 10px;
            width: 150px;
            background: $blueBtnGrad;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8px 32px;
            border-radius: 86px;
            border: none;
          }
        }
      }
      .content {
        // border: 2px solid cyan;
        // width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .left {
          width: 45%;
          //   border: 2px solid lime;
          .title {
            width: 100%;
            margin-bottom: 10px;
            .titleText {
              color: $grayModal;
              background: none;
            }
            .titleInput {
              background: none;
              border: 2px solid $grayModal !important;
              width: 100%;
              border: none;
              color: #fff;
            }
          }
          .story {
            width: 100%;
            .storyText {
              color: $grayModal;
            }
            .storyInput {
              background: none;
              border: 2px solid $grayModal !important;
              width: 100%;
              border: none;
              color: #fff;
              height: 175px;
              resize: none;
            }
          }
        }
        .right {
          width: 45%;
          .image {
            height: 100%;
            width: 100%;
            background: rgba(royalblue, 0.5);
          }
        }
      }
      .continueBar {
        margin-top: 25px;
        // margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        .continueButton {
          width: 150px;
          background: $blueBtnGrad;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 8px 32px;
          border-radius: 86px;
          border: none;
        }
      }
    }
  }
}
