#subdomainsContainer {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: left;
  left: 20%;
  margin: 15px, none, 15px;
  padding: 15px;
  border: 1px black solid;
  min-width: 480px;
  max-width: 80%;
}

@import '~antd/dist/antd.css';

.btn-container {
  display: flex;
  justify-content: end;
  justify-content: space-around;
  border: 2px solid blue;
  white-space: 3px;
}

.tra-btn {
}
