@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

$light-red: darken(#cf7571, 10%);
$middle-red: #953338;
$dark-red: #641f29;
$dark-grey: lighten(#678293, 20%);
$light-grey: lighten(#b8bdca, 20%);
$sky-blue: #76b1ce;

#subdomainsContainer {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 15px;
  top: 50%;
  left: 15%;
  border: 2px $middle-red solid;
  min-width: 480px;
  width: 80vw;
  border-top-right-radius: 95px;
  font-family: 'JetBrains Mono', monospace;
}

.tableContainer {
}

.subdomainsTable {
  background: none;
  border-radius: 50%;
  border-collapse: inherit;
  border-spacing: 0px;
  width: 80%;
  height: 30vh;
  // subdomains header
  .subdomainsHeaderGroup {
    background-color: $middle-red;
  }
  // table body
  tbody {
    // all rows
    tr {
      // every second row
      &:nth-child(2n) {
        &:hover td {
          background: lighten($light-red, 10%) !important;
        }
        td {
          background-color: $middle-red;
        }
      }
      // first row and every other row
      &:nth-child(2n-1) {
        &:hover td {
          background: lighten($light-red, 10%) !important;
        }
        td {
          background-color: $light-red;
        }
      }
      // bottom  row
      &:last-child td {
        // bottom right cell
        &:last-child {
          border-radius: 0px 0px 15px 0px;
        }
        // bottom left cell
        &:first-child {
          border-radius: 0px 0px 0px 15px;
        }
      }
      // all columns
      td {
        // every cell except the third
        &:not(:nth-child(3)) {
          text-align: center;
        }
        &:first-child {
          color: $dark-grey;
          font-weight: bold;
        }
        &:nth-child(3) {
          color: $light-grey;
        }
        &:nth-child(4) {
          color: $light-grey;
        }
        &:nth-child(5) {
          color: $light-grey;
        }
        &:nth-child(6) {
          color: $sky-blue;
        }
        &:nth-child(7) {
          color: $light-grey;
        }
      }
    }
  }
}

// subdomains header
.subdomainsHeaderGroup {
  color: $dark-grey;
  text-decoration: none;
  tr th:first-child {
    // border-top-right-radius: 10%;
    border-radius: 50%;
    // border-collapse: inherit;
    // border-spacing: 0px;
    border: 1px solid $middle-red;
  }
  tr th:last-child {
    border-top-right-radius: 95px;

    // border-radius: 50%;
  }
}

@import '~antd/dist/antd.css';

.big-btn {
  display: flex;
  padding-left: 55%;
  overflow: hidden;
}

.btn-sub {
  background-color: #224564;
  width: 100px;
  height: 50px;
  border: 1px solid #76b1ce;
  font-size: 14px;
  border-radius: 100px;
  transition: 0.6s;
  overflow: hidden;
}

.transfer-btn {
  background-color: #224564;
  width: 100px;
  height: 50px;
  border: 1px solid #76b1ce;
  font-size: 14px;
  border-radius: 100px;
  transition: 0.6s;
  overflow: hidden;
}

.btn-container {
  padding-right: 16px;
  overflow: hidden;
}

.ant-btn-primary {
}
