@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

$light-red: darken(#cf7571, 10%);
$middle-red: #953338;
$dark-red: #641f29;
$dark-grey: lighten(#678293, 20%);
$light-grey: lighten(#b8bdca, 20%);
$sky-blue: #76b1ce;
$page-margin: 100px;

#subdomainsContainer {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: left;
  margin: 15px;
  padding: 15px;
  margin-left: $page-margin;
  top: 50%;
  left: 0%;
  min-width: 480px;
  width: 80vw;
  font-family: 'JetBrains Mono', monospace;
}
.metricsBar {
  display: flex;
  flex-direction: column;
  margin-left: $page-margin;
  overflow-x: hidden;

  // width: 100%;
  white-space: nowrap;

  .metricsTitle {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: white;
  }
  .metricsContainer {
    display: inline-block;
    // flex-direction: row;
    // flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    &::-webkit-scrollbar {
      height: 6px;
      // &::before {
      // 	content: "hello";
      // 	width: 15px;
      // 	height: 15px;
      // }
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(0, 128, 0);
      // outline: 1px solid purple;
    }
    .metricBlock {
      display: inline-block;
      .metric {
        margin-right: 30px;
        position: relative;
        float: left;
        width: 370px;
        height: 182px;
        border-width: 2px;
        border-style: solid;
        border-radius: 12px 72px 12px 12px;
        background-color: rgba(244, 93, 100, 0.14);
        border-color: rgba(244, 93, 100, 0.68);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .metricField {
          margin-left: 15px;
          &:first-child {
            margin-top: 15px;
            color: white;
            font-size: 1rem;
          }
          &:nth-child(2) {
            color: rgb(244, 93, 100);
            font-size: 2rem;
          }
          &:nth-child(3) {
            margin-bottom: 15px;
            color: $light-grey;
            font-size: 0.9rem;
            span {
              color: $sky-blue;
            }
          }
        }
      }
    }
  }
}

.subdomainsSortBar {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: white;
  // border: 3px black solid;
  .subdomainsButtonSortContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-top: 10px;
    .subdomainsButtonSortLeft {
      display: flex;
      flex-direction: row;
      width: 60%;
      justify-content: space-between;
      .sdbslItemSelected {
        border: $light-red;
        border-radius: 15px;
        background: lighten($dark-red, 10%);
        .bolt {
          color: transparent;
          text-shadow: 0 0 0 lighten($light-red, 10%);
        }
      }
      div {
        color: $light-grey;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-right: 6px;
        padding-left: 6px;
      }
    }
    .subdomainsButtonSortRight {
      display: flex;
      flex-direction: row;
      align-items: center;
      .sdbsrItem {
        margin-left: 15px;
        margin-top: -15px;
      }
      .sdbsrSort {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        div {
          &:nth-child(1) {
            color: $light-red;
          }
          &:nth-child(2) {
            margin-top: -3px;
          }
        }
      }
    }
  }
}

.tableButtons {
  border: 15px black solid;
  width: 100%;
}

table {
  width: 100%;
}

.subdomainsTable {
  background: none;
  border-collapse: inherit;
  border-spacing: 0px;
  width: 100%;
  height: 30vh;
  margin-top: 25px;
  // subdomains header
  .subdomainsHeaderGroup {
    background-color: $middle-red;
    tr th {
      &:not(:nth-child(3)) {
        text-align: center;
      }
    }
  }
  // table body
  tbody {
    // all rows
    tr {
      // every second row
      &:nth-child(2n) {
        &:hover td {
          background: lighten($light-red, 10%) !important;
        }
        td {
          background-color: $middle-red;
        }
      }
      // first row and every other row
      &:nth-child(2n-1) {
        &:hover td {
          background: lighten($light-red, 10%) !important;
        }
        td {
          background-color: $light-red;
        }
      }
      // bottom  row
      &:last-child td {
        // bottom right cell
        &:last-child {
          border-radius: 0px 0px 15px 0px;
        }
        // bottom left cell
        &:first-child {
          border-radius: 0px 0px 0px 15px;
        }
      }
      // all columns
      td {
        // every cell except the third
        &:not(:nth-child(3)) {
          text-align: center;
        }
        &:first-child {
          color: $dark-grey;
          font-weight: bold;
        }
        &:nth-child(3) {
          color: $light-grey;
        }
        &:nth-child(4) {
          color: $light-grey;
        }
        &:nth-child(5) {
          color: $light-grey;
        }
        &:nth-child(6) {
          color: $sky-blue;
        }
        &:nth-child(7) {
          color: $light-grey;
        }
      }
    }
  }
}

.route-nav-link {
  display: flex;
  flex-direction: row;
  padding-right: 0% !important;
}

// subdomains header
.subdomainsHeaderGroup {
  color: $dark-grey;
  text-decoration: none;
  tr th:first-child {
    // border-top-right-radius: 10%;
    border-radius: 50%;
    // border-collapse: inherit;
    // border-spacing: 0px;
    border: 1px solid $middle-red;
  }
  tr th:last-child {
    border-top-right-radius: 95px;

    // border-radius: 50%;
  }
}

@import '~antd/dist/antd.css';

.big-btn {
  display: flex;
  padding-left: 55%;
  overflow: hidden;
}

.btn-sub {
  background-color: #224564;
  width: 100px;
  height: 50px;
  border: 1px solid #76b1ce;
  font-size: 14px;
  border-radius: 100px;
  transition: 0.6s;
  overflow: hidden;
}

.transfer-btn {
  background-color: #224564;
  width: 100px;
  height: 50px;
  border: 1px solid #76b1ce;
  font-size: 14px;
  border-radius: 100px;
  transition: 0.6s;
  overflow: hidden;
}

.btn-container {
  padding-right: 16px;
  overflow: hidden;
}

.ant-btn-primary {
}
