@import './color-variables.scss';

.topbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 21px 25px 21px 60px;
  width: 100vw;
  max-width: 100vw;
  height: 124px;

  .test-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 21px 25px 21px 60px;
    width: 100vw;
    max-width: 100vw;
    height: 124px;
  }
  .topbarLeft {
    .topbarLogo {
      max-height: 60px;
      max-width: 60px;
    }

    .route-nav-text {
      margin-left: 16px;
      color: #b5b5b5;
      letter-spacing: 0;

      z-index: 5;
    }

    .route-nav-text-sub {
      color: #b5b5b5;
      letter-spacing: 0;

      z-index: 5;
    }
  }

  .search-bar {
    position: absolute;
    border: none;
    margin-left: 25vw;

    .search-bar-input {
      border-color: none;
      border-width: 0px !important;
      width: 330px;
      height: 49px;
      background-color: rgba(241, 115, 115, 0.06);
      border-radius: 31px;
      padding: 15px 31px 13px 31px;
      /* Text */
      text-align: left;
      font-size: 16px;
      color: white;
      &:placeholder {
        color: #727272;
        font-size: 16px;
      }
    }

    .search-bar-button {
      // TODO: make more responsive to page size
      position: absolute;
      right: 0;
      top: 0;
      height: 49px;
      width: 49px;
      border-radius: 31px;
      border-color: none;
      border-width: 0px !important;
      background-color: $middle-red;
      background-image: url('./img/search-icon.svg');
      background-position: center;
      background-size: 18px 18px;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

  .topbarRight {
    justify-self: flex-end;
    display: flex;
    flex-direction: row;

    .connect-btn {
      padding-right: 10px;
      background-color: transparent;
      // width: 100px;
      height: 50px;
      border: none;
      font-size: 14px;
      border-radius: 100px;
      transition: 0.6s;
      overflow: hidden;
      padding-right: 10px;
      color: lightgray !important;
    }

    .create-network {
      display: flex;
      align-items: center;
      padding: 9px 24px 9px 27px;
      font-size: 16px;
      color: white;
      background-color: rgba(0, 0, 0, 0);
      box-shadow: 4px 6px 17px 0px rgba(0, 0, 0, 0.45);
      border-radius: 24px;
      // border: 2px solid #78d0f8;
      border: 2px solid rgba(244, 93, 100, 0.68);
      border-width: 2px 0;
      height: 47px;
      margin-left: 29px;
      &:nth-child(1) {
        padding: none;
        margin: none;
      }
      &:nth-child(2) {
        padding: none;
        margin: none;
      }
    }

    .nightmoon {
      height: 41px;
      width: 41px;
      margin-left: 29px;
      background-color: #172c3c;
      border-radius: 50%;
    }
  }

  .profile-btn {
    display: flex;
    padding-right: 10px;
    background: transparent;
    border: none;
    color: lightgray !important;
  }
}

.new-ETH {
  display: flex;
  flex-direction: row;
}
