.walletButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10vw;
}

.walletButtonContainer:nth-child(1) {
  margin-bottom: 20px;
}

.network-btns {
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
}

.button-target {
  margin-left: 30px;
}
