.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  border-radius: 2%;
}

.modal.active {
  transform: translate(-50%, -50%);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

// .button-target {
//   display: flex;
//   justify-content: space-between;
//   padding-top: 10px;
//   margin-right: 10px;
// }

.networkButtons {
  height: 3rem;
  border-radius: 1rem;
  padding: 1px 6px;
  border-color: unset;
  cursor: pointer;
  position: relative;
}

.button-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 33.3% 33.3% 33.3%;
  max-width: 20rem;
  margin: auto;
}

#content div {
  padding: 30px;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}
