@use 'styles/variables/borders';
@use 'styles/variables/animations';
@use 'styles/variables/colors';

.question-button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	background: #{colors.$off-white-25};
	border-radius: 50%;
	z-index: 1;

	&::after {
		content: ' ';
		position: absolute;
		top: 50%;
		left: 50%;
		height: 0px;
		width: 0px;
		border-radius: #{borders.$radius-primary};
		z-index: -2;
		transition: box-shadow #{animations.$time-medium} ease-in-out;
	}

	&:hover::after {
		box-shadow: 0 0 20px 13px #{colors.$off-white-50};
	}

	&.small {
		width: 16px;
		height: 16px;

		img {
			width: 6px;
		}
	}
}
