.profile {
	width: 1320px;
	min-width: 1320px;
	padding: 54px;
	color: #4D4D4D;
	background: var(--background-blue-deck);
	filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.5));
	opacity: 0.9;
}

.profile h1 {
	font-size: 24px;
	color: white;
}

.header {
	padding-left: 60px;
	padding-top: 32px;
	padding-bottom: 16px;

	font-size: 36px;
	color: white;

	border-radius: var(--box-radius) var(--box-radius) 0 0;

	/* background: linear-gradient(92.24deg, rgba(0, 22, 55, 0.5) 0%, rgba(0, 63, 137, 0.265) 100%); */
}

.body {
	display: flex;
	justify-content: center;
	padding: 39px 52px 62px 60px;

	font-size: var(--font-size-default);
	color: white;
}

.name {
	font-size: 24px;
	font-weight: 700;

	color: white;
}

.dp {
	width: 160px;
	height: 160px;

	margin: 0 auto;

	border-radius: 50%;

	filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.5));

  	object-fit: cover;
}

.endpoint {
	margin-top: 16px;

	color: white;
}

/* DP section */
.body > div:nth-child(1) {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 176px;
}

/* Profile paragraph */
.body > div:nth-child(2) {
	width: 515px;
	margin-left: 57px;

	line-height: 22px;
}

.body > div:nth-child(2) > p {
	margin-top: 16px;
}