.Tooltip {
	position: relative;
}

.Content {
	position: absolute;
	padding-top: 20px;
	left: -383px;
	z-index: 10;
	opacity: 0;
}

.Open {
	animation: open 0.1s forwards;
	animation-timing-function: ease-in-out;
	opacity: 1;
}

.Closed {
	animation: close 0.1s forwards;
	animation-timing-function: ease-in-out;
	display: none;
}

@keyframes open {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes close {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	100% {
		display: none;
	}
}
