.Container {
	td {
		&:first-child {
			padding-left: 11px !important;
		}

		&:not(:first-child) {
			text-align: right;
		}

		&:last-child {
			width: 230px;

			> button {
				margin-left: auto;
			}
		}

		&.Lead {
			color: var(--color-success);
		}

		&.Outbid {
			color: var(--color-error);
		}
	}
}
