@use 'styles/variables/colors';

.Container {
	cursor: pointer;

	&:hover {
		background: #{colors.$purple-10};
	}

	td {
		&:first-child {
			padding-left: 11px !important;
		}

		&:not(:first-child) {
			text-align: right;
		}

		&:last-child {
			width: 230px;

			> button {
				margin-left: auto;
			}
		}

		&.Lead {
			color: #{colors.$success-green};
		}

		&.Outbid {
			color: #{colors.$red-300};
		}
	}

	.Button {
		margin-left: auto;
		background: none;
	}

	.RebidButton {
		margin-left: auto;
		margin-right: auto;
	}

	td {
		&:last-of-type {
			width: 32px;
			padding-left: 32px !important;
		}
	}

	.MoreDropdown {
		:global(ul) {
			li {
				display: flex;

				span {
					margin-left: 10px;
				}
			}
		}
	}

	.HighestBid {
		p {
			padding-bottom: 0;
		}

		.Outbid {
			color: #{colors.$red-300};
			font-size: 12px;
		}

		.Leading {
			color: #{colors.$success-green};
			font-size: 12px;
		}
	}
}
