.StepBar {
    position: relative;
    width: 100%;

}

.StepBar::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #6E10BB;
    z-index: -1;
}

.Bar {
    padding-bottom: 4px;

    font-size: 12px;
    text-align: center;

    border-bottom: 1px solid #E0BAFF;

    transition: width var(--animation-time-medium) ease-in-out;
}