.PageContainer {
	// Mobile Breakpoints
	width: 100%;
	margin: 0 auto;
	padding: 8px 8px 48px 8px;
	box-sizing: border-box;

	// Tablet Breakpoints
	@media only screen and (min-width: 744px) {
		margin: 0;
		padding: 0;
	}

	.Main {
		margin-top: 16px;

		// Desktop Breakpoints
		@media only screen and (min-width: 1440px) {
			margin-top: 24px;
		}
	}

	.InnerContainer {
		width: 100%;
	}

	.FlexRowWrapper {
		display: flex;
		flex-direction: row;
		width: 100%;

		// Desktop Breakpoints
		@media only screen and (min-width: 1600px) {
			justify-content: center;
		}

		.Actions {
			// Mobile + Tablet Breakpoints
			display: none;

			// Desktop Breakpoints
			@media only screen and (min-width: 1440px) {
				display: flex;
				position: relative;
				align-items: flex-start;
				height: 0;
				right: 0;
				margin-top: 2px;
				padding: 28px;
				gap: 16px;
			}

			@media only screen and (min-width: 1600px) {
				width: 240px;
				margin-top: 20px;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.FlexColumnWrapper {
		// Mobile Breakpoints
		width: 100%;

		// Tablet Breakpoints
		@media only screen and (min-width: 744px) {
			margin: 8px 16px;
			max-width: 736px;
		}

		@media only screen and (min-width: 834px) {
			margin: 8px auto;
		}

		// Desktop Breakpoints
		@media only screen and (min-width: 1440px) {
			margin-top: 24px;
		}

		@media only screen and (min-width: 1600px) {
			margin: 24px;
		}
	}
}
