.PageContainer {
	// Mobile
	width: 100%;
	margin: 0 auto;
	padding: 8px;
	box-sizing: border-box;

	.Main {
		margin-top: 16px;
	}

	.InnerContainer {
		width: 100%;
	}

	.FlexRowWrapper {
		display: flex;
		flex-direction: row;
		width: 100%;

		.Actions {
			display: none;

			@media only screen and (min-width: 1200px) {
				display: flex;
				position: relative;
				align-items: baseline;
				right: 0;
				padding: 28px;
				gap: 16px;
			}
		}
	}

	.FlexColumnWrapper {
		// Mobile
		margin: 0;
		width: 100%;

		// Tablet
		@media only screen and (min-width: 834px) {
			margin: 0 auto;
			max-width: 736px;
		}
	}

	// Tablet
	@media only screen and (min-width: 834px) {
		margin: 0;
		padding: 0;
	}
}

.ZERO {
	position: fixed;
	bottom: 29px;
	height: 54px;
	width: 54px;
	z-index: 4;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transform: translateX(calc(-100% - 19px));
	cursor: pointer;
	transition: transform var(--animation-time-medium) ease-in-out;

	& img {
		max-width: calc(65% - 1px);
		height: auto;
		margin-left: 1px;
		border-radius: 50%;

		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
}
