@use 'styles/variables/dimensions';

.PageContainer {
	// Mobile Breakpoints
	width: 100%;
	margin: 0 auto;
	padding: 8px 8px 120px 8px;
	box-sizing: border-box;

	// Tablet Breakpoints
	@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
		margin: 0;
		padding: 0;
	}

	.Main {
		// Mobile Breakpoints
		margin-top: 8px;

		// Rogue Breakpoint - Stats Widget Intro
		@media only screen and (min-width: #{dimensions.$breakpoint-mobile-xl}) {
			margin-top: 16px;
		}

		// Desktop Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
			margin-top: 24px;
		}

		@media only screen and (min-width: #{dimensions.$breakpoint-desktop-l}) {
			margin-top: 56px;
		}
	}

	.InnerContainer {
		width: 100%;
	}

	.FlexRowWrapper {
		display: flex;
		flex-direction: row;
		width: 100%;

		// Desktop Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-desktop-m}) {
			justify-content: center;
		}

		.Actions {
			// Mobile + Tablet Breakpoints
			display: none;

			// Desktop Breakpoints
			@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
				display: flex;
				position: sticky;
				top: 0;
				align-items: flex-start;
				justify-content: flex-end;
				right: 0;
				height: 100vh;
				width: 240px;
				padding: 28px;
				gap: 16px;
				z-index: 9999;
			}

			@media only screen and (min-width: #{dimensions.$breakpoint-desktop-m}) {
				justify-content: center;
			}
		}
	}

	.FlexColumnWrapper {
		// Mobile Breakpoints
		width: 100%;
		margin: 0 0 16px 0px;

		// Tablet Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
			max-width: #{dimensions.$width-max};
			margin: 8px 16px 16px 16px;
		}

		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-m}) {
			margin: 8px auto 16px auto;
		}

		// Desktop Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
			margin: 24px auto;
		}

		@media only screen and (min-width: #{dimensions.$breakpoint-desktop-m}) {
			margin: 24px;
		}
	}
}

.MaintenanceContainer {
	// font-family: Open Sans;
	font-weight: 100;
	font-size: 20px;
	color: #fff;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	.Heading {
		font-size: 50px;
		font-weight: 100;
		text-align: center;
	}

	.Logo {
		height: 150px !important;
		width: 150px !important;
	}
	.Article {
		display: block;
		width: 700px;
		padding: 75px;
		margin: 0 auto;
	}
}
