@use 'styles/variables/colors';

.Container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.Container span {
	display: inline-block;
	width: 100%;
	margin-left: 12px;
	margin-bottom: 40px;

	color: #{colors.$red-300};
	text-align: center;

	line-height: 24px;
}
