.Container {
	cursor: pointer;
	position: relative !important;
	min-width: 280px;
	/* max-width: 388px; */
	border-radius: var(--box-radius);
	overflow: hidden;

	border: 1px solid #232323;

	padding-top: 100%;

	&.Landscape {
		padding-top: 56.25%;
	}

	&.Portrait {
		padding-top: 125%;
	}

	@media only screen and (max-width: 414px) {
		min-width: unset;
	}

	h5 {
		margin-bottom: 1px;
		color: var(--color-text-primary);
		font-size: 18px;
		font-weight: 700;
	}

	.Image {
		position: absolute !important;
		top: 0;
		left: 0;
		height: auto !important;
		width: 100% !important;
		object-fit: cover;

		border-radius: var(--box-radius) var(--box-radius) 0 0;

		img,
		video {
			width: 100%;
		}

		// This is coupled to the Image component
		// Should be decoupled
		div[class*='Spinner'] {
			margin-top: 50%;
		}
	}

	.Footer {
		padding: 16px;
	}
}
