.Container {
	cursor: pointer;
	min-width: 280px;
	border-radius: var(--box-radius);
	background: rgba(0, 0, 0, 0.2);
	overflow: hidden;

	@media only screen and (max-width: 414px) {
		min-width: unset;
	}

	h5 {
		margin-bottom: 1px;
		color: white;
		font-size: 18px;
		font-weight: 700;
	}

	.Body {
		position: relative;
		padding-top: 100%;
		background: rgba(0, 0, 0, 0.3);
	}

	.Image {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border-radius: var(--box-radius) var(--box-radius) 0 0;

		img,
		video {
			width: 100%;
		}
	}

	.Footer {
		padding: 16px;
		background-color: var(--color-background-alt);
	}
}
