.domain-settings-body {
	&__blocked {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10000;
		cursor: not-allowed;
	}

	&__container {
		position: relative;
		flex-grow: 1;
		padding: 48px;
		overflow-y: auto;

		&.locked {
			overflow-y: hidden;
			opacity: 0.5;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		width: 100%;

		&--left {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 260px;
			width: 260px;
			min-width: 260px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: var(--box-radius);
			overflow: hidden;
			cursor: pointer;
			transition: transform var(--animation-time-medium) ease-in-out,
				border-color var(--animation-time-medium) ease-in-out;
		}

		&--right {
			width: 260px;
			min-width: 260px;

			> div + div {
				margin-top: 32px;
			}
		}
	}

	&__center {
		margin: 40px 0;
	}

	&__footer {
		padding: 8px 0;
		border-top: 2px solid var(--color-grey-lighter-2);

		h3 {
			font-size: var(--font-size-default);
			font-weight: 700;
			line-height: 24px;
			margin-bottom: 16px;
		}

		&--section {
			display: flex;
			flex-direction: column;
			padding: 16px 0;
			border-bottom: 1px solid var(--color-purple-lighter);
		}

		&--main-section {
			display: flex;
			align-items: center;

			> label {
				margin-right: 8px;
			}
		}

		&--sub-section {
			display: flex;
			flex-direction: column;
			margin: 16px 0 16px 48px;

			&.no-gutters {
				margin: 8px 0 0;
			}

			&-wrap + &-wrap {
				margin-top: 32px;
			}

			&-block {
				display: flex;
				align-items: center;

				> label {
					margin-right: 8px;
				}
			}

			&-block + &-block {
				margin-top: 8px;
			}
		}
	}
}
