@use 'styles/variables/dimensions';
@use 'styles/variables/typography';

$width: 640px;
$gutter: 16px;

.Container {
	display: flex;
	flex-direction: column;
	width: $width;
	padding: 48px;

	@media only screen and (max-width: #{$width + $gutter + $gutter}) {
		width: calc(100vw - $gutter - $gutter);
		padding: 48px 16px;
	}

	@media only screen and (max-width: #{dimensions.$breakpoint-mobile-l}) {
		width: 100vw;
		border: none;
		max-width: unset !important;
	}

	.Header {
		width: 100%;
		text-align: center;
		margin-bottom: 40px;

		h1 {
			font-size: #{typography.$size-large};
			font-weight: #{typography.$font-weight-bold};
		}

		h2 {
			margin-top: 12px;
		}

		hr {
			margin-top: 24px;
		}
	}

	.Buttons {
		width: 100%;
		display: flex;
	}
}
