.Container {
	width: 640px;
	padding: 48px;

	.Header {
		width: 100%;
		text-align: center;
		margin-bottom: 40px;

		h1 {
			font-size: 24px;
			font-weight: 700;
		}

		h2 {
			margin-top: 12px;
		}

		hr {
			margin-top: 24px;
		}
	}

	.Buttons {
		width: 100%;
		display: flex;
	}
}
