@use 'styles/variables/dimensions';
@use 'styles/variables/colors';

.domain-settings-footer {
	&__container {
		flex-shrink: 0;
		padding: 0 0 24px 0;
		background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(0, 0, 0, 0.73) 0%,
			rgba(0, 0, 0, 0.43) 100%
		);
		backdrop-filter: blur(20px);
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
	}

	&__label {
		text-align: center;
		margin-bottom: 16px;

		label {
			&.warning {
				color: #{colors.$error};

				&.is_locked_warning {
					color: #{colors.$warning};
				}
			}
			&.success {
				color: #{colors.$success-green};
			}
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;

		&-wrapper {
			display: flex;
			flex-direction: column;

			> *:not(:last-child) {
				margin-bottom: 16px;
			}

			@media only screen and (min-width: #{dimensions.$breakpoint-mobile-xl}) {
				flex-direction: row;

				> *:not(:last-child) {
					margin: 0 16px 0 0;
				}
			}
		}

		&-icon {
			margin: 0 12px;

			&.lock--icon {
				background-color: none;

				&:hover:after {
					display: none !important;
				}
			}
		}
	}
}
