.Container {
	> span {
		display: block;

		&.Top {
			color: var(--color-primary-lighter-3);
			font-size: 12px;
		}

		&.Main {
			margin-top: 2px;
		}

		&.Bottom {
			color: var(--color-grey-lighter-2);
			font-size: 12px;
		}
	}
}
