@use 'styles/variables/typography';
@use 'styles/variables/colors';

.Container {
	> span {
		display: block;

		&.Top {
			color: #{colors.$easter-purple};
			font-size: #{typography.$size-tiny};
		}

		&.Main {
			margin-top: 2px;
		}

		&.Bottom {
			color: #{colors.$grey-lighter-2};
			font-size: #{typography.$size-tiny};
		}
	}
}
