@use 'styles/variables/colors';

.Container {
	> *:not(:first-child) {
		margin-top: 40px;
	}

	.Actions {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.Balance {
		margin-top: 32px;
		text-align: center;

		> span:first-child {
			color: #{colors.$silver};
		}

		.Value {
			color: unset;
		}
	}
}
