.TextButton {
	color: var(--color-accent-1);

	display: flex;
	align-items: center;

	background-color: rgba(0, 0, 0, 0);

	transition: color var(--animation-time-short) ease-in-out,
		text-shadow var(--animation-time-short) ease-in-out,
		opacity var(--animation-time-short) ease-in-out;

	img {
		height: 14px;
		width: 14px;
		margin-left: 6px;
	}
}

.TextButton:hover {
	text-shadow: var(--glow-text-primary);
}

.Selected {
	color: var(--color-text-primary);
	text-shadow: var(--glow-text-white) !important;
}

.Disabled {
	color: var(--color-grey) !important;
	opacity: 70%;
	pointer-events: none;
}
