.TextButton {
	color: var(--color-accent-1);
	font-weight: 700;

	display: flex;
	align-items: center;

	padding-top: 3px;
	padding-bottom: 0;

	background-color: rgba(0, 0, 0, 0);

	transition: color var(--animation-time-short) ease-in-out,
		text-shadow var(--animation-time-short) ease-in-out,
		opacity var(--animation-time-short) ease-in-out;
}

.TextButton:hover {
	text-shadow: var(--glow-text-blue);
}

.Selected {
	color: white;
	text-shadow: var(--glow-text-white) !important;
}

.Disabled {
	color: var(--color-grey) !important;
	opacity: 70%;
	pointer-events: none;
	padding-left: 0;
}
