@use 'styles/variables/colors';
@use 'styles/variables/animations';

.TextButton {
	color: #{colors.$blue};

	display: flex;
	align-items: center;

	background-color: transparent;

	transition: color #{animations.$time-short} ease-in-out,
		text-shadow #{animations.$time-short} ease-in-out,
		opacity #{animations.$time-short} ease-in-out;

	img {
		height: 14px;
		width: 14px;
		margin-left: 6px;
	}
}

.TextButton:hover {
	text-shadow: #{colors.$text-glow-primary};
}

.Selected {
	color: #{colors.$text-primary};
	text-shadow: #{colors.$text-glow-white} !important;
}

.Disabled {
	color: #{colors.$grey} !important;
	opacity: 70%;
	pointer-events: none;
}
