:root {
    --height: 236px;
}

.PreviewCard {
    display: flex;
    /* width: 100%; */
    height: var(--height);

    padding: 8px;

    background: var(--background-purple-card-20);
}

.Asset {
    width: 398.33px;

    /* background-color: var(--background-purple-card); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 9px 0px 0px 13px;
}

.Body {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 562px;
    margin: 10px 40px 0 36px;
}

.Body h5 {
    color: var(--color-accent-1);
    font-size: 24px;

    margin-bottom: 6px;
}

.Domain {
    color: white;
    font-weight: 700;
}

.Body p {
    margin-top: 17px;
    color: var(--color-accent-1-lighter);
    line-height: 19.2px;
}

.Members {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.Members > div {
    width: 50%;
    display: flex;
    align-items: center;
}

.Dp {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: var(--color-accent-1-lighter);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Member {
    margin-top: 12px;
    margin-left: 16px;
    font-weight: 700;
}


.Member > span:last-of-type {
    color: var(--color-accent-1-lighter);
    margin-top: 4px;
}

.Buy {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    margin-left: auto;
    margin-right: 40px;
    padding-top: 28px;
}

.Buy > span { 
    font-weight: 700;
}

/* Offer amount */
.Buy > span:first-of-type {
    margin-top: 38px;
    font-size: 24px;
}

/* "Last Offer" text */
.Buy > span:last-of-type {
    color: var(--color-accent-1);
    margin-right: 25px;
}

.Buy > span > span {
    font-size: 16px;
    color: var(--color-accent-1-lighter);
}