.NFTCard {
	width: 388px;

	background-color: var(--background-purple-light-20);
}

.Body {
	padding: 18px 20px;
}

.Creator {
	display: flex;
	align-items: center;

	color: white;
}

.Creator > div {
	height: 32px;
	width: 32px;

	background: var(--background-purple-card);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	border-radius: 50%;
}

.Creator > span {
	margin-left: 8px;
}

.NFTCard h5 {
	margin-top: 12px;
	margin-bottom: 8px;

	color: white;
	font-size: 24px;
}

.NFTCard a {
	color: var(--color-accent-1);
	font-weight: 700;
}

.NFT {
	width: 100%;
	height: 348px;
	border-radius: var(--box-radius) var(--box-radius) 0 0;
	object-fit: cover;
}

.Foot {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}

.Foot > div {
	display: flex;
	flex-direction: column;
}

.Foot > div:not(:first-child) > span {
	margin-left: 40px;
}

.Foot > div > span:first-child {
	font-weight: 700;
	color: var(--color-primary-lighter-3);

	text-transform: uppercase;
}

.Foot > div > span:last-child {
	margin-top: 8px;

	font-size: 24px;
	color: white;
}
