@use 'styles/variables/animations';
@use 'styles/variables/colors';
@use 'styles/variables/borders';

.profile-button {
	width: 40px;
	height: 40px;

	transition: all #{animations.$time-short} linear;

	&__container {
		.profile-button {
			display: flex;
			padding: 0;
			background: none;
		}

		&:hover {
			.profile-button {
				border-radius: calc(#{borders.$radius-primary} / 2);
				background: #{colors.$revolver-darker};

				svg {
					path {
						stroke: white;
					}
				}

				&::after {
					box-shadow: none !important;
				}
			}
		}
	}
}
