.wallet {
	position: relative;
}

.wallet input {
	width: 362px;
	padding: 17px 32px 13px 32px;

	text-align: left;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;

	background: rgba(0, 0, 0, 0.8);
	color: #DADCDF;

	border-radius: 30px;
}

.wallet button {
	position: absolute;
	top: 12px;
	right: 27px;

	padding: 0;
	margin: 0;

	height: 26px;
	width: 26px;

	background-image: url("./assets/copy-icon.svg");
	background-position: center;
	background-size: cover;
	background-color: rgba(0,0,0,0);
}