@use 'styles/variables/animations';
@use 'styles/variables/typography';
@use 'styles/variables/colors';

.wallet {
	position: relative;
}

.wallet > img {
	position: absolute;
	top: 50%;
	left: 24px;

	transform: translateY(-50%);

	height: 24px;
}

.wallet > span {
	position: absolute;
	top: 3px;
	left: 54px;
	color: #{colors.$blue};
	font-size: 10px;
}

.wallet input {
	width: 100%;
	padding: 21.5px 61px 6.5px 54px;

	text-align: left;
	font-weight: #{typography.$font-weight-regular};
	line-height: 19.2px;

	background: #{colors.$text-input-background-gradient};
	color: #dadcdf;
	border: 1px solid #88d7ff;
	font-weight: #{typography.$font-weight-bold};

	border-radius: 30px;
}

.wallet button {
	position: absolute;
	top: 12px;
	right: 27px;

	padding: 0;
	margin: 0;

	height: 26px;
	width: 26px;

	background-image: url('./assets/copy-icon.svg');
	background-position: center;
	background-size: cover;
	background-color: #{colors.$black};

	transition: transform #{animations.$time-short} ease-in-out;
}

.wallet button:hover {
	transform: scale(1.1);
}
