@use 'styles/variables/typography';
@use 'styles/variables/colors';

.price {
	margin-top: 16px;

	font-size: #{typography.$size-large};
}

.bottom {
	margin-top: 15px;

	font-size: #{typography.$size-small};
	line-height: 14px;
	font-weight: #{typography.$font-weight-bold};
}

.positive {
	color: #{colors.$success-green};
}

.negative {
	color: #{colors.$error};
}
