@use 'styles/variables/typography';
@use 'styles/variables/colors';

.price {
	margin-top: 16px;

	font-size: 24px;
}

.bottom {
	margin-top: 15px;

	font-size: #{typography.$size-small};
	line-height: 14px;
	font-weight: 700;
}

.positive {
	color: #{colors.$success};
}

.negative {
	color: #{colors.$error};
}
