/* Create Network Button */
.createNetwork {
	display: flex;
	align-items: center;

	padding: 9px 24px 9px 27px;

	font-size: 16px;
	color: white;

	background-color: rgba(0,0,0,0);
	box-shadow: 4px 6px 17px 0px rgba(255, 0, 0, 0.19);

	/* Border */
	border-radius: 24px;
	border: 2px solid #f45d64;
	border-width: 2px 0;
}

.arrow {
	height: 25px;
	width: 25px;
	margin-left: 8px;
	background-image: url('../assets/Graphic.png');
}

/* Darkmode Toggle Button */
.darkmodeToggle {
	height: 41px;
	width: 41px;
	background-color: #172c3c;
	border-radius: 50%;
}

/* Trade Button */
.trade {
	color: white;
	padding: 17px 20px 13px 22px;
	background: linear-gradient(299deg, rgba(255, 0, 13, 0.26) 0%, rgba(244, 93, 100, 0.47) 100%);
  	border-radius: 12px;
  	min-width: 121px;
  	border: 2px solid #f45d64;
}

/* Table Filter Button */
.tableFilter {
	color: #a3a3a3;
	background-color: rgba(0,0,0,0);
	padding: 12px 23px 10px 23px;
	border-radius: 24px;
}

.tableFilter:hover {
	background-color: rgba(244, 93, 100, 0.15);
	color: white;
}

.tableFilter.selected {
	background-color: rgba(244, 93, 100, 0.15);
	color: white;
}

/* Hamburger */
.hamburger {
	width: 16px;
	height: 17px;
	background-color: white;
}

/* Grid */
.grid {
	width: 16px;
	height: 17px;
	background-color: white;
}

/* Icon Buttons */
.icon {
	width: 28px;
	height: 28px;
	border-radius: 14px;
	background: linear-gradient(282deg, rgba(244, 93, 100, 0.5) 0%, rgba(244, 93, 100, 0.26) 100%);
}

/* Accept / Decline Offer */
.accept {
	height: 48px;

	font-size: 18px;

	color: white;
	background: linear-gradient(94.23deg, rgba(0, 102, 197, 0.7) 0%, rgba(106, 183, 255, 0.7) 100%);
	border-radius: 46px;
}

.decline {
	height: 48px;

	font-size: 18px;

	color: white;
	background: radial-gradient(50% 50% at 50% 50%, rgba(107, 59, 209, 0) 0%, rgba(105, 3, 141, 0.33) 100%);
	border-radius: 46px;
}

