//
// Colours
//

$color-black: #000000;
$color-almost-black: #0a0a0a;
$color-grey-90: #232323;
$color-grey-80: #3b3b3b;
$color-grey-60: #6c6c6c;
$color-grey-40: #9d9d9d;
$color-grey-20: #cecece;
$color-grey-10: #e6e6e6;
$color-grey-5: #f3f3f3;
$color-white: #ffffff;

$color-primary: #b14eff;
$color-primary-50: #6a3991;
$color-primary-25: #472e5b;
$color-primary-20: #381c4e;
$color-primary-15: #23142f;
$color-primary-10: #1a1022;
$color-primary-5: #120d16;

$color-other-1: #e2dc4f;
$color-other-2: #58c573;
