@use './variables/colors.scss';
@use './variables/dimensions';
@use './variables/animations';
@use './variables/typography';
@use './variables/borders';

/**
 * 03/04/2022
 * Slowly changing over to new styling
 * Unfortunately the old colours weren't mapped to new colours
 * so they will have to be adjusted on a case by case basis.
 * This file might be a bit of a mess until then.
 */

:root {
	--font-size-default: #{typography.$size-default};
	--font-size-smaller: #{typography.$size-small};
	--font-size-small: #{typography.$size-tiny};
	--font-family: #{typography.$font};

	--color-primary: #{colors.$primary};

	--color-background: #{colors.$background};
	--color-background-50: #{transparentize(colors.$background, 0.5)};

	--color-text-primary: #{colors.$text-primary};

	--glow-text-primary: #{0px 0px 24px transparentize(colors.$primary, 0.6),
		0px 0px 12px transparentize(colors.$primary, 0.6),
		0px 0px 6px transparentize(colors.$primary, 0.6)};

	--box-radius: #{borders.$radius};

	--width-max: #{dimensions.$width-max};
	--width-min: #{dimensions.$width-min};

	--animation-time-short: #{animations.$time-short};
	--animation-time-medium: #{animations.$time-medium};
	--animation-time-long: #{animations.$time-long};

	/*
	 * Legacy values to be replaced
	 */
	--color-primary-lighter-3: #e5baff;
	--color-primary-darkest: #8c00ff;
	--color-accent-1: #52cbff;
	--color-accent-1-darker: #002f5b;
	--color-accent-1-medium-10: rgba(0, 209, 255, 0.1);
	--color-accent-1-light: #a1d2ff;
	--color-accent-1-lighter: #9ed0ff;
	--color-accent-2: #eb00ff;
	--color-warning: #f58c61;
	--color-invalid: #d379ff;
	--color-grey: #808080;
	--color-grey-mine-shaft: #232323;
	--color-grey-lighter-2: #bfbfbf;

	--color-purple-darkest: #10052e;
	--color-purple-dark: #1d0c4a;
	--color-purple-lighter: #23142f;
	--color-revolver: #1a1022;
	--color-bossanova: #472e5b;

	--color-black: #{colors.$black};
	--color-grey-lighter-3: #d9d9d9;
	--color-grey-lighter-4: #f2f2f2;

	--color-accent-blue-100: #52cbff;

	--color-success: #58c573;
	--color-error: #f6677c;

	--color-azure-gradient: linear-gradient(90deg, #5257ff 0%, #52cbff 100%);
	--color-azure-gradient-25: linear-gradient(
		90deg,
		rgba(82, 87, 255, 0.25) 0%,
		rgba(82, 203, 255, 0.25) 100%
	);

	--color-cosmic-gradient: linear-gradient(90deg, #8930ee 0%, #af72f3 100%);
	--color-cosmic-gradient-25: linear-gradient(
		90deg,
		rgba(137, 48, 238, 0.25) 0%,
		rgba(175, 114, 243, 0.25) 100%
	);

	--color-ocean-gradient-10: linear-gradient(
		90deg,
		rgba(82, 174, 255, 0.1) 0%,
		rgba(82, 203, 255, 0.1) 100%
	);

	--color-baby-blue: #9dd0ff;
	--color-cornflower-blue: #e6e6e6;

	--color-background-alt: rgb(29, 12, 74);
	--color-background-alt-50: rgba(29, 21, 74, 0.5);

	--page-padding: 24px;
	--glow-text-white: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

/* Mobile Lrg */
@media only screen and (max-width: 414px) {
	:root {
		--page-padding: 8px;
	}
}

/*
 *
 * Default HTML Elements
 *
 */

html,
body,
button,
input,
textarea {
	font-family: var(--font-family);
	font-size: var(--font-size-default);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

html,
body {
	height: 100%;
	overflow: hidden;
	touch-action: pan-x pan-y;
}

#main-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

input,
textarea {
	font-size: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

body {
	min-height: 100vh;
	width: 100%;
	overflow-y: scroll;

	color: var(--color-text-primary);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--color-background);
}

body.no-scroll {
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
}

h1 {
	font-size: 22px;
}

hr.glow {
	position: relative;
	border: 0;
	height: 1px;
	background: linear-gradient(
		270deg,
		rgba(82, 87, 255, 0.5) 0%,
		rgba(82, 203, 255, 0.5) 100%
	);
}

a,
button.text-button {
	color: var(--color-accent-1);
	text-decoration: none;
	transition: text-shadow var(--animation-time-short) ease-in-out;
}

a:hover,
button.text-button:hover {
	color: var(--color-accent-1);
	text-shadow: var(--glow-text-primary);
}

a.selected {
	text-shadow: var(--glow-text-primary);
}

a.alt-link {
	color: var(--color-text-primary);
}

a.alt-link:hover {
	color: var(--color-text-primary);
	text-shadow: var(--glow-text-white);
}

button.text-button {
	background: none;
	padding: 0;
	font-weight: 700;
}

button {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
 *
 * Custom HTML Elements
 *
 */

#breakpointMessage {
	display: none;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
}

#backgroundImage {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;

	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	opacity: 0;
	z-index: -100;

	transition: opacity var(--animation-time-long) ease-in-out;
}

.option-buttons {
	display: flex;

	> *:not(:first-child) {
		margin-left: 24px;
	}
}

.content {
	display: flex;
	margin-left: 180px;
	margin-top: 106px;
	padding: 25px;
}

.main {
	flex: 1;
}

.nav {
	width: calc(
		100% - (var(--page-padding) * 2) - 6px
	) !important; /* Not sure why the -6 is needed, temp fix */
	max-width: calc(var(--width-max) - (var(--page-padding) * 2)) !important;
	min-width: var(--width-min) !important;
}

.width-full {
	width: 100%;
}

.flex-split {
	display: flex;
	justify-content: space-between;
}

.flex-vertical-align {
	display: flex;
	align-items: center;
}

.no-select {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.text-center {
	text-align: center;
}

.text-success {
	color: var(--color-success);
}

.error-text {
	color: var(--color-error);
}

.bold {
	font-weight: 700;
}

/*
 *
 * Backgrounds
 *
 */
.background-primary {
	background-color: #{colors.$background};
}

/*
 *
 * Borders
 *
 */

.border-primary {
	border: 1px solid #3b3b3b;
	border-collapse: separate;
}

.border-rounded {
	border-radius: var(--box-radius);
	border-collapse: separate;
}

.border-blue {
	border: 1px solid #88d7ff;
}

.border-pink-glow {
	border: 1px solid var(--color-primary-lighter-3);
	box-shadow: 0 0 10px 0 #8d0099;
}

.border-top-left-rounded {
	border-top-left-radius: var(--box-radius);
}

.border-top-right-rounded {
	border-top-right-radius: var(--box-radius);
}

.border-bottom-left-rounded {
	border-bottom-left-radius: var(--box-radius);
}

.border-bottom-right-rounded {
	border-bottom-right-radius: var(--box-radius);
}

.img-border-rounded {
	border-radius: calc(var(--box-radius) / 2) !important;
}

/*
 *
 * Glows / Shadows
 *
 */

.glow-box-accent-2 {
	filter: drop-shadow(0px 0px 10px var(--color-accent-2));
}

.glow-text-white {
	text-shadow: var(--glow-text-white);
}

.glow-text-blue {
	text-shadow: var(--glow-text-primary);
}
