@use './variables/colors';
@use './variables/dimensions';
@use './variables/animations';
@use './variables/typography';
@use './variables/borders';

/**
 * 03/04/2022
 * Slowly changing over to new styling
 * Unfortunately the old colours weren't mapped to new colours
 * so they will have to be adjusted on a case by case basis.
 * This file might be a bit of a mess until then.
 */

:root {
	--page-padding: 24px;
}

/* Mobile Lrg */
@media only screen and (max-width: 414px) {
	:root {
		--page-padding: 8px;
	}
}

/*
 *
 * Default HTML Elements
 *
 */

html,
body,
button,
input,
textarea {
	font-family: #{typography.$font};
	font-size: #{typography.$size-default};
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

html,
body {
	height: 100%;
	overflow: hidden;
	touch-action: pan-x pan-y;
}

#main-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

input,
textarea {
	font-size: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

body {
	min-height: 100vh;
	width: 100%;
	overflow-y: scroll;

	color: #{colors.$text-primary};
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #{colors.$background-primary};
}

body.no-scroll {
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
}

h1 {
	font-size: 22px;
}

hr.glow {
	position: relative;
	border: 0;
	height: 1px;
	background: #{colors.$mine-shaft};
}

a,
button.text-button {
	color: #{colors.$blue};
	text-decoration: none;
	transition: text-shadow #{animations.$time-short} ease-in-out;
}

a:hover,
button.text-button:hover {
	color: #{colors.$blue};
	text-shadow: #{colors.$text-glow-primary};
}

a.selected {
	text-shadow: #{colors.$text-glow-primary};
}

a.alt-link {
	color: #{colors.$text-primary};
}

a.alt-link:hover {
	color: #{colors.$text-primary};
	text-shadow: #{colors.$text-glow-primary};
}

button.text-button {
	background: none;
	padding: 0;
	font-weight: #{typography.$font-weight-bold};
}

button {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
 *
 * Custom HTML Elements
 *
 */

#breakpointMessage {
	display: none;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
}

#backgroundImage {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;

	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	opacity: 0;
	z-index: -100;

	transition: opacity #{animations.$time-long} ease-in-out;
}

.option-buttons {
	display: flex;

	> *:not(:first-child) {
		margin-left: 24px;
	}
}

.content {
	display: flex;
	margin-left: 180px;
	margin-top: 106px;
	padding: 25px;
}

.main {
	flex: 1;
}

.nav {
	width: calc(
		100% - (var(--page-padding) * 2) - 6px
	) !important; /* Not sure why the -6 is needed, temp fix */
	max-width: calc(
		#{dimensions.$width-max} - (var(--page-padding) * 2)
	) !important;
	min-width: #{dimensions.$width-min} !important;
}

.width-full {
	width: 100%;
}

.flex-split {
	display: flex;
	justify-content: space-between;
}

.flex-vertical-align {
	display: flex;
	align-items: center;
}

.no-select {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.text-center {
	text-align: center;
}

.text-success {
	color: #{colors.$success-green};
}

.error-text {
	color: #{colors.$red-300};
}

.bold {
	font-weight: #{typography.$font-weight-bold};
}

/*
 *
 * Backgrounds
 *
 */
.background-primary {
	background-color: #{colors.$background-primary};
}

/*
 *
 * Borders
 *
 */

.border-primary {
	border: 1px solid #3b3b3b;
	border-collapse: separate;
}

.border-rounded {
	border-radius: #{borders.$radius-primary};
	border-collapse: separate;
}

.border-blue {
	border: 1px solid #88d7ff;
}

.border-pink-glow {
	border: 1px solid #{colors.$mauve};
	box-shadow: 0 0 10px 0 #8d0099;
}

.border-top-left-rounded {
	border-top-left-radius: #{borders.$radius-primary};
}

.border-top-right-rounded {
	border-top-right-radius: #{borders.$radius-primary};
}

.border-bottom-left-rounded {
	border-bottom-left-radius: #{borders.$radius-primary};
}

.border-bottom-right-rounded {
	border-bottom-right-radius: #{borders.$radius-primary};
}

.img-border-rounded {
	border-radius: calc(#{borders.$radius-primary} / 2) !important;
}

/*
 *
 * Glows / Shadows
 *
 */

.glow-box-accent-2 {
	filter: drop-shadow(0px 0px 10px #{colors.$electric-violet});
}

.glow-text-white {
	text-shadow: #{colors.$text-glow-white};
}

.glow-text-blue {
	text-shadow: #{colors.$text-glow-primary};
}
