@use 'styles/variables/dimensions';
@use 'styles/variables/colors';
@use 'styles/variables/typography';

.TouchbarContainer {
	// Mobile + Tablet
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 60px;
	background: #{colors.$background-primary};
	border-top: 1px solid #{colors.$mine-shaft};
	z-index: 999;

	// Laptop/Desktop
	@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
		display: none;
	}

	.NavLinks {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;

		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
			width: 100%;
			justify-content: space-evenly;
		}

		> li {
			> a {
				display: flex;
				align-items: center;

				&.Selected {
					text-shadow: #{colors.$text-glow-primary};
					font-weight: #{typography.$font-weight-demi-bold};
					color: #{colors.$text-primary};
				}

				.ImageContainer {
					display: flex;
					border-radius: 60px;
					padding: 13px;

					&.Selected {
						background: #{colors.$revolver-darker};
					}
				}
			}
		}
	}
}
