@use 'styles/variables/dimensions';

.NFTDetailsContainer {
	margin-bottom: 28px;
	display: flex;
	justify-content: center;

	// Tablet Breakpoint
	@media only screen and (min-width: #{dimensions.$breakpoint-tablet-xs}) {
		justify-content: unset;
	}
}

.PlaceBidContainer {
	display: flex;
	flex-direction: column;
	align-items: center;

	// Tablet Breakpoint
	@media only screen and (min-width: #{dimensions.$breakpoint-tablet-xs}) {
		margin-top: 12px;
	}
}

.TextContainer {
	display: inline-block;
	text-align: center;
	word-break: break-word;
	line-height: 24px;
	padding-bottom: 0px;

	div {
		display: inline-block;
	}

	// Tablet Breakpoint
	@media only screen and (min-width: #{dimensions.$breakpoint-tablet-xs}) {
		padding-bottom: 8px;
	}
}

.Estimate {
	margin: 16px auto;
}

.TextInput {
	color: var(--glow-text-white);
	width: 304px;
	margin: 0 auto;
	padding: 14px 24px 10px 24px;

	background: linear-gradient(
		94.23deg,
		rgba(60, 161, 255, 0.2) 0%,
		rgba(30, 81, 128, 0.2) 100%
	);
}

.Buttons {
	display: flex;
	justify-content: center;
	margin-top: 26px;
}

.Buttons > button:not(:first-child) {
	margin-left: 24px;
}

.SuccessConfirmation {
	color: var(--color-success);
	line-height: 24px;
	text-align: center;
	margin: 20px 0 20px 0;
}

.Error {
	color: var(--color-error);
	line-height: 24px;
	text-align: center;
	margin-top: 10px;
}
