$width: 640px;
$gutter: 16px;

.Container {
	display: flex;
	word-break: break-word;

	gap: 24px;

	@media only screen and (max-width: #{$width + $gutter + $gutter}) {
		flex-direction: column;
	}

	.Image {
		height: 260px;
		width: 260px;
		flex-shrink: 0;

		@media only screen and (max-width: #{$width + $gutter + $gutter}) {
			margin: 0 auto;
		}
	}

	.Details {
		padding: 0;

		h1 {
			font-size: 24px;
			font-weight: 700;
		}

		h2 {
			color: var(--color-accent-1);
		}

		> *:not(:first-child) {
			margin-top: 16px;
		}
	}

	.ViewAll {
		display: flex;

		padding: 4px 0 0 0;
	}
}
