$width: 640px;
$gutter: 16px;

.Container {
	width: $width;
	padding: 40px;

	@media only screen and (max-width: #{$width + $gutter + $gutter}) {
		width: calc(100vw - $gutter - $gutter);
	}
}

.Content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	> * {
		&:not(:first-child) {
			margin-top: 40px;
		}
	}

	p {
		padding: 0;
	}
}
