@use 'styles/variables/colors';
@use 'styles/variables/borders';

.Button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	padding: 0 24px;

	background: var(--color-background-alt);

	color: #{colors.$text-primary};

	border-radius: #{borders.$radius-primary};
}

.Button > img {
	height: 18px;
	width: 18px;
	margin-right: 7px;
}

.Button > span {
	display: inline-block;
	white-space: nowrap;
}
