.Button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	padding: 0 24px;

	background: var(--background-accent-1-gradient);

	color: white;
	font-size: 16px;
	font-weight: 700;

	border-radius: var(--box-radius);
}

.Button > img {
	height: 18px;
	width: 18px;
	margin-right: 7px;
}

.Button > span {
	display: inline-block;
	margin-top: 4px;
	white-space: nowrap;
}
