.Container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.TextContainer {
	font-size: 16px;
	padding: 0;
	text-align: center;
	margin-left: 24px;
}

.SubtextContainer {
	margin-bottom: 42px;
}
