.TextInput {
    width: 100%;
    padding: 16.5px 24px 12.5px 24px;

    border-radius: 24px;

    color: white;

    background: var(--background-field-bg);
    transition: border-color var(--animation-time-medium) ease-in-out;
}

.TextInput::placeholder {
    color: #dedede;
}

.Error {
    border: 1px solid var(--color-error) !important;
}