.PriceContainer {
	height: 100%;
	width: 100%;
	cursor: pointer;

	&:hover .Details {
		background-color: #1a1022;
	}

	.Details {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: none;
		height: 100%;
		padding: 16px;
		border: 1px solid var(--color-purple-lighter);
		border-radius: var(--box-radius);
		z-index: 0;
		transition: all 0.2s ease-in-out 0s;
	}
}

.DropdownContent {
	width: 360px;
	cursor: default;
	padding: 32px;
	border-radius: var(--box-radius);
	background: #1a1022;
	border: 1px solid #472e5b;
}

.CurrentPriceContainer {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.TickerName {
	font-size: 10px;
	font-weight: 400;
	line-height: 12.1px;
	color: var(--color-grey-lighter-2);
}

.CurrentPriceSml {
	font-size: var(--font-size-small);
	font-weight: bold;
	line-height: 14.5px;
	padding: 2px 6px 0 0;
	color: var(--color-text-primary);
	text-shadow: var(--glow-text-primary);
}

.CurrentPriceLrg {
	font-size: var(--font-size-default);
	font-weight: bold;
	line-height: 24px;
	padding: 0 6px 0 0;
	color: var(--color-text-primary);
	text-shadow: var(--glow-text-primary);
}

.PercentageChange {
	font-size: var(--font-size-small);
	font-weight: 400;
	line-height: 14.5px;
}

.PercentageChangePositive {
	color: var(--color-success);
}

.PercentageChangeNegative {
	color: var(--color-error);
}

.WalletConnected {
	right: calc(0% - 130px);
}

.ExternalUrl {
	display: flex;
	align-items: flex-end;

	a {
		font-size: var(--font-size-small);
		line-height: 15px;
		text-shadow: none;
		background-color: transparent;
		padding-right: 6px;
		color: var(--color-grey-lighter-4);
	}

	&:hover {
		transform: scale(1.01);
	}
}

.Section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 16px;
}

.SectionBaseline {
	align-items: baseline;
}

.SectionCenter {
	align-items: center;
}

.DividerCopy {
	font-weight: bold;
	font-size: var(--font-size-small);
	line-height: 14px;
	margin-top: 24px;
	color: var(--color-grey-lighter-3);
}

.Divider {
	// width: 70%;
	flex-grow: 1;
	margin-top: 10px;
	border-top: 1px solid var(--color-purple-lighter);
}

.UrlRowContainer {
	display: flex;
	justify-content: center;
	width: 100%;

	a {
		max-width: 270px;
		width: 100%;
		font-size: var(--font-size-smaller);
		line-height: 17px;
		text-shadow: unset;
		color: var(--color-accent-blue-100);
		padding-top: 10px;
	}
}

.IconWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	img {
		width: 40px;
		height: 40px;
	}

	p {
		padding: 2px 0 6px 0;
	}

	&:hover {
		background: var(--color-azure-gradient-25);
	}
}
