@use 'styles/variables/colors';
@use 'styles/variables/borders';
@use 'styles/variables/typography';

.ButtonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
}
.NumberButton {
	position: relative;
	width: 32px;
	height: 32px;
	background: none;
	border-radius: #{borders.$radius-primary};
	color: #{colors.$text-primary};
	font-weight: #{typography.$font-weight-bold};
	text-align: center;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: #{borders.$radius-primary};
		border-left: 1.5px solid white;
		border-right: 1.5px solid white;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;

		transform: rotate(0deg);
	}

	&::after {
		content: ' ';
		position: absolute;
		top: 50%;
		left: 50%;
		height: 0px;
		width: 0px;
		border-radius: #{borders.$radius-primary};
		z-index: -2;
	}

	&:hover {
		background: #{colors.$azure-25};
		box-sizing: border-box;
	}
}

.Rotating::before {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
