@use 'styles/variables/colors';
@use 'styles/variables/animations';
@use 'styles/variables/borders';

.iconButton {
	position: relative;
	padding: 0;

	color: #{colors.$malibu};
	background-color: #{colors.$black};

	border-radius: calc(#{borders.$radius-primary} / 2);

	transition: all #{animations.$time-medium} ease-in-out;
	z-index: 1;
}

.iconButton > img {
	height: 100%;
	width: 100%;
	border-radius: calc(#{borders.$radius-primary} / 2);
	z-index: 2;
}

.iconButton::after {
	content: ' ';
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0px;
	width: 0px;
	border-radius: calc(#{borders.$radius-primary} / 2);
	z-index: -2;

	transition: box-shadow #{animations.$time-medium} ease-in-out;
}

.iconButton:not(.Disabled).iconButton:hover::after {
	background: #{colors.$revolver};
}

.iconButton:not(.Disabled):hover {
	text-shadow: #{colors.$text-glow-primary};
}

.iconButton:not(.Disabled).iconButton:hover {
	text-shadow: #{colors.$text-glow-primary};
	background: #{colors.$revolver};
}

.selected {
	color: #{colors.$text-primary};
	background: #{colors.$revolver};
}

.iconButton.selected:after {
	box-shadow: 0 0 20px 13px #{colors.$off-white-50};
}

.Disabled {
	opacity: 0.3;
	cursor: default;
}
