.domain-settings {
	&__overlay {
		background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(0, 0, 0, 0.73) 0%,
			rgba(0, 0, 0, 0.43) 100%
		) !important;
		backdrop-filter: blur(20px);

		> div {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 !important;
		}
	}

	&__modal {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		width: 640px;
		max-height: calc(100vh - 16px);
		margin: 8px 0;
		background: var(--background-purple-card-20);
	}
}
