@use 'styles/variables/dimensions';

.search-domains {
	&__results {
		$borderWidth: 1px;
		$top-margin: var(--box-radius);

		position: absolute;
		top: $top-margin;
		padding: 24px 8px 0 8px;
		background: var(--color-revolver);
		overflow: hidden;
		z-index: -1;
		border: $borderWidth solid #af4cff67;
		border-radius: var(--box-radius);
		box-shadow: none;
		overflow-y: auto;
		max-height: 80vh;
		width: calc(100% + 2px);

		ul {
			width: 100%;

			li {
				width: 100%;
				padding: 16px 16px 16px 6px;
				cursor: pointer;
				border-radius: 16px;

				&.exact__match {
					font-weight: bold;
				}

				span {
					display: inline-block;
					margin-left: 8px;
					font-size: var(--font-size-smaller);
					color: var(--color-accent-1);
				}

				&:hover {
					background: var(--color-purple-lighter);
				}

				@media only screen and (max-width: 768px) {
					display: flex;
					flex-direction: column;
					padding-left: 17px;

					span {
						margin: 0;
						margin-top: 4px;
					}
				}
			}
		}
	}
}
