@use 'styles/variables/typography';
@use 'styles/variables/colors';
@use 'styles/variables/animations';

$width: 400px;
$gutter: 16px;

.Container {
	display: flex;
	flex-direction: column;

	width: $width;
	min-width: $width;
	max-width: $width;
	max-height: 80vh;

	background: #{colors.$background-primary};

	overflow: hidden;

	@media only screen and (max-width: #{$width + $gutter + $gutter}) {
		width: calc(100vw - $gutter - $gutter);
		min-width: unset;
	}
}

.Pending {
	text-align: center;
	margin-top: 32px;
}

.Accepting {
	opacity: 0.5;

	* {
		pointer-events: none;
	}
}

.Header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px 40px 2px 40px;
	padding-bottom: 0;
}

.Container h4 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.Container hr {
	margin: 27px 0 0 0;
	width: 100%;
}

.Container ul {
	height: 100%;
	max-height: 100%;
	padding-bottom: 24px;

	overflow-y: auto;
	overflow-x: visible;

	&::-webkit-scrollbar-corner {
		background: rgba(0, 0, 0, 0);
		height: 0;
		width: 0;
	}

	&::-webkit-scrollbar-track {
		background-color: none;
	}

	&::-webkit-scrollbar {
		width: 6px;
		background-color: none;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: rgba(177, 78, 255, 0.2);
	}
}

.Bid {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 40px;
	overflow: visible;
	justify-content: space-between;
}

.Bid button {
	margin-left: auto;
	transition: transform #{animations.$time-short} ease-in-out,
		opacity #{animations.$time-short} ease-in-out;
}

.Bid:hover {
	background: #{colors.$revolver-darker};
}

.Bid:hover button {
	transform: scale(1.05);
}

.Bid label {
	font-size: #{typography.$size-small};
}

.Bid > div {
	display: flex;
	flex-direction: column;
}

.Bid > div > span:first-of-type {
	margin-top: 6px;
	font-weight: bold;
}

.Bid > div > span:not(:first-of-type) {
	margin-top: 6px;
	font-size: #{typography.$size-tiny};
}
