.WalletInteraction {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;

	width: 360px;
	height: 430px;
	padding: 32px;

	background: #f9f9f9;
	color: #000000;
	border-radius: 16px;
	font-family: Inter;

	position: fixed;
	top: 30px;
	right: 24px;

	h3 {
		margin: 32px 0;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
	}

	& > div {
		width: 100%;
		text-align: center;
	}
}

.Data {
	width: 100%;
	text-align: left;

	p {
		font-size: 16px;
		line-height: 24px;
		font-weight: bold;
		padding: 0;
	}

	label {
		display: flex;
		gap: 4px;
		align-items: center;
		margin: 4px 0;
	}

	margin-bottom: 32px;
}

.ButtonGroup {
	> * {
		width: 124px;
		font-size: 14px;
		line-height: 17px;
		font-weight: bold;
		text-transform: uppercase;
		background-color: transparent;
	}

	:first-child {
		color: #f6677c;
	}

	:last-child {
		color: #58c573;
	}
}
