.connect {
	width: 317px;
    position: relative;
	filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.5));
	background: var(--background-purple-card-20);
	backdrop-filter: blur(50px);
	border-radius: var(--box-radius);
	overflow: hidden;

	border: 1px solid var(--color-primary);
	filter: var(--glow-primary);
}

.header {
    width: 100%;
    padding-top: 38px;
    padding-bottom: 22px;
    text-align: center;	

    background: linear-gradient(92.24deg, rgba(0, 22, 55, 0.5) 0%, rgba(0, 63, 137, 0.265) 100%);
}

.header h3 {
	font-size: 24px;
	line-height: 30px;
	color: var(--color-accent-1);
}

.connect ul {
	width: 100%;
	margin-top: 48px;
}

.wallet {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-top: 9px;

	width: 100%;
	color: white;
	font-size: 18px;

	cursor: pointer;

	padding: 5px 54px;
}

.wallet:hover {
	background-color: var(--color-accent-1-50);
}

.wallet img {
	height: 38px;
	width: 38px;
	object-fit: contain;
	border-radius: 19px;
}

.footer {
    width: 100%;
    padding: 55.5px 24px 24px 24px;
    text-align: center;	
	font-size: 14px;
}

.footer p {
	color: #DADCDF;
	line-height: 22px;
	padding-top: 2px;
}

.footer p a {
	color: var(--color-accent-1);
	text-decoration: underline;
}