@import '../../../css/color-variables.scss';

.sidebarContainer {
  height: 100vh;
  width: 100px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;

  .sidebarContainer {
    .topLogo {
      position: absolute;
      top: 30px;
      right: 38px;
      height: 54px;
      width: 54px;
      background: linear-gradient(180deg, #1c4358 0%, #2a0047 100%);
      border-radius: 50%;
      cursor: pointer;
      img {
        transform: translate(2px, 2px);
        pointer-events: none;
      }
    }
    .middleNav {
      position: relative;
      align-self: center;
      margin: auto 28px auto 0;
      padding: 5px;
      background: linear-gradient(
        92.24deg,
        rgba(40, 0, 68, 0.5) 0%,
        rgba(62, 0, 105, 0.5) 100%
      );
      border-radius: 37px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .sideItem {

        &:not(:first-child) {
          margin-top: 12px;
        }

        height: 44px;
        width: 44px;
        border-radius: 50px;
        background: var(--color-accent-1-medium-10);
        display: flex;
        flex-direction: column;
        justify-content: center;
        // border: 5px red solid;
        cursor: pointer;
        img {
          align-self: center;
          cursor: pointer;
        }
      }
    }
  }
}
