@import '../../../css/color-variables.scss';

.nftviewContainer {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  // border: 5px red solid;
  background-color: $shopbg;
  display: flex;
  justify-content: center;
  align-items: center;

  // margin: 20px;
  // padding: 10px;
  .leftRightContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // flex-wrap: wrap;
    // border: 5px blue solid;
    position: relative;
    // top: 0;
    // left: 0;
    // margin: 10px;
    // padding: 10px;
    // margin-right: 100px;
    // margin-left: 100px;

    height: 90%;
    width: 90%;

    .left-container {
      // margin-top: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      // align-items: unset;
      width: 40%;
      height: 100%;
      // border: 3px solid yellow;
      overflow: hidden;

      .nft-img {
        // height: 80%;
        position: relative;
        width: auto;
        margin-top: auto;
        margin-bottom: auto;
        // border: 2px solid red;
        // background-color: $grayFont;
        // border-radius: 15px 75px 0px 0px;
        overflow: hidden;
        .NFTImageContainer {
          // border: inherit;
          // overflow: hidden !important;
          // border: 3px solid brown;
          // width: 100%;
          // height: 100%;
          display: flex;
          justify-content: center;
          // background-color: blue;

          .NFTImage {
            // height: 100%;
            // overflow: hidden !important;
            // border: 2px $bright solid;
            border-radius: 10px;
            margin-bottom: auto;
            object-fit: scale-down;
            bottom: 0;
            max-height: 100%;
            max-width: 100%;
            // border: 1px green solid;
          }
        }
        .nftImageInfo {
          position: absolute;
          width: 100%;
          bottom: 0;
          // border: 2px $bright solid;
          // border-radius: 0px 0px 15px 15px;
          // border-top: none;
          background: $blackbg;
          backdrop-filter: blur(10px);
          height: 20%;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          align-items: center;
          border-radius: 0px 0px 10px 10px;

          .nftInfoRow {
            // background-color: $medium;
            height: 30%;
            display: flex;
            flex-direction: row;
            align-items: center;
          }

          .eth-address-d {
            font-size: 1em;
            margin-top: 10px;
            .nftDomain {
              // margin-left: 5px;
              color: #fff;
              .grayNFTText {
                // color: $grayFont;
              }
            }
          }

          .route-nav {
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            .route-nav-preface {
              height: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              .route-nav-0 {
                // margin-left: 5px;
                // color: $grayFont;
                color: #fff;
              }
            }
            .link-text-container {
              display: flex;
              flex-direction: row;
              .route-nav-link {
                height: 100%;
                .route-nav-text {
                }

                .route-nav-text-sub {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }

    .right-container {
      margin-top: 30px;
      // background-color: $dark;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 55%;
      height: 100%;
      // border: 3px solid green;
      overflow: hidden;

      .rightTop {
        display: flex;
        flex-direction: column;
        // border: 2px blue solid;
        width: 100%;
        .namebar {
          display: flex;
          flex-direction: row;
          width: 100%;
          .artistIMG {
            align-self: flex-start;
            text-align: center;
            height: 39px;
            width: 39px;
            background-color: $bright;
            border-radius: 50%;
            // flex-shrink: 0;
          }
          .title {
            width: 100%;
            // border: 2px green solid;
            font-size: 2.5rem;
            color: #fff;
            line-height: 1;
            align-self: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            & > div {
              transform: translateX(-39px);
            }
            .nftName {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              & > div {
                vertical-align: bottom;
              }
            }
            .type {
              margin-left: 15px;
              color: $grayFont;
              font-size: 1rem;
              vertical-align: bottom;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              & > div {
                transform: translateY(-5px);
              }
            }
          }
          .artistName {
          }
        }
        .infobar {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 220px;
          // border: 2px red solid;
          .description {
            // border: 2px green solid;
            overflow-y: scroll;
            margin-top: 50px;
            width: 67%;
            color: #fff;
            &::-webkit-scrollbar {
              width: 0; /* Remove scrollbar space */
              background: transparent; /* Optional: just make scrollbar invisible */
            }
          }
          .infoRight {
            width: 33%;
            // border: 2px gold solid;
            display: flex;
            flex-direction: column;
            align-items: center;
            .purchase {
              color: #fff;
              margin-top: 15px;
              // transform: translate(15px, -60px);
              width: 150px;
              background: $blueBtnGrad;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 8px 32px;
              border-radius: 86px;
              border: none;
              cursor: pointer;
              &:hover {
                // background: rgba($medium, 0.5);
              }
            }
            .info {
              margin-top: 15px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              color: $grayFont;
              width: 100%;
              // height: 50px;
              // border: 2px red solid;
              .lastprice {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                .lastPriceText {
                  color: $light-red;
                  text-shadow: $textShadow;
                  font-size: 18px;
                }
              }
              .change {
                display: flex;
                flex-direction: column;
                align-items: center;
                .changeText {
                  color: skyblue;
                  text-shadow: $textShadow;
                }
              }
            }
          }
        }
      }
      .graphContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;

        .rightGraphBarNFT {
          display: flex;
          flex-direction: row;
          height: 10%;
          width: 100%;
          // border: 5px solid blue;

          .leftAlign {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: $grayFont;

            width: 100%;
            & > div {
              cursor: pointer;
              // margin-right: 25px;
              // width: 40px;
              padding: 10px 20px 10px 20px;
            }
          }
          // .rightAlign {
          //   display: flex;
          //   flex-direction: row;
          //   padding: 10px 20px 10px 20px;
          //   cursor: pointer;
          //   .numComments {
          //     color: #fff;
          //   }
          //   .comments {
          //     color: $grayFont;
          //   }
          // }
          .selectedItem {
            color: #fff !important;
            border-radius: 10px 10px 0px 0px;
            background-color: $blackbg;
          }
        }
        .rightGraphNFT {
          // background-color: blue;
          height: 90%;
          width: 100%;
          margin-bottom: 25px;
          .graph {
            height: 100%;
            // height: auto;
            background-color: $blackbg;
            // border: 2px $bright solid;
            border-radius: 0px 0px 10px 10px;
          }
        }
      }
    }
  }
}
