@import '../../../css/color-variables.scss';

$page-margin: 100px;

.nftView {
  position: relative;
  margin-top: 150px;
  margin-left: $page-margin;
  margin-right: $page-margin;
  display: flex;
  flex-direction: column;

  .showcase {
    height: 75vh;
    // background: url(./img/starsbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    border: $lp-border;
    box-shadow: 0px 0px 10px 0px darken(rgba($purple-shadow, 1), 20%);
    margin-bottom: 20px;
    display: flex;
    color: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .showcaseIMG {
      width: 40%;
      height: 78%;
      margin-right: 2%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      video {
        height: 100%;
      }
      .NFTImageContainer {
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .NFTImage {
          max-width: 100%;
          max-height: 100%;
          overflow: hidden;
          object-fit: cover;
          margin: auto;
          border: 3px solid $light-purple;
          box-shadow: 0px 0px 10px 0px darken(rgba($purple-shadow, 1), 20%);
        }
      }
    }
    .showcaseInfo {
      width: 40%;
      height: 78%;
      margin-left: 2%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .topmid {
        width: 70%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .top {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: left;
          .title {
            font-size: 36px;
            font-weight: bold;
            text-shadow: 0px 0px 10px $white-shadow;
          }
          .domain {
            color: rgba($med-blue, 1);
            font-size: 16px;
            font-weight: bold;
            display: flex;
            flex-direction: row;
          }
          .users {
            margin-top: 24px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .creator {
              display: flex;
              flex-direction: row;
              .avatar {
                flex-grow: 1;
                margin-right: 12px;
                height: 36px;
                width: 36px !important;
                border-radius: 50%;
              }
              .creatorFlex {
                transform: translateY(7px);
                display: flex;
                flex-direction: column;
                font-size: 16px;
                font-weight: bold;
                .creatorText {
                }
                .desc {
                  color: lighten(rgba($med-blue, 1), 20%);
                }
              }
            }
            .owner {
              display: flex;
              flex-direction: row;
              .avatar {
                margin-right: 12px;
                height: 36px;
                width: 36px;
                border-radius: 50%;
              }
              .ownerFlex {
                transform: translateY(7px);
                display: flex;
                flex-direction: column;
                font-size: 16px;
                font-weight: bold;
                .ownerText {
                }
                .desc {
                  color: lighten(rgba($med-blue, 1), 20%);
                }
              }
            }
          }
        }
        .middle {
          display: flex;
          flex-direction: row;
          justify-content: left;
          width: 100%;
          .midLeft {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            .units {
              font-size: 36px;
              font-weight: bold;
            }
            .price {
              margin-left: 15px;
              color: lighten(rgba($med-blue, 1), 20%);
              font-size: 24px;
              font-weight: bold;
            }
          }
          .midRight {
            .text {
              color: rgba($med-blue, 1);
              font-size: 16px;
              font-weight: bold;
            }
            .units {
              font-size: 32px;
              font-weight: bold;
            }
            .price {
              color: lighten(rgba($med-blue, 1), 20%);
              font-size: 16px;
              font-weight: bold;
            }
          }
        }
      }
      .showcaseBottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .shadowContainer {
          padding-top: 0px;
          padding-bottom: 0px;
          padding-right: 5px;
          padding-left: 5px;
          width: 50%;
          height: 45px;
        }
        .makeOffer {
          background: rgba(0, 209, 255, 0.1);
          box-shadow: 0px 0px 40px rgba($blue-shadow, 0.69);
          width: 100%;
          height: 45px;
          font-size: 18px;
          text-shadow: 0px 0px 10px $white-shadow;
          font-weight: normal;
          color: #fff;
          border-left: 2px solid lighten(rgba($med-blue, 0.9), 60%);
          border-right: 2px solid lighten(rgba($med-blue, 0.9), 60%);
          border-radius: 25px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          & > div {
            text-shadow: 0px 0px 10px $white-shadow;
          }
        }
      }
    }
  }
  .info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .story {
      position: relative;
      height: 212px;
      width: 50%;
      margin-right: 10px;
      background: rgba($dark-purple2, 0.2);
      backdrop-filter: blur(30px);
      border-radius: 16px;
      border: $lp-border;
      box-shadow: 0px 0px 10px 0px darken(rgba($purple-shadow, 1), 20%);
      & > div {
        margin: 18px;
        &:first-child {
          color: $med-blue;
          font-size: 16px;
          font-weight: bold;
          text-shadow: 0px 0px 10px rgba($med-blue, 0.7);
        }
        &:last-child {
          color: $light-blue;
          overflow: scroll;
          height: 200%;
          max-height: 63%;
          &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
          }
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */
        }
      }
    }
    .quad {
      position: relative;
      height: 212px;
      width: 50%;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .quadHeader {
        font-weight: bold;
        font-size: 16px;
        color: $med-blue;
        text-shadow: 0px 0px 10px rgba($med-blue, 0.7);
        display: flex;
        flex-direction: row;
      }
      .quadText {
        font-weight: bold;
        font-size: 20px;
        color: #fff;
        text-shadow: 0px 0px 10px $white-shadow;
      }
      .infoButton {
        background: $dark-blue;
        border-radius: 50%;
        font-weight: normal;
        width: 18px !important;
        height: 18px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        transform: translateY(0px);
        margin-left: 8px;
        cursor: pointer;
        .infoMark {
          color: rgba($med-blue, 1);
          font-weight: bold;
          font-size: 12px !important;
          margin: auto;
          transform: translate(1px, 1px);
        }
      }
      //
      .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > div {
          height: 96px;
          width: 50%;
          background: rgba(78, 0, 132, 0.2);
          backdrop-filter: blur(30px);
          border-radius: 16px;
          border: $lp-border;
          box-shadow: 0px 0px 10px 0px darken(rgba($purple-shadow, 1), 20%);
          display: flex;
          flex-direction: column;
          justify-content: center;

          &:first-child {
            margin-right: 10px;
          }
          &:last-child {
            margin-left: 10px;
          }

          & > div {
            &:first-child {
              margin-bottom: 8px;
            }
            margin-left: 18px;
          }
        }
      }
      .address {
        position: absolute;
        bottom: 0;
        height: 96px;
        width: 100%;
        background: rgba($dark-purple, 0.2);
        backdrop-filter: blur(30px);
        border-radius: 16px;
        border: $lp-border;
        box-shadow: 0px 0px 10px 0px darken(rgba($purple-shadow, 1), 20%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        & > div {
          &:first-child {
            margin-bottom: 8px;
          }
          margin-left: 18px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: 100%;
    background: rgba(78, 0, 132, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 16px;
    border: $lp-border;
    box-shadow: 0px 0px 10px 0px darken(rgba($purple-shadow, 1), 20%);
    .history {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 27px;
      .historyTitle {
        color: $med-blue;
        font-size: 16px;
        font-weight: bold;
        text-shadow: 0px 0px 10px rgba($med-blue, 0.7);
        margin-bottom: 22px;
      }
      .historyBox {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        .historyRow {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 12px;
          .historyLeft {
            display: flex;
            flex-direction: row;
            align-items: center;
            .avatar {
              height: 36px;
              width: 36px;
              border-radius: 50%;
              margin-right: 8px;
            }
            .historyText {
              color: gray;
              .embolden {
                color: #fff;
                font-weight: bold;
              }
            }
          }
          .historyRight {
            color: gray;
            .viewTx {
              margin-left: 10px;
              margin-right: 60px;
              color: $med-blue;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
