@use 'styles/variables/colors';
@use 'styles/variables/animations';

.Container {
	width: 100%;

	> * {
		&:not(:first-child) {
			margin-top: 24px;
		}
	}

	.Links {
		padding: 8px 16px;

		> a {
			color: #{colors.$silver};
			font-size: 24px;
			font-weight: 700;

			transition: color #{animations.$time-short} ease-in-out;

			&:not(:first-of-type) {
				margin-left: 40px;
			}

			&.Active {
				color: #{colors.$text-primary};
				text-shadow: #{colors.$text-glow-primary} !important;
			}
		}
	}
}
