.searchBar {
	position: relative;
	border-radius: var(--box-radius);
}

.searchBar input {
	width: 100%;
	height: 32px;
	background: inherit;
	border-radius: 32px;
	padding: 0 24px 1px 39px;
	border: 1px solid #232323;

	/* Text */
	text-align: left;
	color: #bfbfbf;

	/* Text shadow isn't working as expected - it cuts off for some reason */
	/* text-shadow: var(--glow-text-white); */

	transition: all var(--animation-time-short) linear;
	border: 1px solid transparent;

	&:hover,
	&:active,
	&:focus {
		border: 1px solid #6a3991;
	}
}

.searchBar button {
	position: absolute;
	padding: 0;
	left: 16px;
	top: 9px;
	height: 14px;
	width: 14px;
	background-color: rgba(0, 0, 0, 0);
	background-image: url('./assets/search-icon.svg');
	background-position: center;
	background-size: 14px 14px;
	background-repeat: no-repeat;
}

.searchBar input::placeholder {
	color: #bfbfbf;
}
