@use 'styles/variables/colors';

.AssetCard {
	position: relative;
	width: 295px;
	min-width: 295px;
	max-width: 295px;
	height: 118px;

	padding: 18px 20px 22.5px;

	background: #{colors.$background-primary};
}

.AssetCard h4 {
	color: #{colors.$mauve};
	font-weight: 700;

	text-transform: uppercase;
}

.infoButton {
	display: none;
	height: 16px;
	width: 16px;

	margin-left: 8px;
	margin-top: -1px;

	background-color: #{colors.$prussian-blue};

	border-radius: 50%;
}
