@use 'styles/variables/typography';
@use 'styles/variables/colors';
@use 'styles/variables/animations';

.TextInputTopPlaceholderWrapper {
	position: relative;
	flex: 1;
}

.TextInputTopPlaceholder {
	padding-top: 20px !important;
	padding-bottom: 5px !important;
	background: #{colors.$ocean-gradient-10} !important;
}

.TopPlaceholder {
	position: absolute;
	top: 5px;
	left: 24px;
	color: #{colors.$malibu};
	font-size: 10px;
}

.TextInput {
	width: 100%;
	padding: 12.5px 24px;

	border-radius: 24px;

	color: #{colors.$text-primary};

	background: none;
	transition: border #{animations.$time-medium} ease-in-out;

	&::placeholder {
		color: #{colors.$silver};
	}

	&:disabled {
		border-color: #{colors.$grey};
		color: #{colors.$grey};

		&::placeholder {
			color: #{colors.$grey};
		}
	}
}

.Error {
	border: 1px solid #{colors.$helitrope};
}

.ErrorMessage {
	display: block;
	margin-top: 12px;

	color: #{colors.$helitrope};
	font-size: #{typography.$size-small};
	font-weight: #{typography.$font-weight-bold};
	text-align: center;
}
