@import '../../../css/color-variables.scss';

.topRight > div:not(:first-child) {
  margin-left: 16px;
}

.topRight .profilepic {
  height: 32px;
  width: 32px;
  margin: 0;
}

.topRight .profile-btn {
  height: 32px;
  width: 32px;
}

.topbarContainerNeo {
  // border: 1px red solid;
  top: 0;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1247px;
  min-width: 1247px;
  position: absolute;
  // -webkit-transition: background-color 0.5s ease-in-out;
  // -moz-transition: background-color 0.5s ease-in-out;
  // -ms-transition: background-color 0.5s ease-in-out;
  // -o-transition: background-color 0.5s ease-in-out;
  // transition: background-color 0.5s ease-in-out;
  background-color: none;
  // z-index: 20;
  z-index: 40;
  .topHalfContainer {
    height: 111px;
    backdrop-filter: var(--blur);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 16px;

    .topHalf {
      position: relative;
      padding: 11px 17px 11px 17px;
      margin: 0;
      background: var(--background-primary-gradient);
      border-radius: 15px 15px 15px 15px;
      // box-shadow: 0px 0px 10px 0px darken(rgba($purple-shadow, 1), 20%);
      // filter: drop-shadow(0px 0px 10px rgba(78, 0, 132, 1));

      // needed to create a hack for the border gradient
      // the css in the mockups doesn't work here
      // this pseudoelement creates a border by using a div with a solid background linear gradient
      // &::after {
      //   content: '';
      //   position: absolute;
      //   top: -1px;
      //   bottom: -1px;
      //   right: -1px;
      //   left: -1px;
      //   border-radius: 15px;
      //   background: linear-gradient(
      //     180deg,
      //     rgba($light-purple, 0.8) 0%,
      //     rgba($dark-purple, 0.8) 100%
      //   );

      //   filter: drop-shadow(0px 0px 10px rgba(78, 0, 132, 1));
      //   z-index: -2;
      // }
      // this pseudoelement creates a background layer before the top level div, to create an effect for the opacity of the top level div
      // &::before {
      //   content: '';
      //   position: absolute;
      //   top: 0;
      //   bottom: 0;
      //   right: 0;
      //   left: 0;
      //   border-radius: 16px;
      //   background: rgba(0, 0, 0, 0.5);
      //   z-index: -1;
      // }
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .topLeft {
        // border: 1px yellow solid;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 700;

        padding-top: 2px; // Network text is not quite centered from some reason

        // Bad, but works for now :shrug:
        height: 24px;
        & * {
          line-height: 24px !important;
        }
        
        .network {
          font-size: 16px;
          line-height: 19px;
          font-weight: bold;
          color: #ffffff;
          text-shadow: 0px 0px 10px $white-shadow;
          // align-self: center;
          .slash {
            margin-left: -5px;
          }
        }
        .route {
          margin-left: 6px;
          height: 32px;
          background-color: rgba(0, 71, 137, 1);
          border-radius: 8px;
          // .route {
          font-size: 16px;
          // line-height: 19px;
          color: #ffffff;
          text-shadow: 0px 0px 10px $white-shadow;
          padding-top: 3px;
          padding-bottom: 3px;
          padding-left: 10px;
          padding-right: 10px;
          display: flex;
          // align-self: center;
          // }
          .route-nav-text-sub {
            color: #ffffff;
            text-shadow: 0px 0px 10px $white-shadow;
          }
        }
      }
      .topRight {
        display: flex;
        flex-direction: row;
        align-items: center;
        .search-bar {
          position: relative;
          border: none;
          margin-right: 30px;
          // move text input right
          input[type='text'] {
            padding-left: 50px; //change it base on your desired output
          }
          .search-bar-input {
            border-color: none;
            border-width: 0px !important;
            width: 243px;
            height: 28px;
            background: linear-gradient(
              94.23deg,
              rgba(0, 123, 237, 0.2) 0%,
              rgba(0, 83, 160, 0.2) 100%
            );
            // text-shadow: 0px 0px 10px $white-shadow;
            // font-size: 16px;
            border-radius: 15px;

            font-size: 16px;
            color: white;
            &::placeholder {
              color: #ffffff;
              // filter: drop-shadow(0px 0px 15px rgb(139, 34, 34));
              text-shadow: 0px 0px 10px $white-shadow;
              font-size: 16px;
              overflow: visible;
            }
          }
          .search-bar-button {
            // TODO: make more responsive to page size
            position: absolute;
            left: 15px;
            top: 5px;
            height: 20px;
            width: 20px;
            border-color: none;
            border-width: 0px;
            background-color: transparent;
            background-image: url('../img/search-icon.svg');
            background-position: center;
            background-size: 14px 14px;
            background-repeat: no-repeat;
            overflow: visible;
            z-index: 100;
            cursor: pointer;
            transition: 0.6s;
            &:hover {
              // background-color: $medium;
            }
          }
          // this creates a shadow element behind the search icon to provide a glow effect, which is otherwise difficult to achieve using an svg as a background element
          .search-bar-glow {
            position: absolute;
            left: 13px;
            top: 3px;
            height: 25px;
            width: 25px;
            border-color: none;
            border-width: 0px;
            background-color: transparent;
            background-image: url('../img/search-icon.svg');
            background-position: center;
            background-size: 14px 14px;
            background-repeat: no-repeat;
            filter: brightness(0) invert(1) blur(5px);
            -webkit-filter: brightness(0) invert(1) blur(5px);
          }
        }
        .shop-btn {
          background: transparent;
          margin-right: 30px;
          border: none;

          color: lightgray !important;
          cursor: pointer;
        }

        .connect-btn {
          color: $med-blue;
          border-collapse: separate;
          border-top: none;
          border-bottom: none;
          border-right: 1px solid $med-blue;
          border-left: 1px solid $med-blue;
          border-radius: 15px;
          background: linear-gradient(
            94.23deg,
            rgba($med-blue, 0.2) 0%,
            rgba(30, 81, 128, 0.2) 100%
          );
          font-size: 16px;
          margin-right: 15px;
          width: 162px;
          height: 28px;
          transition: 0.6s;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .dot {
            margin-left: 10px;
            margin-right: 10px;
            pointer-events: none;
            font-size: 12px;
            vertical-align: middle;
          }
          .btn-text {
            pointer-events: none;
            font-size: 14px;
            line-height: 19px;
            vertical-align: middle;
            text-shadow: $white-shadow;
          }
          cursor: pointer;
        }
        .dotMenu {
          padding-right: 5px;
          padding-left: 5px;
          height: 18px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          cursor: pointer;
          & > div {
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background: rgba($med-blue, 1);
          }
        }
      }
    }
    .bottomHalf {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      z-index: -1;
      align-items: flex-end;
      color: rgba($med-blue, 0.5);
      padding: 0 25px 12px 25px;
      border-radius: var(--box-radius);
      background: var(--background-purple-card-20);
      
      font-size: 16px;
      font-weight: bold;
      -webkit-user-select: none; /* Chrome all / Safari all */
      -moz-user-select: none; /* Firefox all */
      -ms-user-select: none; /* IE 10+ */
      user-select: none; /* Likely future */
      & > div {
        cursor: pointer;
        margin-right: 28px;
        // padding: 9px;
      }
      .selected {
        // background: #004789;
        // border-radius: 8px;
        color: #ffffff;
        text-shadow: 0px 0px 20px #ffffff;
      }
    }
  }
}

.topbarBackgroundFade {
  // background-color: rgba(14, 2, 27, 0.9) !important;
  // backdrop-filter: blur(10px);
}

.noModalPadding {
  .ant-modal-body {
    padding: 0;
  }
}
