@use 'styles/variables/typography';
@use 'styles/variables/colors';

.Total {
	margin-top: 16px;

	span:first-of-type {
		font-weight: #{typography.$font-weight-bold};
		color: #{colors.$grey-lighter-2};
	}

	span,
	div {
		margin-top: 4px;
		font-size: #{typography.$size-medium};
	}
}
