@use 'styles/variables/colors';

.Container {
	cursor: pointer;

	* {
		cursor: pointer;
	}

	&:hover {
		background: #{colors.$revolver-darker};
	}

	td {
		&:first-of-type {
			padding-left: 8px !important;
		}

		&:last-of-type {
			padding-right: 8px !important;
		}
	}

	.Right {
		text-align: right;

		> * {
			margin-left: auto;
		}
	}
}
