// Black
$black: #000000;

// Blues
$anakiwa: #a1d2ff;
$anakiwa-darker: #88d7ff;
$anakiwa-lighter: #9ed0ff;
$baby-blue: #9dd0ff;
$blumine-darker: rgba(30, 81, 128, 0.2);
$doger-blue-lighter: #3ca1ff;
$doger-blue-darker-2: rgba(60, 161, 255, 0.2);
$doger-blue-darker-05: rgba(60, 161, 255, 0.05);
$doger-blue-darker-08: rgba(60, 161, 255, 0.08);
$dodger-blue: #5257ff;
$dodger-blue-op: rgba(82, 87, 255, 0.25);
$malibu: #52cbff;
$malibu-op: rgba(82, 203, 255, 0.25);
$malibu-op-2: rgba(82, 203, 255, 0.1);
$prussian-blue: #002f5b;
$prussian-blue-darker-1: rgba(0, 209, 255, 0.1);
$prussian-blue-darker-2: rgba(0, 209, 255, 0.2);
$prussian-blue-darker-5: rgba(0, 209, 255, 0.5);
$ocean-op: rgba(82, 174, 255, 0.1);

// Brown
$warning: #f58c61;

// Green
$japanese-laurel: #008000;
$success: #58c573;
$success-darker: #58c57310;

// Grey
$alto: #d9d9d9;
$cod-gray: #0a0a0a;
$concrete: #f2f2f2;
$gray: #808080;
$iron: #dadcdf;
$mercury: #e6e6e6;
$mine-shaft: #232323;
$silver: #bfbfbf;

// Pink
$brilliant-rose: #f763b0;
$brilliant-rose-darker: rgba(247, 99, 176, 0.25);
$easter-purple: #c169ff;
$electric-violet: #eb00ff;
$electric-violet-darker: #7000ff;
$electric-violet-darker-op: rgba(112, 0, 255, 0.25);
$helitrope: #d379ff;
$helitrope-darker: #af72f3;
$helitrope-darker-op: rgba(175, 114, 243, 0.25);
$mauve: #e5baff;
$primary: #b14eff;
$violet: #1d0c4a;

// Purple
$black-rock: #10052e;
$bossanova: #472e5b;
$bunting-op: rgba(29, 21, 74, 0.5);
$lovely-purple: #8930ee;
$lovely-purple-op: rgba(137, 48, 238, 0.25);
$revolver: #23142f;
$revolver-darker: #1a1022;
$revolver-darker-op: #1a102270;

// Red
$error: #f6677c;

// White
$off-white-50: rgba(255, 255, 255, 0.5);
$off-white-25: rgba(255, 255, 255, 0.25);
$off-white-05: rgba(255, 255, 255, 0.05);
$off-white-03: rgba(255, 255, 255, 0.03);
$off-white-02: rgba(255, 255, 255, 0.02);
$off-white-1: rgba(255, 255, 255, 0.1);
$white: #ffffff;

// Background
$background-primary: $cod-gray;
$background-alt: $violet;
$background-alt-50: $bunting-op;
$background-50: transparentize($background-primary, 0.5);

// Text
$text-primary: $white;
$text-glow-white: 0px 0px 10px rgba(255, 255, 255, 0.7);
$text-glow-primary: 0px 0px 24px transparentize($primary, 0.6),
	0px 0px 12px transparentize($primary, 0.6),
	0px 0px 6px transparentize($primary, 0.6);

// Gradient Colours
$azure-gradient: linear-gradient(90deg, $dodger-blue 0%, $malibu 100%);
$azure-gradient-25: linear-gradient(90deg, $dodger-blue-op 0%, $malibu-op 100%);
$cosmic-gradient: linear-gradient(
	90deg,
	$lovely-purple 0%,
	$helitrope-darker 100%
);
$ocean-gradient-10: linear-gradient(90deg, $ocean-op 0%, $malibu-op-2 100%);
$text-input-background-gradient: linear-gradient(
	94.23deg,
	$doger-blue-darker-2 0%,
	$blumine-darker 100%
);
