// Black
$black: #000000;

// Blues
$anakiwa: #a1d2ff;
$anakiwa-lighter: #9ed0ff;
$baby-blue: #9dd0ff;
$dodger-blue: #5257ff;
$dodger-blue-op: #5257ff40;
$malibu: #52cbff;
$malibu-op: #52cbff40;
$malibu-op-2: #52cbff1a;
$prussian-blue: #002f5b;
$prussian-blue-darker: #00d1ff1a;
$ocean-op: #52aeff1a;

// Brown
$warning: #f58c61;

// Green
$japanese-laurel: #008000;
$success: #58c573;

// Grey
$alto: #d9d9d9;
$cod-gray: #0a0a0a;
$concrete: #f2f2f2;
$gray: #808080;
$mercury: #e6e6e6;
$mine-shaft: #232323;
$silver: #bfbfbf;

// Pink
$easter-purple: #c169ff;
$electric-violet: #eb00ff;
$helitrope: #d379ff;
$helitrope-darker: #af72f3;
$helitrope-darker-op: #af72f340;
$lovely-purple: #8930ee;
$lovely-purple-op: #8930ee40;
$mauve: #e5baff;
$primary: #b14eff;
$violet: #1d0c4a;

// Purple
$black-rock: #10052e;
$bunting-op: #1d154a80;
$bossanova: #472e5b;
$revolver: #23142f;
$revolver-darker: #1a1022;

// Red
$error: #f6677c;

// White
$glow-white: 0px 0px 10px #ffffffb3;
$white: #ffffff;

// Background
$background-primary: $cod-gray;
$background-alt: $violet;
$background-alt-50: $bunting-op;
$background-50: transparentize($background-primary, 0.5);

// Text
$text-primary: $white;
$text-glow-primary: 0px 0px 24px transparentize($primary, 0.6),
	0px 0px 12px transparentize($primary, 0.6),
	0px 0px 6px transparentize($primary, 0.6);

// Gradient Colours
$azure-gradient: linear-gradient(90deg, $dodger-blue 0%, $malibu 100%);
$azure-gradient-25: linear-gradient(90deg, $dodger-blue-op 0%, $malibu-op 100%);
$cosmic-gradient: linear-gradient(
	90deg,
	$lovely-purple 0%,
	$helitrope-darker 100%
);
