$width-max: 768px;
$width-min: 288px;

$breakpoint-max: 1400px;
$breakpoint-large: 1200px;
$breakpoint-medium: 992px;
$breakpoint-small: 768px;
$breakpoint-smaller: 481px;
$breakpoint-smallest: 360px;

// Mobile
$breakpoint-mobile: 320px;

// Tablet
$breakpoint-tablet: 744px;

// Desktop
$breakpoint-desktop: 1328px;
