$width-max: 800px;
$width-min: 288px;

// Mobile
$breakpoint-mobile-s: 320px;
$breakpoint-mobile-l: 481px;
$breakpoint-mobile-xl: 569px;

// Tablet
$breakpoint-tablet-s: 744px;
$breakpoint-tablet-m: 896px;

// Desktop
$breakpoint-desktop-s: 1328px;
$breakpoint-desktop-m: 1600px;
$breakpoint-desktop-l: 3440px;
