// Font Size
$size-large: 24px;
$size-medium: 18px;
$size-default: 16px;
$size-small: 14px;
$size-tiny: 12px;

$font: 'Inter', serif;
$ddt: 'DDTERegular', serif;

// Font Weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-demi-bold: 600;
$font-weight-bold: 700;
