.Container {
	cursor: pointer;

	&:hover {
		background-color: #1a1022;
	}
	
	> td {
		&:first-of-type {
			padding-left: 8px !important;
		}
		&:last-of-type {
			padding-right: 8px !important;
		}
	}

	.Right {
		text-align: right;
		margin-left: auto;
	}

	.Title {
		width: 40%;
	}

	.Status {
		width: 20%;
		text-transform: capitalize;
	}

	.Timer {
		width: 20%;
	}

	.Amount {
		width: 20%;
		margin-left: auto;
		text-align: right;

		> p {
			padding-bottom: 0;

			&:last-child {
				font-size: 0.75rem;
			}
		}
	}
}
