.Container {
	cursor: pointer;

	&:hover {
		background-color: #1a1022;
	}

	> td {
		&:first-of-type {
			padding-left: 8px !important;
		}
		&:last-of-type {
			padding-right: 8px !important;
		}
	}

	.Right {
		text-align: right;
		margin-left: auto;
	}

	.Title {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}

	.Status {
		width: 125px;
		text-transform: capitalize;
	}

	.Timer {
		width: 125px;

		&.Concluded {
			color: #bfbfbf;
		}

		&.Warning {
			color: #f58c61;
		}

		&.Error {
			color: #f6677c;
		}
	}

	.Amount {
		max-width: 132px;
		width: 132px;
		margin-left: auto;
		text-align: right;

		* {
			margin-left: auto;
		}

		> p {
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			padding-bottom: 0;
		}
	}
}
