.Container {
	margin-top: 9px !important;

	table {
		margin: 16px 0;

		thead {
			tr {
				th {
					margin: 24px 0;
					padding-bottom: 24px;
					font-size: 12px;
					font-weight: 700;
					line-height: 15px;
					color: #bfbfbf;
				}
			}
		}
	}
}
