@use 'styles/variables/dimensions';

.BannerContainer {
	position: relative;
	margin: 16px 0;

	// Desktop Breakpoint
	@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
		margin-top: -8px;
	}
}
