.NFTView {
	width: 100%;
}

.NFTView > div {
	width: 100%;
}

.NFT {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 60px 57.5px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--color-background);

	transition: background var(--animation-time-medium) ease-in-out;

	overflow: hidden;
}

.Loaded {
	background-color: rgba(0, 0, 0, 0);
}

.Loaded .BG {
	opacity: 1;
}

.Bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
}

.NFT > div {
	flex: 1;
}

.Image {
	height: 422px;
	min-height: 422px;
	max-height: 422px;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.3);
}

.Image > div {
	transition: transform var(--animation-time-medium) ease-in-out;
}

.Image:hover > div {
	transform: scale(1.03);
}

.Image img {
	object-fit: cover;
}

.Info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 32px;
}

.Info h1 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 8px;
}

.Info h1::after {
	content: 'holder';
	opacity: 0;
}

/* ZNA */
.Info span:first-of-type {
	font-weight: 700;
}

.Details {
	display: flex;
	flex-direction: column;
}

.Details > div:first-of-type {
	width: 100%;
}

.Details > div:first-of-type span {
	display: inline-block;
	width: 100%;
	word-break: break-all;
}

.Members {
	display: flex;
	margin-top: 32px;
}

.Members > *:not(:first-child) {
	margin-left: 64px;
}

.Price {
	margin: 0 auto;
}

.Price h2 {
	color: var(--color-primary-lighter-3);
	font-size: 16px;
	margin-bottom: 4px;
	text-align: center;
}

.Crypto {
	font-size: 24px;
}

.Fiat {
	font-size: 18px;
	color: var(--color-primary-lighter-3);
}

.Buttons {
	display: flex;
	margin: 0 auto;
}

.Buttons > *:not(:first-child) {
	margin-left: 24px;
}

.Horizontal {
	display: flex;
}

.Horizontal > div {
	width: 50%;
}

.Horizontal > div:not(:first-child) {
	margin-left: 20.5px;
}

.Vertical > div:not(:first-child) {
	margin-top: 20.5px;
}

.Box {
	/* height: 95.5px; */
	padding: 20px;
	background: var(--color-background);
}

.Box h4 {
	margin-bottom: 8px;
	color: var(--color-primary-lighter-3);
	font-weight: 700;
	text-transform: uppercase;
}

.Box span {
	width: 100%;
	text-overflow: ellipsis;
	font-weight: 700;
}

.Story {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	padding-bottom: 0;
}

.Story p {
	/* height: 100%; */
	line-height: 20px;
	padding-right: 12px;
	padding-bottom: 12px;

	margin-right: 8px;
}

.Story p::-webkit-scrollbar-corner,
.History ul::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0);
	height: 0;
	width: 0;
}

.Story p::-webkit-scrollbar-track,
.History ul::-webkit-scrollbar-track {
	background-color: none;
}

.Story p::-webkit-scrollbar,
.History ul::-webkit-scrollbar {
	width: 6px;
	background-color: none;
}

.Story p::-webkit-scrollbar-thumb,
.History ul::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(60, 161, 255, 0.2);
}

.Contract {
	position: relative;
	display: flex;
	flex-direction: column;
}

.Copy {
	position: absolute;
	top: 50%;
	right: 0;
	height: 24px;
	width: 24px;
	transform: translateY(-50%);

	cursor: pointer;

	transition: transform var(--animation-time-medium) ease-in-out;
}

.Copy:hover {
	transform: translateY(-50%) scale(1.1);
}

.Contract p {
	position: relative;
	text-overflow: clip;
	font-weight: 700;
	line-height: 21px;
	word-break: break-all;
	padding: 0;
	padding-right: 38px;
}

.History {
	margin-top: 24px;
}

.History ul {
	max-height: 400px;
	overflow-y: auto;
}

.History span {
	font-weight: 400;
}

.History .Loading span {
	margin-left: 16px;
}

.History .Loading {
	display: flex;
	align-items: center;
	margin-top: 19px;
	margin-bottom: -3px;
}

.Bid {
	display: flex;
	justify-content: space-between;
	margin-top: 23px;
}

.Bid:first-child {
	margin-top: 12px;
}

@media only screen and (max-width: 1280px) {
	.Buttons {
		display: none;
	}
}

@media only screen and (max-width: 1100px) {
	.Crypto {
		font-size: 32px;
	}

	.Buttons {
		flex-direction: column;
	}

	.Buttons button {
		margin-left: 0 !important;
	}

	.Buttons button:not(:first-child) {
		margin-top: 24px;
	}
}

@media only screen and (max-width: 960px) {
	.NFT {
		padding: 32px;
	}

	.Copy {
		display: none; /* Hide for now since it breaks mobile/tablet */
	}

	.Contract p {
		padding-right: 0;
	}
}

@media only screen and (max-width: 768px) {
	.NFT {
		flex-direction: column;
	}

	.Info {
		margin-left: 0;
		margin-top: 24px;
	}

	.Fiat {
		margin-top: 6px;
	}

	.Buttons {
		flex-direction: row;
		margin-top: 32px;
	}

	.Buttons > * {
		margin-top: 0 !important;
	}

	.Buttons > *:not(:first-child) {
		margin-left: 32px !important;
	}

	.Horizontal {
		flex-direction: column;
	}

	.Horizontal > div {
		width: 100%;
	}

	.Horizontal > div:not(:first-child) {
		margin-left: 0;
		margin-top: 20px;
	}

	.Story p {
		top: 0;
		position: relative;
		display: block;
	}
	.Details {
		flex-direction: column;
		align-items: flex-start;
	}

	.Price {
		margin-top: 24px;
	}

	.Bid {
		flex-direction: column-reverse;
	}

	.Bid > *:first-child {
		margin-top: 4px;
	}
}

@media only screen and (max-width: 414px) {
	.Price h2 {
		font-size: 18px;
	}

	.Image {
		padding: 16px;
		border-collapse: separate;
	}

	.Crypto {
		font-size: 24px;
	}

	.Fiat {
		font-size: 18px;
	}

	.Members {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 32px;
	}

	.Members > * {
		margin-left: 0 !important;
	}

	.NFT {
		padding: 0;
	}

	.Info {
		padding: 0 24px 24px 24px;
	}
}
