@import '../../../css/color-variables.scss';

.gridContainer {
  background: none;
  width: 100%;
  position: relative;
  border-right: $lp-border;
  border-left: $lp-border;
  border-bottom: $lp-border;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 0px 10px 0px darken(rgba($purple-shadow, 1), 20%);
  background: rgba($dark-purple2, 0.2);
  backdrop-filter: blur(20px);
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  &::before {
    content: '';
    background: rgba($slate, 0.2);
    position: absolute;
    left: 1%;
    width: 98%;
    height: 1px;
  }
  .gridMargin {
    display: grid;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding-top: 10px;
    .gridCell {
      position: relative;
      margin-bottom: 35px;
      height: 525px;
      width: 388px;
      background: linear-gradient(
        92.24deg,
        rgba(190, 96, 255, 0.1) 0%,
        rgba(78, 0, 132, 0.1) 100%
      );
      border-radius: 10px;
      overflow: hidden;
      transition: all 0.4s ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: space-between;
      cursor: pointer;
      &:hover {
        transform: scale(1.01);
        box-shadow: 0px 0px 15px 5px $bright;
      }
      .gridCellContent {
        position: relative;
        margin: 20px;
        height: 100%;
        width: auto;
        color: #fff;
        font-size: 16px;
        text-shadow: 0px 0px 10px rgba($med-blue, 0.7);
        .topbar {
          height: 32px;
          // border: 1px blue solid;
          margin-bottom: 8px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            .avatar {
              margin-right: 12px;
              img {
                height: 32px;
                width: 32px;
              }
            }
            .artist {
            }
          }
          .dots {
            margin-top: auto;
            margin-bottom: auto;
            height: 18px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            & > div {
              height: 4px;
              width: 4px;
              border-radius: 50%;
              background: #fff;
            }
          }
        }
        .name {
          height: 29px;
          margin-bottom: 4px;
          font-size: 24px;
        }
        .image {
          height: 348px;
          margin-bottom: 12px;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          overflow: hidden;
          .domainImage {
            overflow: hidden;
            object-fit: cover;
            max-height: 100%;
            margin: auto;
          }
        }
        .text {
          height: 19px;
          color: $med-blue;
          text-transform: uppercase;
          font-weight: bold;
          margin-bottom: 4px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
        .price {
          height: 29px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          font-size: 24px;
        }
      }
    }
  }
}

//
// @media queries
//

@media (max-width: 148880px) {
  .gridMargin {
    grid-template-columns: repeat(3, 388px);
  }
}

@media (max-width: 1435px) {
  .gridMargin {
    grid-template-columns: repeat(2, 388px);
  }
}

@media (max-width: 1044px) {
  .gridMargin {
    grid-template-columns: repeat(1, 388px);
  }
}
