@use 'styles/variables/dimensions';

.Content {
	display: flex;
	flex-direction: column;
	align-items: center;

	.ButtonContainer {
		margin-top: 24px;

		// Tablet Breakpoints
		@media only screen and (
			min-width: #{dimensions.$breakpoint-tablet-s}) {
			margin-top: 32px;
		}

		// Desktop Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
			margin-top: 40px;
		}

		.Button {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
