.Wilder {
	position: fixed;
	top: 29px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 54px;
	height: 54px;
	background: linear-gradient(180deg, #1c4358 0%, #2a0047 100%);
	border-radius: 50%;
	transform: translateX(calc(-100% - 19px));
	transition: transform var(--animation-time-medium) ease-in-out;
	cursor: pointer;
	z-index: 4;

	img {
		max-width: calc(65% - 1px);
		height: auto;
		margin-left: 1px;
		user-drag: none;
		user-select: none;
	}
}
