@use 'styles/variables/animations';

.ToggleSection {
	width: 100%;
}

.Header {
	display: flex;
	cursor: pointer;
}

.Header > span {
	margin-left: 14px;
}

.Header > img {
	transition: transform #{animations.$time-short} ease-in-out;
}

.Open {
	display: block;
}

.Closed {
	display: none;
}
