.FilterBar {
	position: fixed;
	top: 29px;
	height: 110px;
	margin-left: 0;
	margin-right: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: var(--color-background-alt);

	border-radius: var(--box-radius);
	z-index: 5;

	transition: opacity 0.2s ease-in-out, 0.2s ease-in-out;
	transform: translateY(0);
}

.Wilder {
	position: absolute;
	top: 0;
	left: -19px;
	height: 56px;
	width: 56px;

	background: linear-gradient(180deg, #1c4358 0%, #2a0047 100%);
	border-radius: 50%;

	transform: translateX(-100%);

	cursor: pointer;

	transition: transform var(--animation-time-medium) ease-in-out;
}

.Wilder:hover {
	transform: translateX(-100%) scale(1.1);
}

.Wilder img {
	width: 100%;
	height: 100%;
}

.Hidden {
	opacity: 0;
	transform: translateY(-100px);
}

.FilterBar > ul {
	display: flex;

	width: 100%;

	padding: 0 20px 12px 20px;
}

.FilterBar > ul > li:not(:first-child) {
	margin-left: 28px;
}

.FilterBar > ul button {
	font-size: 16px;
	padding-left: 0;
	padding-right: 0;
}

@media only screen and (max-width: 1282px) {
	.Wilder {
		display: none;
	}
}
