$full-width: 240px;
$transform: translateX(calc(-100% - (var(--width-max) / 2)));
$break-hide-image: calc(var(--width-max) + ($full-width * 2));
$icon-container-size: 54px;

.BorderContainer {
	// Mobile
	display: none;
	border-right: 1px solid var(--color-grey-mine-shaft);

	// Tablet
	@media only screen and (min-width: 744px) {
		display: flex;
	}
}

.Container {
	// Container Mobile
	display: none;

	// Container Tablet
	@media only screen and (min-width: 744px) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: sticky;
		top: 0;
		height: 100vh;
		max-height: 100vh;
		overflow: auto;
		width: auto !important;
		align-items: center;
		padding: 18px 4px 6px 4px;
		z-index: 10000;
	}

	// Container Desktop
	// @media only screen and (min-width: 1200px) {
	// 	margin: 0 10px;
	// 	align-items: flex-start;
	// 	padding: 0 24px;
	// }

	.LinkContainer {
		// Mobile + Tablet
		display: flex;
		flex-direction: column;

		// Laptop/Desktop
		// @media only screen and (min-width: 1200px) {
		// 	align-items: flex-start;
		// 	margin: 24px 0 0 0;
		// }

		.HomeLink {
			display: flex;
			justify-content: center;
		}
	}

	.Network {
		// Mobile
		display: none;

		// Tablet + Laptop/Desktop
		// @media only screen and (min-width: 1200px) {
		// 	display: block;
		// 	width: 100%;
		// 	padding: 11px;
		// 	background: var(--color-success);
		// 	border-radius: var(--box-radius);
		// 	margin-top: 16px;
		// }
	}

	.Icon {
		display: flex;
		justify-content: center;
		align-items: center;
		height: $icon-container-size;
		width: $icon-container-size;

		img {
			max-height: 100%;
			max-width: 100%;
			object-fit: contain;
		}

		border-radius: 50%;
	}

	.Links {
		margin-top: 8px;
		font-size: 20px;

		> li {
			padding: 12px 11px;

			> a {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0;
				color: var(--color-cornflower-blue);
				font-weight: 400;

				&.Selected {
					text-shadow: var(--glow-text-primary);
					font-weight: 600;
					color: var(--color-text-primary);
				}

				label {
					display: none;
					// cursor: pointer;
				}

				> img {
					height: 22px;
					width: 22px;
					margin-right: 0;

					// margin-right: 12px;
				}
			}
		}
	}

	.Footer {
		> * {
			width: 100%;
			&:first-child {
				display: none;
				margin: 8px;

				// Laptop/Desktop
				// @media only screen and (min-width: 1200px) {
				// 	display: flex;
				// }
			}
		}

		.Zero {
			height: 32px;
			width: 32px;
			align-self: baseline;

			// Laptop/Desktop
			// @media only screen and (min-width: 1200px) {
			// 	margin: 4px 0 0 8px;
			// }
		}
	}
}
