@use 'styles/variables/dimensions';

$icon-container-size: 54px;

.BorderContainer {
	// Mobile Breakpoints
	display: none;
	border-right: 1px solid var(--color-grey-mine-shaft);

	// Tablet Breakpoints
	@media only screen and (min-width: #{dimensions.$breakpoint-small}) {
		display: flex;
	}

	// Desktp Breakpoints
	@media only screen and (min-width: #{dimensions.$breakpoint-max}) {
		width: 240px;
	}
}

.Container {
	// Mobile Breakpoints
	display: none;

	// Tablet Breakpoints
	@media only screen and (min-width: 744px) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: sticky;
		top: 0;
		height: 100vh;
		max-height: 100vh;
		overflow: auto;
		width: auto !important;
		align-items: center;
		padding: 18px 4px 12px 4px;
		z-index: 10000;

		// Desktp Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-max}) {
			padding: 35px 24px;
			align-items: unset;
			overflow: unset;
		}
	}

	.LinkContainer {
		// Mobile + Tablet Breakpoints
		display: flex;
		flex-direction: column;

		// Desktop Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-max}) {
			align-items: flex-start;
		}

		.HomeLink {
			display: flex;
			justify-content: center;

			// Desktop Breakpoints
			@media only screen and (min-width: #{dimensions.$breakpoint-max}) {
				margin-left: 10px;
			}
		}
	}

	.Network {
		// Mobile + Tablet Breakpoints
		display: none;
	}

	.Icon {
		display: flex;
		justify-content: center;
		align-items: center;
		height: $icon-container-size;
		width: $icon-container-size;
		border-radius: 50%;

		img {
			max-height: 100%;
			max-width: 100%;
			object-fit: contain;
		}
	}

	.Links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 8px;
		font-size: 20px;

		> li {
			padding: 12px 11px;

			> a {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 12px;
				padding: 0;
				color: var(--color-cornflower-blue);
				font-weight: 400;

				&.Selected {
					text-shadow: var(--glow-text-primary);
					font-weight: 600;
					color: var(--color-text-primary);

					@media only screen and (max-width: #{dimensions.$breakpoint-max}) {
						img {
							position: relative;

							&::before {
								content: ' ';
								position: absolute;
								top: 0;
								left: 0;
								background: red;
								height: 48px;
								width: 48px;
							}
						}
					}
				}

				label {
					display: none;

					// Desktop Breakpoints
					@media only screen and (min-width: #{dimensions.$breakpoint-max}) {
						display: flex;
						cursor: pointer;
					}
				}

				> img {
					height: 22px;
					width: 22px;
					margin-right: 0;
				}
			}
		}
	}

	.Footer {
		> * {
			&:first-child {
				display: none;

				// Desktop Breakpoints
				@media only screen and (min-width: #{dimensions.$breakpoint-max}) {
					display: flex;
					margin-bottom: 12px;
					width: 192px;
				}
			}
		}

		.ZeroIconContainer {
			display: flex;
			justify-content: center;
			width: $icon-container-size;

			.Zero {
				height: 36px;
				width: 36px;
			}
		}
	}
}
