$full-width: 240px;
$transform: translateX(calc(-100% - (var(--width-max) / 2)));

$break-hide-image: calc(var(--width-max) + ($full-width * 2));

.Container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: fixed;
	top: 0;
	left: 50%;
	height: 100vh;
	width: $full-width;
	padding: 24px;

	@media only screen and (max-width: 1216px) {
		width: auto !important;
		align-items: center;
	}

	transform: $transform;

	.Icon {
		height: 54px;
		width: 54px;
		border-radius: 50%;

		background: yellow;
	}

	.Links {
		margin-top: 24px;
		font-size: 20px;

		> li {
			padding: 12px 8px;

			> a {
				display: flex;
				align-items: center;
				padding: 0;

				@media only screen and (max-width: 1216px) {
					justify-content: center;
				}

				&.Selected {
					text-shadow: var(--glow-text-blue);
				}

				label {
					font-weight: 500;
					color: var(--color-text-primary);

					cursor: pointer;

					@media only screen and (max-width: 1216px) {
						display: none;
					}
				}

				> img {
					height: 22px;
					width: 22px;

					margin-right: 12px;

					@media only screen and (max-width: 1216px) {
						margin-right: 0;
					}
				}
			}
		}
	}
}
