.SideBar {
	height: 100vh;
	width: 56px;

	display: flex;
	flex-direction: column;	
	justify-content: center;

	position: fixed;
	top: 0;

	transform: translateX(calc(-100% - 19px));
}

/* Navigator Styling */
.Navigator {
	border-radius: 27px;
	padding: 7px 5px;

	background-color: #4E008466;
}

.Icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Icons li {
	height: 44px;
	width: 44px;

	border-radius: 50%;

	background-color: rgba(0, 209, 255, 0.1);
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;

	cursor: pointer;
}

.Icons li:not(:first-child) {
	margin-top: 12px;
}