@use 'styles/variables/dimensions';

.ServicePageContainer {
	.BackgroundContainer {
		position: absolute;
		height: 100vh;
		width: 100vw;
		z-index: -1;
		backdrop-filter: blur(6px);
		background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(0, 0, 0, 0.73) 0%,
			rgba(0, 0, 0, 0.43) 100%
		);
		// Tablet Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
			backdrop-filter: blur(8px);
		}
	}
	.BackgroundImage {
		// Mobile Breakpoints
		position: absolute;
		width: 100%;
		height: 100%;
		max-height: 258px;
		max-width: 275px;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		margin-left: auto;
		margin-right: auto;
		z-index: -2;
		opacity: 0.5;
		background-image: url('./assets/WWLogo_SVG.svg');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		// Tablet Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
			max-height: 392px;
			max-width: 416px;
		}
		// Desktop Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
			max-height: 608px;
			max-width: 645px;
		}
	}

	.Main {
		height: 100vh;

		.NavBar {
			// Mobile Breakpoints
			display: flex;
			align-self: flex-start;
			padding: 22px 16px;

			// Tablet Breakpoints
			@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
				padding: 24px;
			}

			// Desktop Breakpoints
			@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
				padding: 28px;
			}

			.HomeLink {
				display: flex;
				justify-content: center;

				// Mobile Breakpoints
				img {
					height: 32px !important;
					width: 36px !important;
				}

				// Tablet Breakpoints
				@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
					img {
						height: 47px !important;
						width: 52px !important;
					}
				}
			}
		}
	}
}
