@use 'styles/variables/dimensions';

.StepBarContainer {
	display: none;
	margin: -14px 6px 40px 6px;

	@media only screen and (min-width: #{dimensions.$breakpoint-mobile-xl}) {
		display: flex;
	}
}
