.info-button {
	height: 40px;
	width: 40px;

	transition: all var(--animation-time-short) linear;

	&__container {
		.info-button {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0;
			background: none;
		}

		&:hover {
			.info-button {
				border-radius: 8px;
				background: #1a1022;

				svg {
					circle {
						fill: white;
					}
				}

				&::after {
					box-shadow: none !important;
				}
			}

			.info-panel__container {
				display: block;
			}
		}
	}
}
