@use 'styles/variables/dimensions';
@use 'styles/variables/colors';
@use 'styles/variables/typography';

.HeadingContainer {
	max-width: 236px;
	margin-bottom: 8px;
	text-align: center;

	// Tablet Breakpoints
	@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
		max-width: 518px;
		margin-bottom: 18px;
	}

	// Desktop Breakpoints
	@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
		max-width: unset;
		margin-bottom: 24px;
	}

	h1 {
		// Mobile Breakpoints
		font-size: 28px;
		line-height: 33px;
		font-family: typography.$ddt;
		background: linear-gradient(90deg, #5257ff 0%, #52cbff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;

		// Tablet Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
			font-size: 62px;
			line-height: 74.5px;
		}
	}
}
.SubTextContainer {
	// Mobile Breakpoints
	max-width: 225px;

	// Tablet Breakpoints
	@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
		max-width: 528px;
	}

	// Desktop Breakpoints
	@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
		max-width: unset;
	}

	p {
		// Mobile Breakpoints
		font-size: 12px;
		line-height: 14.5px;
		text-align: center;
		padding: 0;

		// Tablet Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
			font-size: 24px;
			line-height: 29px;
		}
	}
}
