@use 'styles/variables/dimensions';
@use 'styles/variables/typography';
@use 'styles/variables/colors';

.Container {
	width: 100%;
	padding: 32px;

	.Divider {
		display: none;

		@media only screen and (max-width: #{dimensions.$breakpoint-tablet-s}) {
			display: block;
		}
	}

	@media only screen and (max-width: #{dimensions.$breakpoint-tablet-s}) {
		padding: 0;
		background: none;
	}

	button {
		width: 100%;

		margin-top: 41px;

		@media only screen and (max-width: #{dimensions.$breakpoint-tablet-s}) {
			margin-top: 26px;
		}
	}

	hr {
		margin-top: 26px;
		border: 0;
		height: 1px;
		background: #{colors.$mine-shaft};
	}
}

.Actions {
	.InputContainer {
		position: relative;

		.Input {
			padding-right: 82px;
		}

		.Max {
			position: absolute;
			top: 50%;
			right: 24px;
			margin: 0;
			padding: 0;
			width: auto;

			font-size: #{typography.$size-small};
			color: #{colors.$text-primary};

			transform: translateY(-50%);
			z-index: 3;

			img {
				display: none;
			}
		}
	}

	@media only screen and (max-width: #{dimensions.$breakpoint-tablet-s}) {
		margin-top: 24px;
	}
}

.Balances {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 24px;
	gap: 32px;

	.Balance {
		flex-direction: column;
		text-align: left;

		.Tokens {
			font-size: #{typography.$size-medium};
			display: block;
		}

		.Fiat {
			font-size: #{typography.$size-tiny};
			display: block;
		}

		> span {
			font-size: #{typography.$size-tiny};
			color: #{colors.$silver};
		}
	}
}
