@use 'styles/variables/colors';
@use 'styles/variables/borders';
@use 'styles/variables/animations';

.ProfileButton {
	position: relative;
	padding: 0;

	height: 32px;
	width: 32px;

	color: #{colors.$blue};
	background-color: #{colors.$black};

	border-radius: 50%;

	transition: background-color #{animations.$time-short} ease-in-out;
}

.ProfileButton > img {
	height: 100%;
	width: 100%;
}

.ProfileButton::after {
	content: ' ';
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0px;
	width: 0px;
	border-radius: #{borders.$radius-primary};

	transition: box-shadow #{animations.$time-short} ease-in-out;
}

.ProfileButton:hover {
	text-shadow: #{colors.$text-glow-primary};
}

.ProfileButton:hover {
	text-shadow: #{colors.$text-glow-primary};
	background-color: rgba(colors.$white, 0.02);
}

.Selected {
	color: #{colors.$text-primary};
	background-color: rgba(colors.$white, 0.02);
}

.Selected:after {
	box-shadow: 0px 0px 17px 12px rgba(colors.$white, 0.5);
}
