@use 'styles/variables/colors';
@use 'styles/variables/typography';

.Container {
	.Group {
		&:not(:first-of-type) {
			margin-top: 8px;
		}

		h2 {
			font-weight: 700;
			color: #{colors.$silver};
			padding: 8px;
		}

		.Event {
			display: flex;
			justify-content: space-between;

			@media only screen and (max-width: 800px) {
				flex-direction: column-reverse;

				> span:first-child {
					margin-top: 4px;
				}

				> span:last-child {
					font-size: #{typography.$size-tiny};
				}
			}

			margin-top: 8px;
			padding: 8px 0;

			color: #{colors.$alto};

			b {
				color: #{colors.$text-primary};
			}
		}
	}
}
