@use 'styles/variables/colors';
@use 'styles/variables/animations';

.Bar {
	position: relative;
	width: 100%;
}

.Bar ul {
	display: flex;
}

.Tab button {
	font-size: 18px;
	font-weight: 700;
	color: #{colors.$silver};
	background: none;
	/* transition: font-weight #{animations.$time-medium} ease-in-out; */
}

.Selected button {
	color: #{colors.$text-primary};
	text-shadow: #{colors.$text-glow-white};
	transition: text-shadow #{animations.$time-medium} ease-in-out,
		color #{animations.$time-short} ease-in-out;
}

.Tab:not(:last-child) {
	margin-right: 40px;
}

.Bar hr {
	margin-top: 4px;
}

.Slider {
	position: absolute;
	top: calc(100% - 1px);
	height: 0px;
	box-shadow: 0px 0px 5px 0px #{colors.$electric-violet};
	border: 1px solid #e0baff;
	z-index: 1;
	left: 0;
	transition: left #{animations.$time-medium} ease-in-out,
		width #{animations.$time-medium} ease-in-out;
}
