.Member {
	display: flex;

	.SubText {
		color: var(--color-grey-lighter-2);
		font-size: 12px;
		font-weight: 400;
	}
}

.Image {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	margin-right: 12px;
	/* background-color: rgba(0,0,0,0.5); */
	overflow: hidden;
	cursor: pointer;
	transition: transform var(--animation-time-medium) ease-in-out;
}

.Image:hover {
	transform: scale(1.1);
}

.Image > * {
	height: 100%;
	width: 100%;
}

.Info > * {
	display: block;
}

.Info > span:first-of-type {
	cursor: pointer;
}

.Info > span:last-of-type {
	color: var(--color-primary-lighter-3);
}
