@use 'styles/variables/typography';
@use 'styles/variables/animations';

.Member {
	display: flex;
}

.Image {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	margin-right: 12px;
	/* background-color: rgba(0,0,0,0.5); */
	overflow: hidden;
	cursor: pointer;
	transition: transform #{animations.$time-medium} ease-in-out;
}

.Image:hover {
	transform: scale(1.1);
}

.Image > * {
	height: 100%;
	width: 100%;
}

.Info > * {
	display: block;
}

.Info > span:first-of-type {
	cursor: pointer;
}

.Subtext {
	font-size: #{typography.$size-tiny};
	color: var(--color-primary-lighter-3);
}
