.MaintenanceContainer {
	font-weight: 100;
	font-size: 20px;

	.Heading {
		padding: 15px 0;
		font-size: 50px;
		font-weight: 100;
		text-align: center;
	}

	.Logo {
		height: 150px !important;
		width: 150px !important;
	}

	.Article {
		display: block;
		width: 700px;
		margin: 0 auto;
	}
}
