@use 'styles/variables/dimensions';

.MaintenanceContainer {
	height: 100vh;

	.NavBar {
		// Mobile Breakpoints
		display: flex;
		align-self: flex-start;
		padding: 22px 16px;

		// Tablet Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
			padding: 24px;
		}

		// Desktop Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
			padding: 28px;
		}

		.HomeLink {
			display: flex;
			justify-content: center;

			// Mobile Breakpoints
			img {
				height: 32px !important;
				width: 36px !important;
			}

			// Tablet Breakpoints
			@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
				img {
					height: 47px !important;
					width: 52px !important;
				}
			}
		}
	}
}
