@use 'styles/variables/dimensions';

.MaintenanceContainer {
	height: 100vh;

	.NavBar {
		// Mobile Breakpoints
		display: flex;
		align-self: flex-start;
		padding: 22px 16px;

		// Tablet Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-xs}) {
			padding: 24px;
		}

		// Desktop Breakpoints
		@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
			padding: 28px;
		}

		.HomeLink {
			display: flex;
			justify-content: center;

			// Mobile Breakpoints
			img {
				height: 32px !important;
				width: 36px !important;
			}

			// Tablet Breakpoints
			@media only screen and (min-width: #{dimensions.$breakpoint-tablet-xs}) {
				img {
					height: 47px !important;
					width: 52px !important;
				}
			}
		}
	}

	.ContentContainer {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		.Content {
			display: flex;
			flex-direction: column;
			align-items: center;

			.Title {
				// Mobile Breakpoints
				font-weight: 600px;
				font-size: 80px;
				line-height: 96px;

				// Tablet Breakpoints
				@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
					font-size: 94px;
					line-height: 113px;
				}

				// Desktop Breakpoints
				@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
					font-size: 152px;
					line-height: 183px;
				}
			}

			.SecondaryTitle {
				// Mobile Breakpoints
				font-weight: 600px;
				font-size: 14px;
				line-height: 16px;

				// Tablet Breakpoints
				@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
					font-size: 34px;
					line-height: 45px;
				}

				// Desktop Breakpoints
				@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
					font-size: 55px;
					line-height: 74px;
				}
			}

			.Subtext {
				// Mobile Breakpoints
				font-weight: 400px;
				font-size: 12px;
				line-height: 14.5px;

				// Tablet Breakpoints
				@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
					font-size: 20px;
					line-height: 24px;
				}

				// Desktop Breakpoints
				@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
					font-size: 31px;
					line-height: 37.5px;
				}
			}

			.Button {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}
