.StatsWidget {
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 16px;
}

.previewView {
	background: #1a1022;
	// border: 1px solid #3b3b3b;
	box-sizing: border-box;
	// box-shadow: 0px 0px 16px rgba(140, 84, 221, 0.25);
	height: 100%;
}

.normalView {
	background: #1a1022;
	border-radius: 16px;
	height: 100%;
}

.StatsFieldName {
	color: #bfbfbf;
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 2px;
}

.StatsTitle {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	margin: 2px 0px;
}

.StatsSubText {
	font-size: 12px;
	line-height: 15px;
	color: #bfbfbf;
	margin-top: 2px;
}

.StatsAccentText {
	color: #58c573;
}

.SpinnerContainer {
	margin: 9.5px 0;
	text-align: center;
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 520px) {
	.previewView {
		margin: 4px 0;
		&:first-child {
			margin-top: 0px;
		}
		&:last-child {
			margin-bottom: 0px;
		}
	}
}
