@use 'styles/variables/dimensions';

.StatsWidget {
	border-radius: var(--box-radius);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 16px;
	height: 100%;
}

.previewView {
	background: #1a1022;
	box-sizing: border-box;
}

.normalView {
	background: #1a1022;
	border-radius: var(--box-radius);
}

.StatsFieldName {
	color: var(--color-grey-lighter-2);
	font-size: var(--font-size-small);
	line-height: 15px;
	margin-bottom: 2px;
}

.StatsTitle {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	margin: 2px 0px;
}

.StatsSubText {
	font-size: var(--font-size-small);
	line-height: 15px;
	color: var(--color-grey-lighter-2);
	margin-top: 2px;
}

.StatsAccentText {
	color: #58c573;
}

.SpinnerContainer {
	margin: 9.5px 0;
	text-align: center;
	display: flex;
	align-items: center;
}

@media only screen and (max-width:  #{dimensions.$breakpoint-tablet-s}) {
	.previewView {
		margin: 4px 0;
		&:first-child {
			margin-top: 0px;
		}
		&:last-child {
			margin-bottom: 0px;
		}
	}
}
