@use 'styles/variables/typography';
@use 'styles/variables/colors';
@use 'styles/variables/borders';

$color: #{colors.$revolver-darker};

.Tooltip {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	max-width: 400px;
	padding: 2.5px 16px;

	font-size: #{typography.$size-default};
	line-height: 24px;
	color: #{colors.$text-primary};

	background: $color;

	border-radius: calc(#{borders.$radius-primary} / 2);
	z-index: 2;
}

.Arrow path {
	fill: $color;
}
