$color: #1a1022;

.Tooltip {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	max-width: 400px;
	padding: 24px;

	font-size: var(--font-size-default);
	line-height: 24px;
	color: var(--color-text-primary);

	background: $color;

	border-radius: var(--box-radius);
	z-index: 2;
}

.Arrow path {
	fill: $color;
}
