@use 'styles/variables/animations';
@use 'styles/variables/colors';

.Dropdown {
	position: relative;
	display: flex;
	align-items: flex-end;
}

.Drawer {
	position: absolute;
	top: calc(100%);
	left: 50%;
	width: 224px;
	background: #{colors.$revolver-darker};
	border: 1px solid #{colors.$bossanova};
	transform: translateX(-50%);
	z-index: 10;
	overflow: hidden;
	padding: 8px 0 8px 0;
}

.Drawer li {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 8px 0 8px 16px;
	cursor: pointer;

	img {
		width: 24px;
		height: 24px;
		object-fit: contain;
	}

	transition: text-shadow #{animations.$time-short} ease-in-out,
		font-weight #{animations.$time-short} ease-in-out;

	&:hover {
		text-shadow: #{colors.$text-glow-white};
	}
}

.Selected {
	background: rgba(60, 161, 255, 0.05) !important;
}

.Selected::before {
	opacity: 0 !important;
}
