@import '../src/components/css/components.scss';
@import './index.css';

.App {
  text-align: center;
  // background-color: #641f29;
  // border: 5px blue solid;
  height: 100vh;
}

#bgvid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  // max-width: 100vw;
  max-height: 100vh;
  position: fixed !important;
  overflow: hidden;
  top: 0;
  left: 0;
}

.sideFadeRight {
  position: fixed;
  pointer-events: none;
  right: 0;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: 88px;
  // background: rgb(145, 85, 230);
  background: linear-gradient(
    270deg,
    rgba(145, 85, 230, 0.33) 0%,
    rgba(145, 85, 230, 0) 100%
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

.App-link {
  color: #61dafb;
}

.route-nav {
  display: flex;
  align-items: center;
}

.route-nav-link {
  padding-right: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
