/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import UniviaPro-Regular from './components/css/fonts/UniviaPro-Regular.ttf';

@font-face {
  font-family: 'UniviaProRegular';
  src: url('../src/components/css/fonts/UniviaPro-Regular.woff') format('woff'),
    url('../src/components/css/fonts/UniviaPro-Regular.ttf') format('truetype');
} */

@font-face {
	font-family: 'Eurostile';
	src: local('Eurostile'), url('./fonts/Eurostile-Reg.otf') format('opentype');
}

@font-face {
	font-family: 'Eurostile';
	font-weight: 500;
	src: local('Eurostile'), url('./fonts/Eurostile-Med.otf') format('opentype');
}

@font-face {
	font-family: 'Eurostile';
	font-weight: 700;
	src: local('Eurostile'), url('./fonts/Eurostile-Bol.otf') format('opentype');
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font: normal 0.875em/1.38 UniviaProRegular;
  /* font-family: UniviaProRegular !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #641f29; */
  /* background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('./components/css/img/grainybg.png'); */
  /* background-size: cover; */
  /* background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.47) 100%
  ); */
  /* background-attachment: fixed; */
  height: 100%;
  position: relative;
  background: none;
  color: black;
  max-width: 100vw;
  overflow-x: hidden;
  /* should fix bounce effect when scrolling on ios devices */
  overscroll-behavior: none;
}

button:focus {
  outline: 0;
}
input:focus {
  outline: 0;
}
textarea:focus {
  outline: 0;
}
select:focus {
  outline: 0;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

#root {
  position: relative;
  padding-top: 140px;
}