.Stats {
	display: flex;
	margin-top: 24px;

	> * {
		flex: 1;

		&:not(:last-child) {
			margin-right: 16px;
		}
	}
}

.DAO {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	font-weight: 700;
}
