@use 'styles/variables/typography';
@use 'styles/variables/colors';

.Row {
	cursor: pointer;
}

.Row:hover {
	background: #{colors.$revolver-darker};
}

.Row td:first-of-type {
	width: 50px;
	text-align: center;
}

.Right {
	text-align: right;
}

.Right > * {
	margin-left: auto;
}

.Left {
	text-align: left;
}

.Left > * {
	margin-right: auto;
}

.Bid {
	display: block;
}

.Bid:not(:first-child) {
	margin-top: 2px;
	color: #{colors.$gray};
	font-size: #{typography.$size-tiny};
}

@media only screen and (max-width: 1024px) {
	.volumeCol {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.lastSaleCol {
		display: none;
	}
}
