@use 'styles/variables/dimensions';
@use 'styles/variables/typography';
@use 'styles/variables/colors';

.Container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	min-height: 40px;
	margin-top: 16px;
}

.Bid {
	display: flex;
	flex-direction: column;
}

.Bid label {
	font-size: #{typography.$size-tiny};
	color: #{colors.$grey-lighter-2};
}

.Crypto {
	margin-top: 2px;
	font-size: #{typography.$size-small};
	font-weight: #{typography.$font-weight-bold};
	line-height: 16px;
	color: #{colors.$text-primary};
}

.Fiat {
	font-size: #{typography.$size-tiny};
	color: #{colors.$grey-lighter-2};
	margin-top: 2px;
}

.ButtonContainer {
	display: flex;
	justify-content: flex-end;

	@media only screen and (min-width: #{dimensions.$breakpoint-mobile-m}) {
		display: none;
	}

	@media only screen and (min-width: #{dimensions.$breakpoint-mobile-l}) {
		display: flex;
	}

	.BidButton {
		padding: 0 8px;

		@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
			padding: 0 16px;
		}
	}
}
