@use 'styles/variables/typography';
@use 'styles/variables/animations';
@use 'styles/variables/colors';

$width: 640px;
$gutter: 16px;

.MintNewNFT {
	max-width: $width;
	padding: 48px;
	overflow: hidden;
}

.Blocker {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.Header {
	display: flex;
	align-items: center;
	flex-direction: column;

	width: 100%;
}

.Header h1 {
	font-size: #{typography.$size-large};
	font-weight: #{typography.$font-weight-bold};
	text-align: center;
	overflow-wrap: anywhere;
}

.Header h2 {
	font-size: #{typography.$size-default};
}

.Header > div {
	display: flex;
	align-items: center;
	text-align: center;
	overflow-wrap: anywhere;

	margin-top: 8px;
}

.Header > div > span {
	margin-left: 32px;
}

.Container {
	position: relative;
	height: auto;
}

.Section {
	padding-top: 80px;

	@media only screen and (max-width: #{$width + $gutter + $gutter}) {
		padding-top: 24px;
	}

	.FlexWrapper {
		display: flex;

		@media only screen and (max-width: #{$width + $gutter + $gutter}) {
			align-items: center;
			flex-direction: column;

			> * {
				width: 100%;
			}

			.Inputs {
				max-width: unset;
			}
		}
	}

	.TextStoryInput {
		margin-top: 40px;

		@media only screen and (max-width: #{$width + $gutter + $gutter}) {
			margin-top: 0;
		}
	}

	.SubmitButton {
		margin: 40px auto 0 auto;
		height: 36px;
		border-radius: 18px;

		@media only screen and (max-width: #{$width + $gutter + $gutter}) {
			margin: 24px auto;
		}
	}
}

.NFT {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 224px;
	width: 224px;
	min-width: 224px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	border: 1px solid #88d7ff;
	overflow: hidden;

	cursor: pointer;
	transition: transform #{animations.$time-medium} ease-in-out,
		border-color #{animations.$time-medium} ease-in-out;

	@media only screen and (max-width: #{$width + $gutter + $gutter}) {
		width: auto;
		max-width: 224px;
	}
}

/* .NFT:not(.Uploaded):hover {
	transform: scale(1.03);
} */

.NFT.Uploaded {
	background: #{colors.$off-black-3};
	border: none;
	overflow: visible;
	border-radius: 0;
	margin: 0 auto;
}

.Uploaded:hover > img,
.Uploaded:hover > video {
	transform: scale(1.05);
}

.NFT > img {
	height: 100%;
}

.NFT > img,
.NFT > video {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	transition: transform #{animations.$time-medium} ease-in-out;
}

.Inputs {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-left: 24px;

	@media only screen and (max-width: #{$width + $gutter + $gutter}) {
		margin: 24px 0;
		max-width: 244px;
	}
}

.Inputs > input:not(:first-child) {
	margin-top: 24px;
}

.Summary {
	display: flex;
	gap: 16px;

	@media only screen and (max-width: #{$width + $gutter + $gutter}) {
		flex-direction: column;
	}
}

.Summary h2 {
	font-size: #{typography.$size-large};
}

.Summary li {
	position: relative;
	padding-top: 2px;
	padding-left: 40px;
	overflow-wrap: anywhere;
	margin-top: 8px;
}

.Summary li:not(:first-of-type) {
	margin-top: 16px;
}

.Icon > div {
	content: ' ' !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	height: 24px !important;
	width: 24px !important;
}

.Name {
	font-weight: #{typography.$font-weight-bold};
}

.Estimate {
	font-weight: #{typography.$font-weight-bold};
	color: #{colors.$mauve};
	margin: 16px auto 0 auto;
}

.Error {
	padding: 0;
	font-weight: #{typography.$font-weight-bold} !important;
	color: #{colors.$mauve};
}
