.nextDrop {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;

	width: 100%;

	padding: 15px 20px 16px 20px;

	cursor: pointer;
}

.Background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background: linear-gradient(
		90deg,
		rgb(137, 48, 238) 0%,
		rgb(175, 114, 243) 100%
	);
	opacity: 0.25;
	transition: opacity var(--animation-time-medium) ease-in-out;
	z-index: -1;
}

.nextDrop:hover .Background {
	opacity: 0.35;
}

.nextDrop span {
	color: #fff !important;
}

.nextDrop > img {
	height: 64px;
	width: 64px;

	margin-right: 12px;

	border-radius: 50%;
}

.nextDrop h5 {
	font-size: 24px;
	font-weight: 700;

	color: var(--color-accent-1);
}

.nextDrop h5 > span {
	color: #9dd0ff;
}

.nextDrop p {
	margin-top: 12px;
	padding-bottom: 0;

	font-weight: 700;
}

.nextDrop p > span {
	color: var(--color-accent-1);
}

.Remaining {
	margin-left: 0px;
}

.Bid {
	margin-left: 16px;
	font-weight: 700;
	color: #52cbff;
}

.Arrow {
	margin-left: 6px;
	margin-top: -20px;
}

@media only screen and (max-width: 1000px) {
	.Bid {
		display: none;
	}
}

@media only screen and (max-width: 400px) {
	.nextDrop {
		font-size: 14px;
	}
}
