@use 'styles/variables/dimensions';
@use 'styles/variables/typography';
@use 'styles/variables/colors';
@use 'styles/variables/borders';
@use 'styles/variables/animations';

/* Mobile First */
.Container {
	width: 100%;
	position: relative;
	border-radius: #{borders.$radius-primary};
	overflow: hidden;
	z-index: 2;
	transition: box-shadow #{animations.$time-medium} ease-in-out;
	transition: filter #{animations.$time-medium} ease-in-out;
	transition: transform #{animations.$time-medium} ease-in-out;
	border: none;
	background: #{colors.$revolver};
	padding: 0;
	text-align: left;
}

.Container:hover {
	transform: scale(1.01);
}

.Background {
	display: flex;
	min-width: 100%;
	min-height: 100%;
	right: -150px;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: 80%;

	opacity: 0.5;
	position: absolute;
}

.Content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 124px;
	padding: 26px 16px;
	position: relative;
}

.Content:hover {
	cursor: pointer;
}

/* Text */
.Title {
	background: #{colors.$cosmic-gradient};
	background-clip: text;
	-webkit-text-fill-color: transparent;

	font-family: #{typography.$font};
	font-weight: #{typography.$font-weight-bold};
	font-size: #{typography.$size-default};
	line-height: 24px;
}

.Label {
	font-family: #{typography.$font};
	font-weight: #{typography.$font-weight-regular};
	font-size: #{typography.$size-tiny};
	padding-bottom: 0;
	margin-top: 4px;

	color: #{colors.$text-primary};
}

/*Button*/
.Button {
	font-family: #{typography.$font};
	color: #{colors.$malibu};
	background: none;
	z-index: 2;
	transition: text-shadow #{animations.$time-medium} ease-in-out;
	padding-bottom: 0;
	margin-top: 8px;

	font-weight: #{typography.$font-weight-bold};
	font-size: #{typography.$size-default};

	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.Button img {
	margin-left: 6px;
}

/* Tablet Resolution */
@media only screen and (min-width: #{dimensions.$breakpoint-tablet-s}) {
	.Content {
		display: flex;
		flex-direction: row;
		padding: 37px 16px;
	}

	.Title {
		font-size: #{typography.$size-medium};
		line-height: 21px;
	}

	.Label {
		font-size: #{typography.$size-small};
		margin-top: 4px;
	}

	.Button {
		top: 50px;
		right: 40px;
		bottom: auto;
		left: auto;
	}

	.Background {
		opacity: 0.6;
		right: 0;
	}
}

@media only screen and (min-width: #{dimensions.$breakpoint-desktop-s}) {
	.Background {
		opacity: 0.7;
		background-position: 70%;
	}
}
