.Container {
	> td {
		&:first-of-type {
			padding-left: 8px !important;
			max-width: 335px;
		}
		&:last-of-type {
			padding-right: 8px !important;
		}
	}

	.Right {
		text-align: right;
		margin-left: auto;
		word-wrap: break-word;
		width: 180px;
	}

	.Action {
		width: 56px;
	}
}
