@use 'styles/variables/typography';
@use 'styles/variables/colors';

.ImageCard {
	img {
		width: auto !important;
	}

	&:hover {
		cursor: default;
	}

	.Details {
		margin-top: 1rem;
		text-align: left;

		span:first-of-type {
			font-weight: #{typography.$font-weight-bold};
			color: #{colors.$silver};
		}

		.Amount {
			font-size: #{typography.$size-medium};
		}
	}
}
