.ImageCard {
	img {
		width: auto !important;
	}

	&:hover {
		cursor: default;
	}

	.Details {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
		margin-top: 1rem;

		> div:first-of-type {
			text-align: left;
		}

		> div:last-of-type {
			text-align: right;
		}
	}
}
