@use 'styles/variables/dimensions';

.Stats {
	display: flex;
	margin-top: 24px;
	gap: 16px;

	@media only screen and (max-width: #{dimensions.$breakpoint-smaller}) {
		flex-direction: column;
	}

	> * {
		flex: 1;

		height: unset;
		align-content: stretch;
	}
}
